@media (max-width: 1024px) {
    #calendarModal {
        width: 900px !important;
        margin: 0 !important;
    }

    #calendarModal hr {
         width: auto !important;
    }

    #calendar {
        padding: 10px !important;
    }
}


.calendarHidden {
    display: none;
    height: 0;
}

#calendarModal {
    background-color: rgba(255, 255, 255, 0.9);
    width: 1000px;
    height: 650px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    margin: 20px;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 15pt;

    position: fixed;
    top:48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* 이 Modal이 모든 요소들 중 가장 위에 뜨게 하기 위해서 */
}

#calendarModal .calModalTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
        /* 세로기준 가운데 정렬 */
}

#closeXBtn {
    font-size: 30pt;
    margin: 10px 20px;
}

#calendarModal .calModalTop .title {
    font-family: 'Cafe24Supermagic-Bold-v1.0', 'NanumSquare', 'sans-serif';
    font-size: 20pt;
    text-align: left;
    margin: 10px 20px;
}

#calendarModal hr {
    width: 960px;
    margin: 0 auto;
}

.crewCalendarContainer {
    position: relative;
}

.searchDateCont {
    position: absolute;
    top: 0;
    right: 170px;
}

.searchDateCont #searchDate{
    width: 150px;
    height: 32px;
}


/* 풀캘린더 커스텀하기 */

    /* 평일 hover 없애기 */
    .fc-day-mon a:hover, .fc-day-tue a:hover, .fc-day-wed a:hover, .fc-day-thu a:hover, .fc-day-fri a:hover {
        color: #494949;
        text-decoration: none !important;
    }

    /* 일요일 날짜 */
    .fc-day-sun a, .fc-day-sun a:hover {
        color: #dc1b1b;
        text-decoration: none !important;
    }

    /* 토요일 날짜 */
    .fc-day-sat a, .fc-day-sat a:hover {
        color: #055ed3;
        text-decoration: none !important;
    }







