body {
    font-family: 'NanumSquare', 'sans-serif';
    height:100vh;
     background-image: url(/images/pexels-pixabay-327337.jpg);
              background-size: cover;
}
#form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.8);
    margin-top:30px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;

}
h2 {
    text-align: center;
}

main {
    /*background-image: url('/images/pexels-pixabay-327337.jpg');
    background-size: cover;
    background-position: center; */
    display: flex;
      justify-content: center;
      align-items: center;
      height:100vh;
    }


.signup-form {
    max-width: 400px;
    margin-top:40px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top:5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.zip-code {
    display: flex;
    align-items:center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}


.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
.btn-submit:hover {
    background-color: #0056b3;
}

div.create {
    width: 740px;
    text-align: center;
    padding: 30px;
    margin: auto;
}

caption {
    text-align: left;
}

#phone-number-error {
    /* 변경: 오류 메시지 스타일을 지정 */
    font-size: 11px;
    color: #ff3f3f;
    margin: 10px 4px 5px;
}

.zip-code input{
    flex-grow:1;
}