<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/zero.css">
    <title>Document</title>
</head>
<body>
    <div class="container_zero">
        <div class="main_zero">
            <div class="column_zero">
                <div class="start-message">
                    크루즈에서 <br/>
                    당신의 항해를 시작해보세요.
                </div>
                <br/>
                <hr/>
                <div class="start-message2">
                    <p>편리한 통장 관리</p>
                    <p>원활한 소통</p>
                    <p>믿을 수 없는 놀라움</p>
                </div>
                <div class="start-btn">항해 시작</div>
            </div>
        </div>
    </div>
   
    
</body>
</html>