<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tab bootstrap / css 우선순위로 맨 위 -->  
    <link rel="stylesheet" href="../../static/nav_footer/nav_footer.css"/>
    <link rel="stylesheet" href="./css/mypage_userTab.css"/>
    <link rel="stylesheet" href="./css/mypage_userOut.css"/>
    <link rel="stylesheet" href="./css/mypage_board.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- tab bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 500,
          'GRAD' 0,
          'opsz' 224;
          font-size: 28px;
          color: gray;
        }
        </style>
    <title>Document</title>
</head>
<body>

    <nav class="navigator" style="background-color: white;">
		<div>
			<a href="http://localhost:8080/mypage" class="logo_cruise"><i class="fa-brands fa-docker"></i> 크루즈
			</a>
		</div>

		<div class="navigator_menu">
			<div>
				<button id="first_menuButton"
					class="fa-regular fa-bell navigator_menu_link nav-item navButtonClick"></button>
				<div id="first_menu" class="menu-content">
					<a href="#">
					<b>알림!</b><br>
					<label>모임통장 목표 달성완료!</label>
					
					</a>
					
					<a href=""><label style="font-size: 10px;">자세히보기 ></label></a>	
					
				</div>
			</div>

			<div >
				<button id="second_menuButton"
					class="fa-solid fa-bars navigator_menu_link nav-item navButtonClick" ></button>
				<div id="second_menu" class="menu-content menu-content2">
				
				
					<a href="#" >내 정보 수정</a>
					<a href="#" >내 게시글 관리</a> 
					<a href="#" >내 계좌 관리</a>
					<a href="http://localhost:8080/main" >로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
				</div>
			</div>
			<div>
				<button class="voyage_button" type="button" onclick="location.href = 'http://localhost:8080/passbook'">항해시작</button>
			</div>
		</div>

	</nav>

    <div class="user-container">
        <!-- 메뉴 -->
        <div class="mypage-bar">
            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Travel%20and%20places/Passenger%20Ship.png" alt="Passenger Ship" width="230" height="230"/>
            <!-- <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Travel%20and%20places/Water%20Wave.png" alt="Water Wave" width="230" height="230" /> -->
            
            <div class="mypage-profile">
                <p class="pro-name">황윤하</p>
                <p class="pro-email">hyhdbsgk@naver.com</p>
            </div>

            <div class="line"></div>
            
            <div class="mypage-tab-box">
                <div class="mypage-tab">
                    <a href="#">내 프로필</a>
                </div>
                <div class="mypage-tab">
                    <a href="#">내 게시글</a>
                </div>
                <div class="mypage-tab3">
                    <a href="#">이체 비밀번호 관리</a>
                </div>
            </div>
            <div class="logout-box">
                <button class="logout">로그아웃</button>
                |
                <button class="withdrawal">회원탈퇴</button>
                <p class="logo">크루즈</p>
            </div>
        </div>

        <!-- 게시글 관리 -->
        <div class="board-cover">

            
            
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">내가 쓴 게시글</li>
                <li class="tab-link" data-tab="tab-2">내가 쓴 댓글</li>
            </ul>
    
            <div id="tab-1" class="tab-content current">
                <div class="board-div">
                    <table class="board-table">
                        <colgroup>
                            <col/>
                            <col style="width: 120px;"/>
                            <col style="width: 80px;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">제목</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회수</th>
                            </tr>
                        </thead>
                        <!-- 반복 -->

                        <!-- 게시글 없는 경우 - if -->

                        <!-- <tbody>
                            <td class="no-board" colspan="3">등록한 게시글이 없습니다.</td>
                        </tbody> -->

                        <tbody>
                            <tr>
                                <td class="td-article">
                                    <input type="checkbox" id="chk-article-1" name="article-chk"/>
                                    <label for="chk-article-1"></label>
                                    <div class="board-num">1</div>
                                    <div>
                                        <span>[여우모]&nbsp;</span>
                                        <a href="#" >부산여행 !필독!</a>
                                    </div>
                                </td>
                                <td class="td-date">2023.10.04</td>
                                <td class="td-hitcount">11</td>
                            </tr>
                        </tbody>
                        <!-- 반복 -->
                    </table>

                    <div class="bottom-bar">
                        <!-- 게시글 없는 경우 - if -->
                        
                        <!-- <button class="bottom-btn1"><a href="#" >글쓰기</a></button> -->
                        
                        <div>
                            <input type="checkbox" id="all-article-chk"/>
                            <label for="all-article-chk"></label>
                            <span class="chk-text">전체 선택</span>
                        </div>
                        <div>
                            <button class="bottom-btn2">삭제</button>
                            <button class="bottom-btn2"><a href="#" >글쓰기</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-content">
                
                <div class="board-div">
                    <table class="board-table">
                        
                        <thead>
                            <tr>
                                <th colspan="3">댓글</th>
                                <th>작성일</th>
                            </tr>
                        </thead>
                        <!-- 반복 -->

                        <!-- 댓글 없는 경우 - if -->

                        <!-- <tbody>
                            <td class="no-board" colspan="3">등록한 댓글이 없습니다.</td>
                        </tbody> -->

                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="comment-box">
                                        <input type="checkbox" id="chk-comment-1" name="commentChk"/>
                                        <label for="chk-comment-1"></label>
                                        <div class="comment-content">
                                            <a href="#">오키 11월 1일 부산 가보자고~</a>
                                        </div>
                                    </div>
                                    <div class="comment-subject">[여우모] 부산여행 !필독!</div>
                                </td>
                                <td class="td-date">2023.10.04</td>
                            </tr>
                        </tbody>
                        <!-- 반복 -->
                    </table>

                    <div class="bottom-bar">
                        <!-- 댓글 없는 경우 - if -->
                        
                        <!-- <button class="bottom-btn1"><a href="#" >글쓰기</a></button> -->
                        
                        <div>
                            <input type="checkbox" id="all-comment-chk"/>
                            <label for="all-comment-chk"></label>
                            <span class="chk-text">전체 선택</span>
                        </div>
                        <div>
                            <button class="bottom-btn2">삭제</button>
                            <button class="bottom-btn2"><a href="#" >글쓰기</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- "회원 탈퇴" 모달 -->
    <div class="userOutmodal-div">
        <div class="userOutmodal-content">
            <div class="userOut-box">
                <h2 class="userOut-title">회원 탈퇴하시겠습니까?</h2>
                <div class="userOut-content">
                <b> [ 안내사항 ] </b> <br/>
                작성하신 게시글과 댓글은 삭제되지 않고 크루에 계속해서 보존됩니다.
                재가입을 하더라도 탈퇴 이전의 게시글과 댓글은 수정/삭제할 수 없으므로
                삭제를 원하는 게시물 또는 댓글이 있다면 탈퇴 전 반드시 삭제해주시기 바랍니다.
                또한, 탈퇴를 결정한 뒤에는 결정을 취소할 수 없으니 신중히 결정해주세요.
                </div>
                <div class="yn-box">
                    <button class="yBtn">예</button>
                    <button class="nBtn">아니오</button>
                </div>
            </div>
        </div>
    </div>

    <!-- "회원 탈퇴" 확인 모달 -->
    <div class="y-div">
        <div class="y-content">
            <div class="y-box">
                탈퇴되었습니다.
            </div>
            <button class="yes">확인</button>
        </div>
    </div>
    
    <div class="n-div">
        <div class="n-content">
            <div class="n-box">
                계속 항해를 이어갑니다.
            </div>
            <button class="no">확인</button>
        </div>
    </div>

    <footer>
		<div class="footer" >
			<div class="footer_container">
				<div class="footer_menu">
					<p>
						<i class="fa-brands fa-docker"> 크루즈㈜ </i><br> <br> 대표이사
						홍길동 | 사업자등록번호 166-15-01234 | 서울특별시 강남구 테헤란로 1244층 (역삼동, 삼원타워) <br>
					</p>
					<p>
						<i class="fa-solid fa-phone fa-2xs"></i> 유선 상담 1998-0917 평일
						09:00~18:00 (은행 휴무일 제외)
					</p>
				</div>
				<div class="last_line">
					<b>© Cruise. All rights reserved</b>
				</div>
			</div>
		</div>

	</footer>

    <script src="./js/mypage_board.js"></script>
    <script src="./js/mypage_userOut.js"></script>
    <script src="../../static/nav_footer/nav.js"></script>
    
</body>
</html>