<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 네비게이터 바 CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/nav_footer.css"/>
    <!-- ----------------- -->
    <link rel="stylesheet" href="/css/mypage/mypage_crew.css">
    <link rel="stylesheet" href="/css/mypage/mypage_account.css">
    <link rel="stylesheet" href="/css/mypage/mypage_account_modal.css">
    <!-- 계좌 추가 모달의 은행부분 -->
    <link rel="stylesheet" href="/css/mypage/addAccount_banks.css"/>
    <!-- 일정 css -->
    <link rel="stylesheet" href="/css/mypage/scroll.css">
    <link rel="stylesheet" href="/css/mypage/selectbox.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <!-- 구글아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- swiper 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
    /* 아이콘 */
    .material-symbols-outlined { font-variation-settings:'FILL' 0,'wght' 380,'GRAD' 0,'opsz' 24;font-size:20px; }
    .material-symbols-sharp { font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;font-size: 60px;color: white;-webkit-text-stroke: 1px rgb(58, 58, 58); }

    </style>
    
</head>
<body >

    <!-- 헤더 -->
    <nav class="navigator" style="box-shadow: 10px 0px 10px 0px lightgray;">
        <div>
            <a href="http://localhost:8080/mypage" class="logo_cruise"><i class="fa-brands fa-docker"></i> 크루즈
            </a>
        </div>

        <div class="navigator_menu">
            <div>
                <button id="first_menuButton"
                        class="fa-regular fa-bell navigator_menu_link nav-item navButtonClick"></button>
                <div id="first_menu" class="menu-content" style="z-index: 2;">
                    <a href="#">
                        <b>알림!</b><br>
                        <label>모임통장 목표 달성완료!</label>

                    </a>

                    <a href=""><label style="font-size: 10px;">자세히보기 ></label></a>

                </div>
            </div>

            <div >
                <button id="second_menuButton"
                        class="fa-solid fa-bars navigator_menu_link nav-item navButtonClick" ></button>
                <div id="second_menu" class="menu-content menu-content2" style="z-index: 2;">


                    <a href="#" >내 정보 수정</a>
                    <a href="#" >내 게시글 관리</a>
                    <a href="#" >내 계좌 관리</a>
                    <a href="http://localhost:8080/main" >로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
            <div>
                <button class="voyage_button" type="button" onclick="location.href = 'http://localhost:8080/passbook'">항해시작</button>
            </div>
        </div>
    </nav>

    <!-- 모임 페이지 -->
    <div class="container_1">
        <div class="crew-titlebox">
            <div class="crew-title">
                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Triangular%20Flag.png" alt="Triangular Flag" width="60" height="60" />
                
                 내 크루 모아 보기
            </div>
            <div class="slidebox" th:if="${!#lists.isEmpty(crewLists)}">
                <button class="slideBtn-prev">
                    <span class="material-symbols-outlined">arrow_left_alt</span>
                </button>
                <button class="slideBtn-next">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </button>
            </div>
        </div>

        <div class="zeroAccount-box" th:if="${#lists.isEmpty(crewLists)}" style="background-color:#0C0CCA96;">
            <div class="zeroAccount-content">
                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Dotted%20Line%20Face.png" alt="Dotted Line Face" width="150" height="150" />
                <span class="zeroAccount-text">등록된 크루가 없어요ㅠㅠ</span>
            </div>
        </div>

        <form method="post" action="/mypage/mypage_all" name="goForm" >
            <section class="sectionbox" th:if="${!#lists.isEmpty(crewLists)}">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        <!-- 반복문으로 돌리기 -->
                        <!-- 크루넘이 1,2,3,4 배열로 담긴다....난 한 개만 필요한데...ㅜㅠㅜ -->

                        <div class="swiper-slide" th:each="dto:${crewLists}">
                            <div class="crew-box">
                                <div class="crew-detail-box">
                                    <p class="crew-name" th:text="${dto.crew_name}"></p>
                                    <p class="crew-account" th:text="${dto.crew_accountid}"></p>
                                </div>
                                <div class="crew-content" th:text="${dto.crew_info}"></div>
                                <div class="crewBtn-box">
                                    <button class="crewBtn" onclick="javascript:location.href='/crew?crewNum=${dto.crew_num}">크루 보기</button>
                                </div>
                                <button th:id="${dto.crew_num}" class="user-out" type="button" >탈퇴하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>


        <!-- 크스롤 -->
        <div class="crew-scroll-box">
            <div class="crew">
                <button class="crew-scrollBtn" onclick="goToScroll('account-scroll')"> 
                    <span class="material-symbols-sharp">
                        stat_minus_2
                    </span>
                </button>
            </div>
        </div>
    </div>


    <!-- 크루 탈퇴 안내 모달창 -->
    <!-- 크루 탈퇴 예, 아니오 모달 -->

    <script>

        var outBtn = document.getElementsByClassName("user-out");

        for(var i=0;i<outBtn.length;i++){

            document.write('<div class="crewDelmodal-div"><div class="crewDel-content"><div class="crewDel-box">');
            document.write('<h2 class="crewDel-title">[우리는 여우모] 크루에서 정말 탈퇴하시겠습니까?</h2>');
            document.write('<div class="creDel-content"><b> [ 안내사항 ] </b> <br/>' +
            '작성하신 게시글과 댓글은 삭제되지 않고 크루에 계속해서 보존됩니다. ' +
            '재가입을 하더라도 탈퇴 이전의 게시글과 댓글은 수정/삭제할 수 없으므로 ' +
            '삭제를 원하는 게시물 또는 댓글이 있다면 탈퇴 전 반드시 삭제해주시기 바랍니다. ' +
            '또한, 탈퇴를 결정한 뒤에는 결정을 취소할 수 없으니 신중히 결정해주세요.</div>');
            document.write('<div class="yn-box"><button class="yBtn">예</button><button class="nBtn">아니오</button></div>');
            document.write('</div></div></div>');

            document.write('<div class="y-div"><div class="y-content"><div class="y-box">');
            document.write("탈퇴되었습니다.");
            document.write("</div>");
            document.write('<button class="yes" onclick="javascript:location.href=\'/mypage/mypage_all_ok?crewNum=${dto.crew_num}\'">확인</button>');
            document.write("</div></div>");

            document.write('<div class="n-div"><div class="n-content"><div class="n-box">');
            document.write("계속 항해를 이어갑니다.");
            document.write("</div>");
            document.write('<button class="no">확인</button>');
            document.write("</div></div>");

        }

    </script>

    <!-- 웨이브 배경 -->
    <div class="wave"><div class="blue"></div></div>

    <!-- 계좌 시작 -->
    <div class="container_2">
        <!-- scroll 닻 -->
        <div class="account-scroll"></div>

        <div class="add-account-box">
            <div class="add-account-cover">
                <p class="add-account-text">
                    한 번 등록으로,<br/> 편리하게 사용해보세요
                </p>
                <div class="add-accountBtn-cover">
                    <button class="add-accountBtn">
                        계좌 등록
                    </button>
                </div>
                <div class="add-account-img">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Animals/Bear.png" alt="Bear" width="200" height="200"/>
                </div>
            </div>
        </div>

        <div class="account-slide-box"> 
            <div class="account-title">
                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Triangular%20Flag.png" alt="Triangular Flag" width="60" height="60" />
                
                 내 계좌 모아 보기
            </div>
            <div class="slide-cover" th:if="${!#lists.isEmpty(accountLists)}">
                <button class="slideBtn-prev">
                    <span class="material-symbols-outlined">arrow_left_alt</span>
                </button>
                <button class="slideBtn-next">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </button>
            </div>
        </div>

        <section class="article-account-section">
            <!-- 계좌 등록 0일 때 if로 화면 만들기 -->
            <div class="zeroAccount-box" th:if="${#lists.isEmpty(accountLists)}">
                <div class="zeroAccount-content">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Dotted%20Line%20Face.png" alt="Dotted Line Face" width="150" height="150" />
                    <span class="zeroAccount-text">등록된 계좌가 없어요ㅠㅠ</span>
                </div>
            </div>

            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- 반복문 -->
                    <div class="swiper-slide" th:each="dto:${accountLists}">
                        <div class="article-account-box">
                            <div class="account-box">
                                <div class="select-modal-div">
                                    <!-- 계좌 이미지 if 국민,신한,우리,카카오,기업만 등록 가능 -->
                                    <div class="account-name" th:if="${#strings.equals(dto.open_bank,'카카오뱅크')}">
                                        <img class="account-name-img-kakao" src="/images/mypage/kakaobank_logo.png"/>
                                    </div>

                                    <div class="account-name" th:if="${#strings.equals(dto.open_bank,'신한은행')}">
                                        <img class="account-name-img" src="/images/mypage/신한뱅크_로고_PNG_AI_원본_다운.png"/>
                                    </div>

                                    <div class="account-name" th:if="${#strings.equals(dto.open_bank,'국민은행')}">
                                        <img class="account-name-img" src="/images/mypage/국민은행_로고_PNG_AI_원본_다운.png"/>
                                    </div>

                                    <div class="account-name" th:if="${#strings.equals(dto.open_bank,'우리은행')}">
                                        <img class="account-name-img" src="/images/mypage/우리은행_로고_PNG_AI_원본_다운.png"/>
                                    </div>

                                    <div class="account-name" th:if="${#strings.equals(dto.open_bank,'기업은행')}">
                                        <img class="account-name-img" src="/images/mypage/기업은행_로고_PNG_AI_원본_다운1.png"/>
                                    </div>

                                    <div class="account-num-cover">
                                        <p class="account-num-title">계좌번호</p>
                                        <p class="account-num" th:text="${dto.open_account}"></p>
                                    </div>
                                </div>
                                <div class="account-alias-box">
                                    <p class="account-alias" th:text="${dto.open_aname}"></p>
                                    <input type="text" value="황윤하의 통장" class="account-alias2 hidden"/>
                                    <button class="account-update">수정</button>
                                    <button class="account-update-ok hidden">변경</button>
                                    |
                                    <button class="account-delete">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="password-box">
            <button class="passwordBtn">
                <b>크루즈웹</b> 이체 비밀번호 
                <a th:href="@{http://localhost:8082/mypage/mypage_webPassword}">등록 </a> |
                <a th:href="@{http://localhost:8082/mypage/mypage_webPassword}">변경 </a>
            </button>
        </div>

        <!-- 크스롤 -->
        <div class="account-scroll-box">
            <div class="account">
                <button class="account-scrollBtn" onclick="goToScroll('aa')"> 
                    <span class="material-symbols-sharp">
                        stat_minus_2
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- 계좌 등록 모달 -->
    
    <!-- 약관동의 -->

    <div class="modal-div1">
        <div class="content">
            <span class="closeBtn1">&times;</span>
            <div class="modal-cover">
                <h2>약관동의</h2>
                <div class="modal-chk-box">
                    <div class="agree-all-box">
                        <input type="checkbox" id="agree-all"/><label for="agree-all"></label>
                        <span class="agree-text">전체동의</span>
                    </div>
                    <hr/>
                    <div class="agree-select-box">
                        <input type="checkbox" id="agree-chk1" name="agreeChk"/><label for="agree-chk1"></label>
                        <button class="agree-text" id="agree-show">개인정보 수집 및 이용 동의 (필수) &gt; </button><br/>

                        <!-- hide -->
                        <div class="agree-hide-box" id="agree-hide">
                            <textarea readonly disabled>&#10;&#10;제 1조 총칙&#10;&#10;크루즈(주) (서울특별시 강남구 테헤란로 124, 4층)는 (이하 ’회사’는) 개인정보보호를 매우 중요시하며, 개인정보보호법 등 관계법령의 규정을 준수하여 개인정보를 최선을 다하여 보호함은 물론 개인정보보호법에 의거한 개인정보 처리방침을 통하여 고객(정보주체)의 개인정보보호 및 권익을 보호하고 이와 관련한 고충을 원활하게 처리할 수 있도록 합니다.&#10;&#10;제 2조 개인정보의 수집 및 이용목적&#10;&#10;회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 등에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.&#10;&#10;1. 회사에서 제공하는 회원제 서비스의 본인 확인 및 이용을 위해 활용&#10;회사에서 제공하는 회원제 서비스의 가입 및 이용을 위한 활용 정보주체의 개인정보 열람, 정정, 삭제, 처리정지 요구 시 본인확인 및 개인식별회원제 서비스의 본인 확인, 서비스에 대한 만족도 조사회원제 서비스의 본인 확인, 서비스에 대한 만족도 조사&#10;&#10;2. 회원관리 및 본인확인&#10;본인 확인, 가입의사 확인, 회원자격 유지/관리, 서비스 부정이용 방지 웹사이트 ID 관리, 회원에 대한 고지사항 전달 민원 처리를 위한 민원인의 신원 확인, 민원사항 확인 및 처리, 기타 연락 및 통지&#10;&#10;3. 마케팅 및 광고에 활용&#10;신규 서비스 (제품 포함) 및 이벤트 정보 안내, DM, SMS, 우편, 고객별 통계분석자료 활용, 시장조사&#10;&#10;4. 서비스 개선&#10;접속빈도 파악 및 서비스 이용에 대한 통계처리 등
                            </textarea>
                        </div>

                        <input type="checkbox" id="agree-chk2" name="agreeChk"/><label for="agree-chk2"></label>
                        <button class="agree-text" id="agree-show2">개인정보 제3자 제공 동의 (필수) &gt;</button><br/>

                        <!-- hide -->
                        <div class="agree-hide-box" id="agree-hide2">
                            <textarea readonly disabled>&#10;&#10;제 1조 개인정보의 제3자 제공&#10;&#10;회사는 개인정보를 "1. 개인정보의 처리목적 및 수집항목"에서 고지한 범위내에서 사용하며, 정보주체의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.&#10;&#10;- 정보주체가 사전에 동의한 경우&#10;- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우&#10;간혹 입사 지원자에게 회사와 특수관계에 있는 회사(자회사, 계열사 등)에 입사제안을 드릴 수 있으며, 이 경우 반드시 사전에 입사 지원자에게 개별 연락하여 동의 절차를 거친 후 입사 지원서를 해당 회사로 이관합니다.
                            </textarea>
                        </div>

                        <input type="checkbox" id="agree-chk3" name="agreeChk"/><label for="agree-chk3"></label>
                        <button class="agree-text" id="agree-show3">오픈뱅킹 참여은행 출금이체 동의 (필수) &gt;</button><br/>

                        <!-- hide -->
                        <div class="agree-hide-box" id="agree-hide3">
                            <textarea readonly disabled>&#10;&#10;제1조 약관의 적용&#10;&#10;오픈뱅킹공동업무를 기반으로 이용기관이 개발한 핀테크 서비스를 통해 본인명의 계좌의 금융정보를 확인하고자 하는 개인(이하 “사용자”라 한다)과 크루즈(주)(이하 “회사”라 한다)에 대하여 이 약관을 적용합니다.&#10;&#10;제2조 용어의 정의&#10;&#10;1. “오픈뱅킹공동업무”란 이용기관이 핀테크 서비스를 용이하게 개발하고, 제공할 수 있도록 금융권에서 공동으로 구축하여 운영하는 표준화된 오픈 API 플랫폼에 대한 제반 업무를 말합니다.&#10;2. “이용기관”이란 금융결제원과 오픈뱅킹공동업무 이용계약을 체결하고 이용승인을 받은 기업 을 말합니다. 여기에는 회사를 제외한 금융기관도 포함됩니다.&#10;3. “금융정보조회”란 사용자가 핀테크 서비스를 통해 제5조에 명시하는 본인명의 계좌의 금융정보조회 요청시 회사가 금융정보를 제공하는 업무를 말합니다.&#10;4. “오픈뱅킹중계센터”란 오픈뱅킹공동업무 관련 시스템을 구축하고 운영하며, 회사와 이용기관을 서로 중계하는 곳으로 융결제원이 운영합니다.
                            </textarea>
                        </div>

                    </div>
                </div>
                <div>
                    <button class="nextBtn1">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 모달2 -->
    <div class="modal-div2">
        <div class="content">
            <span class="closeBtn2">&times;</span>
            <div class="modal-cover">
                <h2>계좌 선택</h2>
                <div class="bank-box1">
                    <div>
                        <div class="bankBtn" id="kakao">카카오뱅크</div>
                        <div class="bankText">카카오뱅크</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="kb">KB 국민은행</div>
                        <div class="bankText">국민은행</div>
                    </div>
                    <div>
                        <div class="bankBtn"  id="nh">NH 농협</div>
                        <div class="bankText">농협</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="sinhan">신한은행</div>
                        <div class="bankText">신한은행</div>
                    </div>
                </div>
                <div class="bank-box2">
                    <div>
                        <div class="bankBtn" id="toss">토스뱅크</div>
                        <div class="bankText">토스뱅크</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="hana">하나은행</div>
                        <div class="bankText">하나은행</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="ibk">IBK 기업은행</div>
                        <div class="bankText">기업은행</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="kbank">케이뱅크</div>
                        <div class="bankText">캐이뱅크</div>
                    </div>
                </div>
                <div class="bank-box3">
                    <div>
                        <div class="bankBtn" id="woori">우리은행</div>
                        <div class="bankText">우리은행</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="city">씨티뱅크</div>
                        <div class="bankText">씨티뱅크</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="gwangju">광주은행</div>
                        <div class="bankText">광주은행</div>
                    </div>
                    <div>
                        <div class="bankBtn" id="kfcc">MG 새마을금고</div>
                        <div class="bankText">새마을금고</div>
                    </div>
                </div>

                <div>
                    <div class="nextBtn2" >확인</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 모달3 -->
    <!-- form 태그로 전체 insert, 모달1,2의 정보는 hidden으로 넘기기
    모달1은 db에 저장되지 않고 생색만 내기 -->
    <form action="/mypage/mypage_all" method="post" name="accForm">
    <div class="modal-div3">
        <div class="content">
            <span class="closeBtn3">&times;</span>
            <div class="modal-cover">
                <!-- 모달 내용 -->
                <h2>계좌 등록</h2>
                <div class="accountName-box">
                    <div class="account-text">이름</div>
                    <input type="text" class="account-input" th:value="${userInfo.user_name}" disabled/>
                </div>
                <div class="accountNum-box">
                    <div class="account-text">계좌번호</div>
                    <input type="text" id="account-input1" class="account-input" name="anum" placeholder="계좌번호를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                    <div class="resultDiv" id="resultNum"></div>
                </div>
                <div class="accountPwd-box">
                    <div class="account-text">계좌 비밀번호</div>
                    <input type="password" class="accountPwd-input" placeholder="계좌 비밀번호 4자리를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    <button type="button" class="account-authBtn">인증</button>
                    <div class="resultDiv" id="resultPwd"></div>
                </div>
                <div>
                    <button class="addBtn" type="submit">등록</button>
                </div>
            </div>
        </div>
    </div>
</form>

    <!-- 계좌 삭제 안내 모달창 -->
        <!-- 반복문..! -->

    <script>

        var accDEl  = document.getElementsByClassName("account-delete");

        for(var i=0;i<accDEl.length;i++){

            document.write('<div class="accountDelmodal-div"><div class="accountDel-content"><div class="accountDel-box">');
            document.write('<div class="accountDel-title">[황윤하의 통장] 계좌를 정말 삭제하시겠습니까?</div>');
            document.write('<div class="yesno-box">');
            document.write('<button class="yesBtn">예</button>');
            document.write('<button class="noBtn">아니오</button>');
            document.write('</div></div></div></div>');

        }

    </script>



    <!-- 계좌 상세 모달 반복문 -->
    <div class="account-modal" th:each="dto:${accountLists}">
        <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <div class="modal-container">
                <div class="open-aname" th:text="${dto.open_aname}"></div>
                <div class="open-account" th:text="${dto.open_account}"></div>
                <div class="openuse-balance" th:text="${dto.open_balance}"></div>

                <div class="line"></div>

                <div class="select-cover">
                    
                    <div class="area-custom-select">
                        <div class="custom-select" tabindex="0">
                          <span class="custom-select-text">1개월</span>
                          <img src="/images/mypage/iconmonstr-angel-down-thin-12.png" class="custom-select-arrow">
                        </div>
                        <ul class="custom-select-list" style="display:none;">
                            <li value="selectOption1" class="custom-select-option">1개월</li>
                            <li value="selectOption2" class="custom-select-option">3개월</li>
                            <li value="selectOption3" class="custom-select-option">6개월</li>
                        </ul>
                    </div>

                    <input type="text" class="openuse-input-search" id="search" onkeyup="search(this)"/>
                    <button class="openuse-searchBtn">
                        <span class="material-symbols-outlined" style="color: #0C0CCA;">
                            search
                        </span>
                    </button>
                </div>

                <div class="line"></div>

                <div class="openuse-box">
                    <!-- 반복문 -->
                    <!-- <div id="searchList">검색결과</div> -->
                    <div class="openuse-cover" > 
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <!-- if 출금/입금 -->
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div>
                    <div class="openuse-cover">
                        <p class="openuse-date">09.26</p>
                        <p class="openuse-content">모건약국</p>
                        <p class="openuse-money">-3,500원</p>
                    </div> 
                </div>

                <div class="line"></div>

            </div>
            
        </div>
    </div>




    <!-- 웨이브 배경 -->
    <div class="wave2"><div class="white"></div></div>

    <!-- 일정 시작 -->
    <div class="aa">일정 페이지</div>


    <nav th:replace="navbar :: footerFragmant"></nav>


    <!-- script -->
    <script type="text/javascript" src="/js/nav.js"></script>
    <script src="/js/mypage/mypage_crew.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var openAccPwd = /*[[${openAccPwd}]]*/;
        /*]]*/
    </script>
    <script th:inline="javascript" th:src="@{/js/mypage/mypage_account.js}"></script>
    <!-- 일정 -->
    <script src="/js/mypage/scroll.js"></script>
    <script src="/js/mypage/swiper.js"></script>
    <script src="/js/mypage/selectbox.js"></script>
    <!-- <script src="../js/search.js"></script> -->


    
</body>
</html>