<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav_footer/nav_footer.css">
    <link rel="stylesheet" href="/css/mypage/mypage_userTab.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_userOut.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_webPassword.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 800,
          'GRAD' 0,
          'opsz' 24;
          font-size: 16px;
        }
        </style>
    <title>Document</title>
</head>
<body>

    <nav class="navigator" style="background-color: white;">
		<div>
			<a href="http://localhost:8080/mypage" class="logo_cruise"><i class="fa-brands fa-docker"></i> 크루즈
			</a>
		</div>

		<div class="navigator_menu">
			<div>
				<button id="first_menuButton"
					class="fa-regular fa-bell navigator_menu_link nav-item navButtonClick"></button>
				<div id="first_menu" class="menu-content">
					<a href="#">
					<b>알림!</b><br>
					<label>모임통장 목표 달성완료!</label>
					
					</a>
					
					<a href=""><label style="font-size: 10px;">자세히보기 ></label></a>	
					
				</div>
			</div>

			<div >
				<button id="second_menuButton"
					class="fa-solid fa-bars navigator_menu_link nav-item navButtonClick" ></button>
				<div id="second_menu" class="menu-content menu-content2">
				
				
					<a th:href="@{http://localhost:8082/mypage/mypage_myInfo}" >내 정보 수정</a>
					<a href="#" >내 게시글 관리</a> 
					<a href="#" >내 계좌 관리</a>
					<a href="http://localhost:8080/main" >로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
				</div>
			</div>
			<div>
				<button class="voyage_button" type="button" onclick="location.href = 'http://localhost:8080/passbook'">항해시작</button>
			</div>
		</div>

	</nav>

    <div class="user-container">
        <!-- 메뉴 -->
        <div class="mypage-bar">
            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Travel%20and%20places/Passenger%20Ship.png" alt="Passenger Ship" width="230" height="230"/>
            
            <div class="mypage-profile">
                <p class="pro-name">황윤하</p>
                <p class="pro-email">hyhdbsgk@naver.com</p>
            </div>

            <div class="line"></div>
            
            <div class="mypage-tab-box">
                <div class="mypage-tab">
                    <a th:href="@{http://localhost:8082/mypage/mypage_myInfo}">내 프로필</a>
                </div>
                <div class="mypage-tab">
                    <a th:href="@{http://localhost:8082/mypage/mypage_board}">내 게시글</a>
                </div>
                <div class="mypage-tab3">
                    <a th:href="@{http://localhost:8082/mypage/mypage_webPassword}">이체 비밀번호 관리</a>
                </div>
            </div>
            <div class="logout-box">
                <button class="logout">로그아웃</button>
                |
                <button class="withdrawal">회원탈퇴</button>
                <p class="logo">크루즈</p>
            </div>
        </div>

        <!-- 웹 비밀번호 -->
        <div class="webPwd-box">
            <div class="user-cover1">
                <h2 class="title">
                    <span class="material-symbols-outlined">
                        trip_origin
                    </span>
                    웹 비밀번호 변경
                </h2>
                새로운 비밀번호
                <div class="message">
                    6자리 숫자로 비밀번호를 입력해주세요.
                </div>
                <form action="/mypage/mypage_webPassword" method="post" name="updatePwdForm" style="display:flex;flex-direction:column;">
                <input type="password" class="webPWd-input" name="payPwd"/>
                    <div class="resultDiv" id="resultWebPwd"></div>
                    새로운 비밀번호 확인 <input type="password" class="webPWd-chk-input"/>
                    <div class="resultDiv" id="resultWebPwd-chk"></div>

                    <div class="btn-box">
                        <button class="webPwdBtn" type="button">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!-- "회원 탈퇴" 모달 -->
     <div class="userOutmodal-div">
        <div class="userOutmodal-content">
            <div class="userOut-box">
                <h2 class="userOut-title">회원 탈퇴하시겠습니까?</h2>
                <div class="userOut-content">
                <b> [ 안내사항 ] </b> <br/>
                작성하신 게시글과 댓글은 삭제되지 않고 크루에 계속해서 보존됩니다.
                재가입을 하더라도 탈퇴 이전의 게시글과 댓글은 수정/삭제할 수 없으므로
                삭제를 원하는 게시물 또는 댓글이 있다면 탈퇴 전 반드시 삭제해주시기 바랍니다.
                또한, 탈퇴를 결정한 뒤에는 결정을 취소할 수 없으니 신중히 결정해주세요.
                </div>
                <div class="yn-box">
                    <button class="yBtn">예</button>
                    <button class="nBtn">아니오</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- "회원 탈퇴" 확인 모달 -->
    <div class="y-div">
        <div class="y-content">
            <div class="y-box">
                탈퇴되었습니다.
            </div>
            <button class="yes">확인</button>
        </div>
    </div>
    
    <div class="n-div">
        <div class="n-content">
            <div class="n-box">
                계속 항해를 이어갑니다.
            </div>
            <button class="no">확인</button>
        </div>
    </div>

    <footer>
		<div class="footer" >
			<div class="footer_container">
				<div class="footer_menu">
					<p>
						<i class="fa-brands fa-docker"> 크루즈㈜ </i><br> <br> 대표이사
						홍길동 | 사업자등록번호 166-15-01234 | 서울특별시 강남구 테헤란로 1244층 (역삼동, 삼원타워) <br>
					</p>
					<p>
						<i class="fa-solid fa-phone fa-2xs"></i> 유선 상담 1998-0917 평일
						09:00~18:00 (은행 휴무일 제외)
					</p>
				</div>
				<div class="last_line">
					<b>© Cruise. All rights reserved</b>
				</div>
			</div>
		</div>

	</footer>

    <script src="/js/mypage/mypage_webPAssword.js"></script>
    <script src="/js/mypage/mypage_userOut.js"></script>
    <script src="/nav_footer/nav.js"></script>
    
</body>
</html>