<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ----------------- -->
    <link rel="stylesheet" href="/css/mypage/mypage_user.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_userOut.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_userTab.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 800,
          'GRAD' 0,
          'opsz' 24;
          font-size: 12px;
        }
        </style>
    <title>크루즈 :: 내 프로필</title>
</head>
<body>

<div style="background-color:white;">
    <th:block th:replace="nav_footer/nav_footer :: header"></th:block>
</div>
    
    <div class="user-container">
        <!-- 메뉴 -->
        <th:block th:replace="mypage/mypage_userTab :: tab"></th:block>

        <!-- 정보수정 -->

        <div class="user-box">
            <div class="user-cover1">
                <p class="title">
                    <span class="material-symbols-outlined">
                        trip_origin
                    </span>
                    기본 정보
                </p>
                <form action="" method="post" name="updateForm">
                    이름 <input type="text" class="user-name" th:value="${userInfo.user_name}" disabled/>
                    이메일 <input type="text" class="user-email" th:value="${userInfo.email}" disabled/>
                    전화번호 <input type="text" class="user-tel" name="tel" th:value="${userInfo.tel}"/>
                    주소
                    <div class="addr-box">
                        <input type="text" id="postcode" class="user-addr1" placeholder="우편번호"/>
                        <button type="button" class="addrBtn" onclick="daumPostcode()">주소검색</button>
                    </div>
                    <input type="text" class="user-addr2" name="address" id="address" th:value="${userInfo.address1}"/>
                    <input type="text" class="user-addr2" name="detailAddress" id="detailAddress" th:value="${userInfo.address2}"/>
                </form>
            </div>

            <div class="line2"></div>
            <div>
                <button type="button" id="changePwdBtn" onclick="changePwd()">비밀번호를 변경하시겠습니까?</button>
            </div>
            <div class="line2"></div>

            <div class="user-btn-box">
                <button class="updateBtn" type="button" onclick="updateSubmit();">회원정보 수정</button>
            </div>
        </div>
    </div>


    <!-- 비밀번호 변경 모달 -->
        <div class="userPwdmodal-div hidden" id="userPwdmodalId">
            <div class="userPwd-content">
                <span class="closeBtn" onclick="xcloseModal()">&times;</span>
                <div class="user-cover3">
                    <p class="title" style="font-size: 15pt;">
                        <span class="material-symbols-outlined">
                            trip_origin
                        </span>
                        비밀번호 변경
                    </p>
                    <p style="margin-top: 40px;">비밀번호</p>
                    <form id="chkForm" method="post" enctype="application/json">
                        <input type="password" class="password" name="password" placeholder="현재 비밀번호"/>
                        <button type="button" class="passwordBtn" id="show" th:onclick="chkPwdForm();">확인</button>
                        <div class="resultDiv" id="resultUserPwd"></div>
                    </form>
                </div>
                <!-- 기본 hide -->
                <form name="newChkForm" action="/mypage/mypage_myInfo_pwd" method="post">
                    <div class="user-cover4" style="display: none;">
                        <div class="newPwd-box1">
                            새 비밀번호
                            <input type="password" class="newPwd" name="newPwd" placeholder="새 비밀번호"/>
                            <div class="resultDiv" id="resultNewPwd"></div>
                            새 비밀번호 확인
                            <input type="password" class="chk-newPwd" name="chkNewPwd" placeholder="새 비밀번호 확인"/>
                            <div class="resultDiv" id="resultNewPwd-chk"></div>
                            <div style="display: flex; justify-content: center;">
                                <button type="button" class="pwdBtn" id="pwdBtnId" onclick="updatePwdBtn();newChkPwdForm();">비밀번호 변경</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!-- 회원탈퇴 모달은 user_tab에 같이 있음 -->


    <script src="/js/mypage/mypage_user.js"></script>
    <script src="/js/mypage/mypage_userOut.js"></script>


<th:block th:replace="nav_footer/nav_footer :: footer"></th:block>
<th:block th:replace="nav_footer/nav_footer :: head"></th:block>



<script>

    function daumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 전체 주소에 더한다.
                addr += extraAddr;

            } else {
                addr =+ '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('postcode').value = data.zonecode;
            document.getElementById("address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("detailAddress").focus();
        }
    }).open();
}
</script>



</body>

<script th:inline="javascript">


    //함수 안에 넣으니 안됨
    /*<![CDATA[*/
        var email = /*[[${userInfo.email}]]*/
    /*]]*/

    //현재 비밀번호 확인 함수
    function chkPwdForm() {

        const forms = document.getElementById('chkForm');

        const formDatas = {
            email: email,
            password: forms.elements['password'].value
        };

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/loginProcessing", true); //두혁의 컨트롤러에서 검사 후 반환함
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(formDatas));
        xhr.onload = function () {
            if (xhr.status === 200) {

                //alert("인증성공");

                $('#resultUserPwd').text('');
                $('.password').css("border", "1px solid #8b8b8b");
                $('.password').css("outline", "none");
                $('.user-cover4').css("display", "flex");
                $('.newPwd').focus();

            } else {

                $('#resultUserPwd').text('비밀번호를 정확히 입력해주세요.');

                $('.password').css("border", "1px solid red");
                $('.password').css("outline", "1px solid red");

            }
        };
    }
</script>

<script>

    window.onload = function() {

        if(window.localStorage.getItem('accessToken') == null){

            $('#changePwdBtn').addClass('hidden');
            $('.line2').addClass('hidden');

        }
    }

</script>


</html>