<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ----------------- -->
    <link rel="stylesheet" href="/css/mypage/mypage_userTab.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_userOut.css"/>
    <link rel="stylesheet" href="/css/mypage/mypage_webPassword.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 800,
          'GRAD' 0,
          'opsz' 24;
          font-size: 16px;
        }
        </style>
    <title>크루즈 :: 이체 비밀번호 등록</title>
</head>
<body>

<div style="background-color:white;">
    <th:block th:replace="nav_footer/nav_footer :: header"></th:block>
</div>

    <div class="user-container">
        <!-- 메뉴 -->
        <th:block th:replace="mypage/mypage_userTab :: tab"></th:block>

        <!-- 웹 비밀번호 -->

        <!-- 
            등록 전 등록창만 보이게
            등록 후 변경창만 보이게 
        -->

        <div class="webPwd-box">
            <div class="user-cover1">

                <h2 class="title">
                    <span class="material-symbols-outlined">
                        trip_origin
                    </span>
                    이체 비밀번호 등록
                </h2>
                비밀번호
                <div class="message">
                    6자리 숫자로 비밀번호를 입력해주세요.
                </div>
                <form action="/mypage/mypage_webPassword" method="post" name="updatePwdForm" style="display:flex;flex-direction:column;">
                    <input type="password" class="webPWd-input" name="payPwd"/>
                    <div class="resultDiv" id="resultWebPwd"></div>

                    비밀번호 확인 <input type="password" class="webPWd-chk-input"/>
                    <div class="resultDiv" id="resultWebPwd-chk"></div>

                    <div class="btn-box">
                        <button class="webPwdBtn" type="button">비밀번호 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 회원탈퇴 모달은 user_tab에 같이 있음 -->

<th:block th:replace="nav_footer/nav_footer :: footer"></th:block>
<th:block th:replace="nav_footer/nav_footer :: head"></th:block>




    <script type="text/javascript" src="/js/nav.js"></script>
    <script src="/js/mypage/mypage_webPAssword.js"></script>
    <script src="/js/mypage/mypage_userOut.js"></script>

    
</body>
</html>