<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 네비게이터 바 CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




    <link rel="stylesheet" href="/css/modal/modal.css">

    <link rel="stylesheet" type="text/css" href="/css/nav_footer.css"/>
    <!-- ----------------- -->
    <link rel="stylesheet" type="text/css" href="/css/mypage/zero.css">
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <title>크루즈 :: 당신의 항해를 시작해보세요.</title>
</head>
<body>
<th:block th:replace="nav_footer/nav_footer :: header"></th:block>




    <div class="container_zero">

        <div class="main_zero">
            <div class="column_zero">
                <div class="start-message">
                    크루즈에서 <br/>
                    당신의 항해를 시작해보세요.
                </div>
                <br/>
                <hr/>
                <div class="start-message2">
                    <p>편리한 통장 관리</p>
                    <p>원활한 소통</p>
                    <p>믿을 수 없는 놀라움</p>
                </div>
                <div class="start-btn">
                    <a th:href="@{http://192.168.16.27:8082/moim/passbook}" style="color:white;text-decoration:none;">항해 시작</a>
                </div>
            </div>
        </div>
    </div>

<th:block th:replace="nav_footer/nav_footer :: footer"></th:block>

<p id="sessionGroup" th:if="${session.group != null}" th:text="${session.group}" style="display:none"></p>
<p id="sessionEmail" th:if="${session.email != null}" th:text="${session.email}" style="display:none"></p>
<p id="sessionNum" th:if="${session.num != null}" th:text="${session.num}" style="display:none"></p>



<th:block th:replace="nav_footer/nav_footer :: head"></th:block>
<script th:src="@{/js/homePage/homePage.js}"></script>



    
</body>
</html>