<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="./css/addAccount.css"/>
    <link rel="stylesheet" href="./css/addAccount_banks.css"/>
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <!-- 구글 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
    /* 아이콘 */
    .material-symbols-outlined { font-variation-settings:'FILL' 0,'wght' 380,'GRAD' 0,'opsz' 24;font-size:20px; }
    .material-symbols-sharp { font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;font-size: 60px;color: white;-webkit-text-stroke: 1px rgb(58, 58, 58); }

    </style>

    <style>

        
    </style>

    <title>Document</title>
</head>
<body>
    
<!-- <div class="add-div">
    <button>계좌등록</button>
</div> -->

<!-- 약관동의 -->

<div class="modal-div1">
    <div class="content">
        <span class="closeBtn1">&times;</span>
        <div class="modal-cover">
            <h2>약관동의</h2>
            <div class="modal-chk-box">
                <div class="agree-all-box">
                    <input type="checkbox" id="agree-all"/><label for="agree-all"></label>
                    <span class="agree-text">전체동의</span>
                </div>
                <hr/>
                <div class="agree-select-box">
                    <input type="checkbox" id="agree-chk1" name="agreeChk"/><label for="agree-chk1"></label>
                    <button class="agree-text" id="agree-show">개인정보 수집 및 이용 동의 (필수) &gt; </button><br/>

                    <!-- hide -->
                    <div class="agree-hide-box" id="agree-hide">
                        <textarea readonly disabled>&#10;&#10;제 1조 총칙&#10;&#10;크루즈(주) (서울특별시 강남구 테헤란로 124, 4층)는 (이하 ’회사’는) 개인정보보호를 매우 중요시하며, 개인정보보호법 등 관계법령의 규정을 준수하여 개인정보를 최선을 다하여 보호함은 물론 개인정보보호법에 의거한 개인정보 처리방침을 통하여 고객(정보주체)의 개인정보보호 및 권익을 보호하고 이와 관련한 고충을 원활하게 처리할 수 있도록 합니다.&#10;&#10;제 2조 개인정보의 수집 및 이용목적&#10;&#10;회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 등에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.&#10;&#10;1. 회사에서 제공하는 회원제 서비스의 본인 확인 및 이용을 위해 활용&#10;회사에서 제공하는 회원제 서비스의 가입 및 이용을 위한 활용 정보주체의 개인정보 열람, 정정, 삭제, 처리정지 요구 시 본인확인 및 개인식별회원제 서비스의 본인 확인, 서비스에 대한 만족도 조사회원제 서비스의 본인 확인, 서비스에 대한 만족도 조사&#10;&#10;2. 회원관리 및 본인확인&#10;본인 확인, 가입의사 확인, 회원자격 유지/관리, 서비스 부정이용 방지 웹사이트 ID 관리, 회원에 대한 고지사항 전달 민원 처리를 위한 민원인의 신원 확인, 민원사항 확인 및 처리, 기타 연락 및 통지&#10;&#10;3. 마케팅 및 광고에 활용&#10;신규 서비스 (제품 포함) 및 이벤트 정보 안내, DM, SMS, 우편, 고객별 통계분석자료 활용, 시장조사&#10;&#10;4. 서비스 개선&#10;접속빈도 파악 및 서비스 이용에 대한 통계처리 등
                        </textarea>
                    </div>

                    <input type="checkbox" id="agree-chk2" name="agreeChk"/><label for="agree-chk2"></label>
                    <button class="agree-text" id="agree-show2">개인정보 제3자 제공 동의 (필수) &gt;</button><br/>

                    <!-- hide -->
                    <div class="agree-hide-box" id="agree-hide2">
                        <textarea readonly disabled>&#10;&#10;제 1조 개인정보의 제3자 제공&#10;&#10;회사는 개인정보를 "1. 개인정보의 처리목적 및 수집항목"에서 고지한 범위내에서 사용하며, 정보주체의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.&#10;&#10;- 정보주체가 사전에 동의한 경우&#10;- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우&#10;간혹 입사 지원자에게 회사와 특수관계에 있는 회사(자회사, 계열사 등)에 입사제안을 드릴 수 있으며, 이 경우 반드시 사전에 입사 지원자에게 개별 연락하여 동의 절차를 거친 후 입사 지원서를 해당 회사로 이관합니다.
                        </textarea>
                    </div>

                    <input type="checkbox" id="agree-chk3" name="agreeChk"/><label for="agree-chk3"></label>
                    <button class="agree-text" id="agree-show3">오픈뱅킹 참여은행 출금이체 동의 (필수) &gt;</button><br/>

                    <!-- hide -->
                    <div class="agree-hide-box" id="agree-hide3">
                        <textarea readonly disabled>&#10;&#10;제1조 약관의 적용&#10;&#10;오픈뱅킹공동업무를 기반으로 이용기관이 개발한 핀테크 서비스를 통해 본인명의 계좌의 금융정보를 확인하고자 하는 개인(이하 “사용자”라 한다)과 크루즈(주)(이하 “회사”라 한다)에 대하여 이 약관을 적용합니다.&#10;&#10;제2조 용어의 정의&#10;&#10;1. “오픈뱅킹공동업무”란 이용기관이 핀테크 서비스를 용이하게 개발하고, 제공할 수 있도록 금융권에서 공동으로 구축하여 운영하는 표준화된 오픈 API 플랫폼에 대한 제반 업무를 말합니다.&#10;2. “이용기관”이란 금융결제원과 오픈뱅킹공동업무 이용계약을 체결하고 이용승인을 받은 기업 을 말합니다. 여기에는 회사를 제외한 금융기관도 포함됩니다.&#10;3. “금융정보조회”란 사용자가 핀테크 서비스를 통해 제5조에 명시하는 본인명의 계좌의 금융정보조회 요청시 회사가 금융정보를 제공하는 업무를 말합니다.&#10;4. “오픈뱅킹중계센터”란 오픈뱅킹공동업무 관련 시스템을 구축하고 운영하며, 회사와 이용기관을 서로 중계하는 곳으로 융결제원이 운영합니다.
                        </textarea>
                    </div>

                </div>
            </div>
            <div>
                <button class="nextBtn1">확인</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달2 -->

<div class="modal-div2">
    <div class="content">
        <span class="closeBtn2">&times;</span>
        <div class="modal-cover">
            <h2>계좌 선택</h2>
            <div class="bank-box1">
                <div>
                    <div class="bankBtn" id="kakao">카카오뱅크</div>
                    <div class="bankText">카카오뱅크</div>
                </div>
                <div>
                    <div class="bankBtn" id="kb">KB 국민은행</div>
                    <div class="bankText">국민은행</div>
                </div>
                <div>
                    <div class="bankBtn"  id="nh">NH 농협</div>
                    <div class="bankText">농협</div>
                </div>
                <div>
                    <div class="bankBtn" id="sinhan">신한은행</div>
                    <div class="bankText">신한은행</div>
                </div>
            </div>
            <div class="bank-box2">
                <div>
                    <div class="bankBtn" id="toss">토스뱅크</div>
                    <div class="bankText">토스뱅크</div>
                </div>
                <div>
                    <div class="bankBtn" id="hana">하나은행</div>
                    <div class="bankText">하나은행</div>
                </div>
                <div>
                    <div class="bankBtn" id="ibk">IBK 기업은행</div>
                    <div class="bankText">기업은행</div>
                </div>
                <div>
                    <div class="bankBtn" id="kbank">케이뱅크</div>
                    <div class="bankText">캐이뱅크</div>
                </div>
            </div>
            <div class="bank-box3">
                <div>
                    <div class="bankBtn" id="woori">우리은행</div>
                    <div class="bankText">우리은행</div>
                </div>
                <div>
                    <div class="bankBtn" id="city">씨티뱅크</div>
                    <div class="bankText">씨티뱅크</div>
                </div>
                <div>
                    <div class="bankBtn" id="gwangju">광주은행</div>
                    <div class="bankText">광주은행</div>
                </div>
                <div>
                    <div class="bankBtn" id="kfcc">MG 새마을금고</div>
                    <div class="bankText">새마을금고</div>
                </div>
            </div>

            <div>
                <div class="nextBtn2" >확인</div>
            </div>
        </div>
    </div>
</div>

<!-- 모달3 -->
<!-- form 태그로 전체 insert, 모달1,2의 정보는 hidden으로 넘기기
모달1은 db에 저장되지 않고 생색만 내기 -->

<div class="modal-div3">
    <div class="content">
        <span class="closeBtn3">&times;</span>
        <div class="modal-cover">
            <!-- 모달 내용 -->
            <h2>계좌 등록</h2>
            <div class="accountName-box">
                <div class="account-text">이름</div>
                <input type="text" class="account-input" value="황윤하" disabled/>
            </div>
            <div class="accountNum-box">
                <div class="account-text">계좌번호</div>
                <input type="text" class="account-input" placeholder="계좌번호를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                <div class="resultDiv" id="resultNum"></div>
            </div>
            <div class="accountPwd-box">
                <div class="account-text">계좌 비밀번호</div>
                <input type="password" class="accountPwd-input" placeholder="계좌 비밀번호 4자리를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                <button class="account-authBtn">인증</button>
                <div class="resultDiv" id="resultPwd"></div>
            </div>
            <div>
                <button class="addBtn">등록</button>
            </div>
        </div>
    </div>
</div>




<script src="./js/mypage_addAccount.js"></script>




</body>
</html>