<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>계좌 내역 CRUD 페이지</title>
</head>
<style>
    h2 {text-align: center; margin: 50px 0 10px 0;}
    h3 {text-align: center; margin: 0 0 30px 0;}
    div {
        background-color: #f6f6f6;
        text-align: center;
        margin: 0 auto 30px auto;
        width: 400px;
        padding: 30px;
    }
    table {
        margin: auto;
        border-bottom: 1px solid lightgray;
        border-collapse: collapse;
        text-align: center;
    }
    table tr th {background-color: lightgray;}
    table tr th, td {padding: 10px 10px;}
    table tr th:first-child, td:first-child {padding: 10px 20px; min-width: 50px;}
    table tr:nth-child(even) {background-color: #f6f6f6;}
    table tr:first-child {text-align: right;}

    table tr td input {width: auto; max-width: 250px}
    table tr td select {width: 80px; height: 25px}

    .short {width: 30px; height: 20px}
    .middle {width: 80px; height: 20px}
    .long {width: 150px; height: 20px}
    .xLong {width: 200px; height: 20px;}

    #lastDate {
        display: none;
        height: 0;
    }

    .hiddenDiv{display: none; height: 0;}
    .balance {font-weight: bold;}

    div button

</style>
<body>
  <h2> 계좌 내역 CRUD 페이지 </h2>
  <h3> 계좌번호 : [[${selectedAccount}]] </h3>
  <div>
      거래구분은 I (input) / O (Output) 으로 구분합니다.<br>
      거래잔액은 등록 후 알아서 계산됩니다.<br>
      날짜 사이사이에 거래내역을 끼워넣을 수 없습니다...<br>
      수정은 거래내용만 수정가능합니다.<br>
      <br>
      <button type="button" onclick="location.href='/develop/openbank'">계좌목록으로</button>
  </div>
  <form name="myForm" method="post">
      <input type="hidden" name="open_account" th:value="${selectedAccount}">
    <table id="usingListTable">
        <tr>
            <td colspan="8">
                <button type="button" id="addUsingForm">내역추가하기</button>
            </td>
        </tr>
        <tr>
            <th style="width: 20px">순번</th>
            <th style="width: 200px">거래일시</th>
            <th style="width: 100px">구분(I/O)</th>
            <th style="width: 100px">출금액</th>
            <th style="width: 100px">입금액</th>
            <th style="width: 200px">거래내용</th>
            <th style="width: 200px">거래잔액</th>
            <th style="width: 150px">관리</th>
        </tr>
        <tr th:if="${#lists.size(usingList)}>0" th:each="data, dataStat :${usingList }" th:id="${dataStat.count}">
            <td>[[${dataStat.count}]]
                <div th:id="|openUseNum${dataStat.count}|" class="hiddenDiv" th:text="${data.getOpenuse_num()}"></div>
            </td>
            <td th:text="${data.getOpenuse_date()}">거래일시</td>
            <td th:text="${data.getOpenuse_assort()}">거래구분</td>
            <td class="outMoney" th:text="${data.getOpenuse_outmoney()}">출금액</td>
            <td class="inMoney" th:text="${data.getOpenuse_inmoney()}">입금액</td>
            <td th:text="${data.getOpenuse_content()}">거래내용</td>
            <td class="balance" th:text="${data.getOpenuse_balance()}">거래잔액</td>
            <td th:if="${dataStat.count}!=${#lists.size(usingList)}">
                <button type="button" th:id="|updateBtn${dataStat.count}|">거래내용수정</button>
            </td>
            <td th:if="${dataStat.count}==${#lists.size(usingList)}">
                <button type="button" th:id="|updateBtn${dataStat.count}|">거래내용수정</button>
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_num" th:value="${data.getOpenuse_num()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="open_account" th:value="${selectedAccount}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_date" th:value="${data.getOpenuse_date()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_assort" th:value="${data.getOpenuse_assort()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_inmoney" th:value="${data.getOpenuse_inmoney()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_outmoney" th:value="${data.getOpenuse_outmoney()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_content" th:value="${data.getOpenuse_content()}">
                <input type="hidden" th:class="|delete${dataStat.count}|" name="openuse_balance" th:value="${data.getOpenuse_balance()}">
                <button type="button" th:name="|delete${dataStat.count}|" onclick="deleteSubmit(this)">삭제</button>
            </td>
        </tr>
    </table>
  </form>
    <div id="lastDate">[[${lastDate}]]</div>

</body>
<!--제이쿼리-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var form = document.myForm;

    // 내역등록 폼 tr 추가
    $('#addUsingForm').click(function(){
        var num = ($('#usingListTable tr').length - 1)
        var html =
            "<tr id='"+ num +"'>" +
            "<td>" + num + "</td>\n" +
            "<td>\n" +
            "<input id=\"openAccount" + num + "\" type=\"hidden\" name=\"open_account\" class=\"addOK" + num +"\">" +
            "<input id=\"openUseDate" + num + "\" type=\"datetime-local\" name=\"openuse_date\" class=\"xLong addOK" + num + "\">\n" +
            "</td>\n" +
            "<td>\n" +
            "<select id=\"IOSelector" + num +  "\" name=\"openuse_assort\" class=\"addOK" + num +"\">\n" +
            "<option class=\"middle\" disabled selected value=''>선택</option>\n" +
            "<option value=\"I\" class=\"middle\">입금</option>\n" +
            "<option value=\"O\" class=\"middle\">출금</option>\n" +
            "</select>\n" +
            "</td>\n" +
            "<td>\n" +
            "<input id=\"outMoney" + num +"\" class=\"middle addOK" + num + "\" type=\"text\" name=\"openuse_outmoney\">\n" +
            "</td>\n" +
            "<td>\n" +
            "<input id=\"inMoney" + num +"\" class=\"middle addOK" + num + "\" type=\"text\" name=\"openuse_inmoney\">\n" +
            "</td>\n" +
            "<td>\n" +
            "<input id=\"openContent" + num +"\" class=\"long addOK" + num + "\" type=\"text\" class='addOK" + num + "' name=\"openuse_content\">\n" +
            "</td>\n" +
            "<td>자동계산</td>\n" +
            "<td>\n" +
            "<button id='addOK" + num + "' type='button' name='addOK" + num + "' onclick='addSubmit(this," + num + ")'>등록</button>" +
            "<button id='addCancel"+ num + "' type='button'>취소</button>" +
            "</td>\n" +
            "</tr>"

        $('#usingListTable').append(html)
        $('#openUseDate'+num).val($('#lastDate').text());
        $('#openAccount'+num).val([[${selectedAccount}]]);

        $('#addCancel'+num).click(function(){
            console.log(num);
            $('#'+num).remove()
        })

        $('#IOSelector'+num).on('change',function() {
            if($('#IOSelector'+num).val()==='I') {
                $('#inMoney'+num).prop('disabled', false);
                $('#inMoney'+num).val("");
                $('#outMoney'+num).prop('disabled', true);
                $('#outMoney'+num).val(0)
            } else if($('#IOSelector'+num).val()==='O') {
                $('#outMoney'+num).prop('disabled', false);
                $('#outMoney'+num).val("");
                $('#inMoney'+num).prop('disabled', true);
                $('#inMoney'+num).val(0);
            }
        })
    })




    function addSubmit(btn, num) {

        console.log(form.open_account.value);



        var inputJQ = $(form).find('input')

        for(var i=0;i<inputJQ.length;i++) {
            if(!$(inputJQ[i]).hasClass($(btn).attr('name'))){
                $(inputJQ[i]).prop('disabled',true)
            } else if ($(inputJQ[i]).hasClass($(btn).attr('name'))) {
                $(inputJQ[i]).prop('disabled',false)
            }
        }



        var str = $('#openUseDate'+num).val();
        if(str==null || str==="") {
            alert("[날짜] 날짜를 입력해주세요");
            return;
        }

        if($('#lastDate').text()!=="") {
            const selectedDateTime = new Date(str);
            const minDateTime = new Date($('#lastDate').text());

            if(selectedDateTime < minDateTime) {
                alert("[날짜] 거래내역의 마지막일자 이상을 선택해주세요.");
                return;
            }
        }


        // var str = form.openuse_assort.value;
        var str = $('#IOSelector'+num).val();
        if(str==null || str==="") {
            alert("[구분] 구분 선택해주세요");
            return;
        }

        // var str = form.openuse_outmoney.value;
        var str = $('#outMoney'+num).val();
        if(str==null || str==="") {
            alert("[출금액] 출금액 입력해주세요");
            return;
        }

        // var str = form.openuse_inmoney.value;
        var str = $('#inMoney'+num).val();
        if(str==null || str==="") {
            alert("[입금액] 입금액 입력해주세요");
            return;
        }

        // var str = form.openuse_content.value;
        var str = $('#openContent'+num).val();
        if(str==null || str==="") {
            alert("[거래내용] 거래내용 입력해주세요");
            return;
        }

        form.action = "/develop/openbank/using/addInquiry";
        form.submit();
    }

    $('.outMoney').each(function() {
        if($(this).text() !== '0') {
            $(this).css('color','blue');
            $(this).css('font-weight','bold');
        }
    })

    $('.inMoney').each(function() {
        if($(this).text() !== '0') {
            $(this).css('color','red');
            $(this).css('font-weight','bold');
        }
    })


    // 계좌 수정
    // 수정 폼 나오게하기
    for(let i=1; i<=$('#usingListTable tr').length-2; i++) {
        $('#updateBtn'+i).on('click',function() {
            $('#usingListTable tr').each(function(index, item) {
                if(item.id===''+i) {
                    var td = $(item).find('td');
                    var html =
                        "<td>" +
                        "<input type='hidden' name='openuse_num' value='"+ Number($('#openUseNum'+i).text()) +"'>" +
                        "<input type='hidden' name='openuse_date' value='"+ $(td[1]).text() +"'>" +
                        "<input type='hidden' name='openuse_assort' value='"+ $(td[2]).text() +"'>" +
                        "<input type='hidden' name='openuse_outmoney' value='"+ $(td[3]).text() +"'>" +
                        "<input type='hidden' name='openuse_inmoney' value='"+ $(td[4]).text() +"'>" +
                        i + "</td>\n" +
                        "<td>"+ $(td[1]).text() + "</td>\n" +
                        "<td>\n" + $(td[2]).text() + "</td>\n" +
                        "<td class='outMoney'>" + $(td[3]).text() + "</td>\n" +
                        "<td class='inMoney'>" + $(td[4]).text() + "</td>\n" +
                        "<td>\n" +
                        "<input class=\"long\" type=\"text\" name=\"openuse_content\"" +
                        "   value='"+ $(td[5]).text() +"'>\n" +
                        "</td>\n" +
                        "<td>" + $(td[6]).text() + "</td>\n" +
                        "<td>\n" +
                            "<button id='addOK' type='button' onclick='updateSubmit()'>수정</button>" +
                            "<button type='button' id='updateCancel' onclick='location.reload()'>취소</button>" +
                        "</td>\n"


                    $(item).find('td').remove();
                    $(item).append(html);
                }
            })

            $('.outMoney').each(function() {
                if($(this).text() !== '0') {
                    $(this).css('color','blue');
                    $(this).css('font-weight','bold');
                }
            })

            $('.inMoney').each(function() {
                if($(this).text() !== '0') {
                    $(this).css('color','red');
                    $(this).css('font-weight','bold');
                }
            })
        })
    }

    // 수정 제출 함수
    function updateSubmit() {

        var str = form.openuse_content.value;
        if(str==null || str==="") {
            alert("[거래내용] 거래내용 입력해주세요");
            return;
        }

        form.action = "/develop/openbank/using/updateInquiry";
        form.submit();
    }

    // 삭제 함수
    function deleteSubmit(btn) {

        var inputJQ = $(form).find('input')

        for(var i=0;i<inputJQ.length;i++) {
            if($(inputJQ[i]).attr('class') !== $(btn).attr('name')){
                $(inputJQ[i]).prop('disabled',true)
            } else if ($(inputJQ[i]).attr('class') === $(btn).attr('name')) {
                $(inputJQ[i]).prop('disabled',false)
            }
        }

        form.action = "/develop/openbank/using/deleteInquiry";
        form.submit();
    }
    /*]]>*/
</script>


</html>