<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>게 시 판</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/board/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/board/article.css"/>
<link rel="stylesheet" type="text/css" href="/css/nav_footer/nav_footer.css"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
<script>
	var num = "[[${dto.board_num}]]";
	var params = "[[${params}]]";
	var crew_num = "[[${dto.crew_num}]]";
	const userEmail = "[[${email}]]";
</script>
<script type="text/javascript" th:src="@{/js/board/article.js}"></script>

</head>
<body>

<nav class="navigator">
	<div>
		<a href="http://localhost:8080/list" class="logo_cruise"><i class="fa-brands fa-docker"></i> 크루즈
		</a>
	</div>
	<div class="navigator_menu">
		<div>
			<button id="first_menuButton"
					class="fa-regular fa-bell navigator_menu_link nav-item navButtonClick"></button>
			<div id="first_menu" class="menu-content">
				<a href="#">
					<b>알림!</b><br>
					<label>모임통장 목표 달성완료!</label>
				</a>
				<a href=""><label style="font-size: 10px;">자세히보기 ></label></a>
			</div>
		</div>
		<div>
			<button id="second_menuButton"
					class="fa-solid fa-bars navigator_menu_link nav-item navButtonClick" ></button>
			<div id="second_menu" class="menu-content menu-content2">
				<a href="#" >내 정보 수정</a>
				<a href="#" >내 게시글 관리</a>
				<a href="#" >내 계좌 관리</a>
				<a href="http://localhost:8080/main" >로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
			</div>
		</div>
		<div>
			<button class="voyage_button" type="button" onclick="location.href = 'http://localhost:8080/passbook'">항해시작</button>
		</div>
	</div>
</nav>

<div id="bbs">
	<div id="bbsArticle">
		<div id="bbsArticle_header">
			<input type="button" th:value="${param.crewName + ' 게시판 >>'}" class="article_button"
				   th:onclick="'location=\'list' + '\''"/>
			<h2><br>[[${dto.board_subject}]]</h2>
			<div class="article_button_flex">
				<input type="button" value=" 수정 " class="article_button2"
					   th:if="${email == dto.email}"
					   th:onclick="'location=\'updated?board_num=' +
					@{${dto.board_num }} + '&' + @{${params }} + '\''"/>
				<input type="button" value=" 삭제 " class="article_button2"
					   th:if="${email == dto.email}"
					   th:onclick="'confirmDeleteArticle(' + ${dto.board_num} + ')'"/>
			</div>
			<div class="header">
				<div>[[${dto.name}]]</div>
				<div>
					<span>[[${dto.board_created}]]</span>
					<span th:text="'조회 ' + ${dto.hitCount}"></span>
				</div>
			</div>
		</div>
		<div id="bbsArticle_content">
			<table>
				<tr>
					<td valign="top" height="200">
					<textarea rows="12" cols="82"
							  name="content"
							  class="content-box" th:text="${dto.board_content}"
							  disabled="disabled"></textarea>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- 댓글 리스트 -->
	<div style="font-weight: bold;">
		<i class="fa-regular fa-comment-dots fa-lg" style="padding-left: 15px;"></i> 댓글 <span id="commentCount"></span></div>
	<div id="comment_box">
		<div class="commentArea"></div>

		<!-- 댓글 입력 폼-->
		<div>
			<div class="card-body">
				<form name="comment-form" action="/board/comment/create" method="post"
					  autocomplete="off" onsubmit="return sendIt();">
					<input type="hidden" name="board_num" th:value="${dto.board_num}"/>
					<input type="hidden" name="crew_num" th:value="${dto.crew_num}"/>
					<div class="form-group">
						<textarea name="comment_content" class="form-control" rows="3"
								  style="font-family: NanumSquare; width: 100%;"
								  placeholder="댓글을 남겨보세요"></textarea>
					</div>
					<a class="commentReply" onclick="insertComment();">등록</a>
				</form>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="footer">
		<div class="footer_container">
			<div class="footer_menu">
				<p>
					<i class="fa-brands fa-docker"> 크루즈㈜ </i><br> <br> 대표이사
					홍길동 | 사업자등록번호 166-15-01234 | 서울특별시 강남구 테헤란로 1244층 (역삼동, 삼원타워) <br>
				</p>
				<p>
					<i class="fa-solid fa-phone fa-2xs"></i> 유선 상담 1998-0917 평일
					09:00~18:00 (은행 휴무일 제외)
				</p>
			</div>
			<div class="last_line">
				<b>© Cruise. All rights reserved</b>
			</div>
		</div>
	</div>

</footer>

<script type="text/javascript" src="/js/nav.js"></script>

</body>
</html>