<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>게 시 판</title>

<link rel="stylesheet" type="text/css" href="/board/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/board/css/article.css"/>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

	function sendIt() {
		var f = document['comment-form'];
		var str = f.comment_content.value.trim();

		if(!str){
			alert("\n내용을 입력하세요.");
			f.comment_content.focus();
			return false;
		}

		return true;
	}

	// 댓글 등록
	function insertComment() {
		if(sendIt()) {
			var data = $('[name=comment-form]').serialize();
			var num = "[[${dto.board_num}]]";
			var params = "[[${params}]]";

			$.ajax({
				url: '/board/comment/create',
				type: 'post',
				data: data,
				success: function(data) {
					console.log('AJAX 요청 성공');
					if(data === "userInfoOK") {
						let url = '/board/article?' + params + '&num=' + num;
						window.location.href = url;
					}else{
						alert("userInfoNull");
					}
				},
				error: function(data) {
					console.log('AJAX 요청 오류');
					console.log(data);
				}
			});
		}
	}

	// 댓글 삭제
	function deleteComment(comment_num) {
		console.log(comment_num);
		var num = "[[${dto.board_num}]]";
		var params = "[[${params}]]";

		$.ajax({
			url: '/board/comment/delete',
			type: 'post',
			data: { comment_num: comment_num },
			success: function(data) {
				if(data === "userInfoOK") {
					let url = '/board/article?' + params + '&num=' + num;
					window.location.href = url;
				} else {
					alert("userInfoNull");
				}
			},
			error: function(data) {
				console.log('AJAX 요청 오류');
				console.log(data);
			}
		});
	}

	// 댓글 수정(입력 폼으로 변경)
	function changeComment(dto) {
		console.log(dto);

		var commentContent = dto.comment_content;
		var commentNum = dto.comment_num;

		$('#update_div_' + commentNum).hide();
		$('#delete_form_' + commentNum).hide();

		var inputField = '<input type="text" name="comment_' + commentNum + '" value="' + commentContent + '"/>';
		inputField += '<span class="input-group-btn">';
		inputField += '<button class="btn2" type="button" onclick="updateComment(' + commentNum + ');">등록</button> </span>';

		$('#comment_' + commentNum).html(inputField);
	}

	// 댓글 수정(update)
	function updateComment(commentNum) {
		console.log("commentNum: " + commentNum);
		var commentContent = $('[name=comment_' + commentNum + ']').val();
		console.log("commentContent: " + commentContent);

		if (commentContent === '' || commentContent === null) {
			alert("\n내용을 입력하세요.");
			$('#comment_' + commentNum).focus();
			return;
		}

		var num = "[[${dto.board_num}]]";
		var params = "[[${params}]]";

		$.ajax({
			url: '/board/comment/update',
			type: 'post',
			data: { commentContent: commentContent, commentNum: commentNum },
			success: function(data) {
				console.log('AJAX 요청 성공');
				if (data === "userInfoOK") {
					let url = '/board/article?' + params + '&num=' + num;
					window.location.href = url;
				} else {
					alert("userInfoNull");
				}
			},
			error: function(data) {
				console.log('AJAX 요청 오류');
				console.log(data);
			}
		});
	}

</script>

</head>
<body>

<div id="bbs">
	<div id="bbs_title">
		게 시 판
	</div>
	<div id="bbsArticle">
		<div id="bbsArticle_header">
			[[${dto.board_subject }]]
		</div>
		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>작성자</dt>
				<dd th:text="${dto.name }"></dd> <!-- [[${dto.name }]] -->
			</dl>
		</div>
		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>등록일</dt>
				<dd>[[${dto.board_created }]]</dd>
				<dt>조회수</dt>
				<dd th:text="${dto.hitCount }"></dd>
			</dl>
		</div>
		<div id="bbsArticle_content">
			<table width="600" border="0">
			<tr>
			<td style="padding: 20px 80px 20px 0px" valign="top" height="200">
				<textarea rows="12" cols="82"
				name="content" style="padding-left: 20px;
				resize: none; background-color: #ffffff; border: 0px;
				font-family: NanumSquare;"
				class="boxTA" th:text="${dto.board_content}"
				disabled="disabled"></textarea>
			</td>
			</tr>
			</table>
		</div>
	</div>
	<div id="bbsArticle_footer">
		<div id="leftFooter">
		<input type="button" value=" 수정 " class="btn2"
			   th:if="${userInfo.email == dto.email}"
			   th:onclick="'location=\'updated?board_num=' +
					@{${dto.board_num }} + '&' + @{${params }} + '\''"/>
		<input type="button" value=" 삭제 " class="btn2"
			   th:if="${userInfo.email == dto.email}"
			   th:onclick="'location=\'deleted_ok?board_num=' +
					@{${dto.board_num }} + '&' + @{${params }} + '\''"/>
		</div>
		<div id="rightFooter">
		<input type="button" value=" 리스트 " class="btn2"
			th:onclick="@{|location.href='/board/list?${params}'|}"/>
		</div>
	</div>

	<!-- 댓글 리스트 -->
	<div>
		<span>댓글 <span th:text="${lists.size}"></span></span>
	</div>
	<br>
	<div id="lists">
		<ul th:if="${#lists.size(lists)} > 0" th:each="dto:${lists}">
			<li>
			<div class="name" th:text="${dto.name}"></div>
			<div class="content" th:id="|comment_${dto.comment_num}|" th:text="${dto.comment_content}"></div>
			<div class="created" th:text="${dto.comment_created}"
				 style="font-size: smaller;"></div>
			<div th:id="|update_div_${dto.comment_num}|">
				<input type="button" value=" 수정 " class="btn2"
					   th:if="${userInfo.email == dto.email}" th:onclick="changeComment([[${dto}]]);"/>
			</div>
			<form name="delete-form" th:id="|delete_form_${dto.comment_num}|"
				  action="/board/comment/delete" method="post">
				<input type="hidden" name="comment_num" th:value="${dto.comment_num}"/>
				<input type="button" class="btn2" value=" 삭제 "
					   th:if="${userInfo.email == dto.email}" th:onclick="deleteComment([[${dto.comment_num}]]);"/>
			</form>
			</li>
		</ul>
	</div>

	<!-- 댓글 입력 폼-->
	<div class="card my-4">
		<div class="card-body">
			<form name="comment-form" action="/board/comment/create" method="post"
				  autocomplete="off" onsubmit="return sendIt();">
				<input type="hidden" name="num" th:value="${dto.board_num}"/>
				<input type="hidden" name="email" th:value="${dto.email}"/>
				<div class="form-group">
					<textarea name="comment_content" class="form-control" rows="3"
							style="font-family: NanumSquare;"></textarea>
				</div>
				<button type="button" class="btn2" onclick="insertComment();">등록</button>
			</form>
		</div>
	</div>
</div>

</body>
</html>

