<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>게 시 판</title>

<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/created.css"/>

<script type="text/javascript">

	const sendIt=()=>{
		
		f = document.myForm;
		
		str = f.board_subject.value;
		str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.board_subject.focus();
			return;
		}
		f.board_subject.value = str;
		
		str = f.board_content.value;
		str = str.trim();
		if(!str){
			alert("\n내용을 입력하세요.");
			f.board_content.focus();
			return;
		}
		f.board_content.value = str;
		
		f.action = "/board/created";
		f.submit();
	}

</script>
</head>
<body>

<div id="bbs">
	<div id="bbs_title">
		게 시 판
	</div>
	
	<form action="" method="post" name="myForm">
	<div id="bbsCreated">
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>제&nbsp;&nbsp;&nbsp;&nbsp;목</dt>
				<dd>
				<input type="text" name="board_subject" size="60" maxlength="100"
				class="boxTF" style="font-family: NanumSquare;"/>
				</dd>
			</dl>
		</div>
		<div id="bbsCreated_content">
			<dl>
				<dt>내&nbsp;&nbsp;&nbsp;&nbsp;용</dt>
				<dd>
				<textarea rows="12" cols="63" name="board_content" class="boxTA"
				style="resize: none; background-color: #ffffff; font-family: NanumSquare;"></textarea>
				</dd>
			</dl>
		</div>
	</div>	
	<div id="bbsCreated_footer">
	<input type="button" value=" 등록하기 " class="btn2" onclick="sendIt();"/>
	</div>	
	</form>
	
</div>


</body>
</html>



