<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>게 시 판</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/nav_footer/nav_footer.css"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/css/board/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/board/updated.css"/>

<script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
<script type="text/javascript">

	const sendIt=()=>{
		
		f = document.myForm;
		
		str = f.board_subject.value;
		str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.board_subject.focus();
			return;
		}
		f.board_subject.value = str;
		
		str = f.board_content.value;
		str = str.trim();
		if(!str){
			alert("\n내용을 입력하세요.");
			f.board_content.focus();
			return;
		}
		f.board_content.value = str;
		
		f.action = "/board/updated_ok";
		f.submit();
	}

</script>
</head>
<body>

<nav th:replace="navbar :: navbarFragmant"></nav>

<div id="bbs">
	<form action="" method="post" name="myForm">

	<div id="bbsUpdated">
		<div class="updated-bottomLine">
			<dl>
				<dt>제&nbsp;&nbsp;&nbsp;&nbsp;목</dt>
				<dd>
				<input type="text" name="board_subject" size="60" maxlength="100"
				class="box-subject" th:value="${dto.board_subject}"/>
				</dd>
			</dl>
		</div>
		<div id="bbsUpdated_content">
			<dl>
				<dt>내&nbsp;&nbsp;&nbsp;&nbsp;용</dt>
				<dd>
				<textarea rows="12" cols="63" name="board_content" class="box-content"
				style="resize: none; background-color: #ffffff"
				th:text="${dto.board_content}"></textarea>
				</dd>
			</dl>
		</div>
	</div>

	<div id="bbsCreated_footer">
		<input type="hidden" name="board_num" th:value="${dto.board_num }"/>
		<input type="hidden" name="crew_num" th:value="${dto.crew_num }"/>
		<input type="hidden" name="pageNum" th:value="${pageNum }"/>
		<input type="hidden" name="searchKey" th:value="${searchKey }"/>
		<input type="hidden" name="searchValue" th:value="${searchValue }"/>
		<input type="button" value=" 수정하기 " class="updated-button" onclick="sendIt();"/>
	</div>

	</form>
</div>

<nav th:replace="navbar :: footerFragmant"></nav>

<script type="text/javascript" src="/js/nav.js"></script>
</body>
</html>



