<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./mycrew_all.css">
    <link rel="stylesheet" href="./mycrew_account.css">
    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <!-- 구글아이콘 -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- swiper 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <style>
    /* 폰트 */
    .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size:45px;
    padding-right: 10px;
    }
    
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 380,
    'GRAD' 0,
    'opsz' 24;
    font-size:20px;
    }
    </style>
    
</head>
<body>

    <!-- 모임 페이지 -->
    <div class="container_1">
        <div class="crew-titlebox">
            <div class="crew-title">
                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Triangular%20Flag.png" alt="Triangular Flag" width="60" height="60" />
                
                 내 크루 모아 보기
            </div>
            <div class="slidebox">
                <button class="slideBtn-prev">
                    <span class="material-symbols-outlined">arrow_left_alt</span>
                </button>
                <button class="slideBtn-next">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </button>
            </div>
        </div>
        <section class="sectionbox">

            <div class="swiper"> 
                <div class="swiper-wrapper">
                  <div class="swiper-slide">

                    <!-- 반복문으로 돌리기 -->
                    <div class="crew-box">
                        <div class="crew-detail-box">
                            <p class="crew-name">우리는 여우모</p>
                            <p class="crew-account">3333-33-******2</p>
                        </div>
                        <div class="crew-content">
                            <!-- 소개글 줄바꿈 처리 필요? -->
                            20대 여자 우정이 최고다. 돈 모아서 실컷 놀자 !
                        </div>
                        <div class="crewBtn-box">
                            <button class="crewBtn">크루 보기</button>
                        </div>
                        <div class="user-out">탈퇴하기</div>
                    </div>

                  </div> 
                  <div class="swiper-slide">

                    <div class="crew-box">
                        <div class="crew-detail-box">
                            <p class="crew-name">우리는 여우모2</p>
                            <p class="crew-account">3333-33-******2</p>
                        </div>
                        <div class="crew-content">
                            <!-- 소개글 줄바꿈 처리 필요? -->
                            20대 여자 우정이 최고다. 돈 모아서 실컷 놀자 !
                        </div>
                        <div class="crewBtn-box">
                            <button class="crewBtn">크루 보기</button>
                        </div>
                        <div class="user-out">탈퇴하기</div>
                    </div>

                  </div>
                  <div class="swiper-slide">

                    <div class="crew-box">
                        <div class="crew-detail-box">
                            <p class="crew-name">우리는 여우모3</p>
                            <p class="crew-account">3333-33-******2</p>
                        </div>
                        <div class="crew-content">
                            <!-- 소개글 줄바꿈 처리 필요? -->
                            20대 여자 우정이 최고다. 돈 모아서 실컷 놀자 !
                        </div>
                        <div class="crewBtn-box">
                            <button class="crewBtn">크루 보기</button>
                        </div>
                        <div class="user-out">탈퇴하기</div>
                    </div>

                  </div>
                  <div class="swiper-slide">

                    

                  </div>
                </div>
            </div>
  
        </section>
    </div>

    <div class="wave"><div class="blue"></div></div>

    <!-- 계좌 시작 -->
    <div class="container_2">
        <div class="add-account-box">
            <div class="add-account-cover">
                <p class="add-account-text">
                    한 번 등록으로,<br/> 편리하게 사용해보세요
                </p>
                <div class="add-accountBtn-cover">
                    <button class="add-accountBtn">
                        계좌 등록
                    </button>
                </div>
                <div class="add-account-img">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Animals/Bear.png" alt="Bear" width="250" height="250"/>
                </div>
            </div>
        </div>


        <section class="article-account-section">
            <div class="article-account-box">
                <div class="account-box">
                    <div class="account-name">
                        <!-- if로 00은행이면 이거 저거 이렇게 해야하나?? -->
                        <img class="account-name-img" src="../mypageimage/국민은행_로고_PNG_AI_원본_다운.png"/>
                    </div>
                    <div class="account-num-cover">
                        <p class="account-num-title">계좌번호</p>
                        <p class="account-num">1111-1111-11111</p>
                    </div>
                </div>
                <div class="account-alias-box">
                    <p class="account-alias">황윤하의 통장</p>
                    <button class="account-update">수정 </button>
                    |
                    <button class="account-delete">삭제</button>
                </div>
            </div>
            <div class="article-account-box">
                <div class="account-box">
                    <div class="account-name">
                        <!-- if로 00은행이면 이거 저거 이렇게 해야하나?? -->
                        <img class="account-name-img" src="../mypageimage/우리은행_로고_PNG_AI_원본_다운.png"/>
                    </div>
                    <div class="account-num-cover">
                        <p class="account-num-title">계좌번호</p>
                        <p class="account-num">1111-1111-11111</p>
                        
                    </div>
                </div>
                <div class="account-alias-box">
                    <p class="account-alias">황윤하의 통장</p>
                    <button class="account-update">수정 </button>
                    |
                    <button class="account-delete">삭제</button>
                </div>
            </div>
            <div class="article-account-box">
                <div class="account-box">
                    <div class="account-name">
                        <!-- if로 00은행이면 이거 저거 이렇게 해야하나?? -->
                        <img class="account-name-img-kakao" src="../mypageimage/kakaobank_logo.png"/>
                    </div>
                    <div class="account-num-cover">
                        <p class="account-num-title">계좌번호</p>
                        <p class="account-num">1111-1111-11111</p>
                        
                    </div>
                </div>
                <div class="account-alias-box">
                    <p class="account-alias">황윤하의 통장</p>
                    <button class="account-update">수정 </button>
                    |
                    <button class="account-delete">삭제</button>
                </div>
            </div>
        </section>
        <div class="password-box">
            <!-- if로 등록되어 있으면 -->
            <div class="update-password">이체 비밀번호 변경</div>
            <!-- 아니면 -->
            <!-- <div class="add-password">이체 비밀번호 등록</div> -->
        </div>
    </div>


    <!-- swiper js -->
    <script>
        
        const swiper = new Swiper('.swiper', {
          slidesPerView: 3,
          slidesPerGroup : 3,
          centeredSlides: true,
          spaceBetween: 30,
          centeredSlides : false,
          navigation: {
            nextEl: '.slideBtn-next',
            prevEl: '.slideBtn-prev',
          },
          virtual: {
            loopFillGroupWithBlank : true,
            watchOverflow : true,
            slides: (function () {
              const slides = [];
            //   i < 10; -> slide의 개수!! 모임 count해서 조회한 값 넣으면 될 듯
              for (var i = 0; i < 4; i += 1) {
                slides.push('Slide ' + (i + 1));
              }
              return slides;
            })(),
          },
        });

    </script>
    
</body>
</html>