<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cruise.project_cruise.mapper.CrewCommentMapper">

<select id="maxNum" resultType="int">
	select nvl(max(comment_num),0) from crew_comment
</select>

<insert id="insertData" parameterType="com.cruise.project_cruise.dto.CrewCommentDTO">
	insert into crew_comment (comment_num, crew_num, board_num, email, name,
	comment_content,comment_created)
	values (#{comment_num}, #{crew_num}, #{board_num}, #{email}, #{name},
	#{comment_content}, sysdate)
</insert>

<select id="getDataCount" parameterType="int" resultType="int">
	select nvl(count(*),0) from crew_comment
	where board_num = #{board_num}
</select>

<select id="getLists" parameterType="int"
	resultType="com.cruise.project_cruise.dto.CrewCommentDTO">
	select name, comment_content, comment_num, email,
	to_char(comment_created,'YYYY.MM.DD. HH24:MI') comment_created
	from crew_comment where board_num = #{board_num}
	order by comment_num asc
</select>

<update id="updateData" parameterType="com.cruise.project_cruise.dto.CrewCommentDTO">
	update crew_comment set
	comment_content=#{comment_content}
	where comment_num=#{comment_num}
</update>

<delete id="deleteData" parameterType="int">
	delete crew_comment where comment_num=#{comment_num}
</delete>

</mapper>