<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cruise.project_cruise.mapper.CrewAlertMapper">
    <!-- 크루알림 insert -->
    <insert id="insertCrewAlert" parameterType="com.cruise.project_cruise.dto.CrewAlertDTO">
        insert into crew_alert (calert_num,crew_num,calert_assort,calert_content,calert_alertdate)
        values (#{cAlertNum},#{crewNum},#{cAlertAssort},#{cAlertContent},#{cAlertAlertDate})
    </insert>

    <!-- 크루 max calert_num -->
    <select id="cAlertMaxNum" resultType="int">
        select nvl(max(calert_num),0) from crew_alert
    </select>

    <!-- 크루 모든 소식을 select 하는 메소드 -->
    <select id="getAllNewsList" parameterType="int" resultType="com.cruise.project_cruise.dto.CrewAlertDTO">
        select calert_num, crew_num, calert_assort, calert_content, calert_alertdate
        from CREW_ALERT
        where CREW_NUM = #{crewNum}
        order by calert_num desc
    </select>

    <!-- 크루 새 멤버 가입을 select 하는 메소드 -->
    <select id="getNewMemberNewsList" parameterType="int" resultType="com.cruise.project_cruise.dto.CrewAlertDTO">
        select ROWNUM, calert_num, crew_num, calert_assort, calert_content, calert_alertdate from (
        select ROWNUM, calert_num, crew_num, calert_assort, calert_content, calert_alertdate
        from CREW_ALERT
        where CREW_NUM = #{crewNum} and CALERT_ASSORT ='가입'
        order by calert_num desc)
        <![CDATA[ where ROWNUM <= 8]]>
    </select>

    <!-- 크루 소식을 select 하는 메소드 -->
    <select id="getNewCrewNewsList" parameterType="map" resultType="com.cruise.project_cruise.dto.CrewAlertDTO">
        select ROWNUM, calert_num, crew_num, calert_assort, calert_content, calert_alertdate from (
        select ROWNUM, calert_num, crew_num, calert_assort, calert_content, calert_alertdate
        from CREW_ALERT
        where CREW_NUM = #{crewNum} and
        <![CDATA[CALERT_ASSORT <> '가입'
            order by calert_num desc)
            where ROWNUM <= 8]]>
    </select>
</mapper>