<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cruise.project_cruise.mapper.CrewDetailMapper">
<!-- 상세페이지 접속 관련 -->
    <!-- 해당 유저가 해당 크루의 회원인지 확인하는 쿼리 -->
    <select id="isMember" parameterType="map" resultType="int">
        select nvl(count(*),0)
        from CREW_MEMBER
        where CREW_NUM = #{crewNum} and CMEM_EMAIL = #{userEmail}
    </select>

    <!-- 해당 유저가 해당 크루의 선장인지 확인하는 쿼리 -->
    <select id="isCaptain" parameterType="map" resultType="int">
        select nvl(count(*),0)
        from CREW_MEMBER
        where CREW_NUM = #{crewNum} and CMEM_EMAIL = #{userEmail} and CAPTAIN_YN = 'Y'
    </select>

    <!-- 특정 크루 데이터를 select 하는 쿼리 -->
    <select id="getCrewData" parameterType="int" resultType="com.cruise.project_cruise.dto.CrewDTO">
        select
        CREW_NUM, CREW_NAME, CREW_INFO, CAPTAIN_EMAIL, CREW_CREATED,
        CREW_BANK, CREW_ACCOUNTID, CREW_PAYDATE, CREW_PAYMONEY, CREW_GOAL
        from CREW
        where CREW_NUM=#{crewNum}
    </select>

    <!-- 선장이름을 가지고오는 쿼리 -->
    <select id="getCaptainName" parameterType="java.lang.String" resultType="java.lang.String">
        select USER_NAME from USERS where EMAIL=#{captain_Email}
    </select>

    <!-- 오픈뱅킹 테이블에서 계좌잔액 가지고오기 -->
    <select id="getAccountBalance" parameterType="java.lang.String" resultType="int">
        select OPEN_BALANCE from OPENBANK
        where OPEN_ACCOUNT=#{crewAccount}
    </select>

    <!--  크루 탈퇴 시 crewMember 테이블에서 해당 선원을 삭제합니다.  -->
    <delete id="deleteCrewMember" parameterType="hashMap">
        delete crew_member where cmem_email=#{cmemEmail} and crew_num=#{crewNum}
    </delete>
</mapper>