<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cruise.project_cruise.mapper.MoimPassbookMapper">

<!-- CREW 테이블의 maxNum -->
<select id="maxCrewNum" resultType="int">
	select nvl(max(crew_num),0) from crew
</select>

<!-- 모임 통장 전환 시 CREW 테이블에 insert -->
<insert id="insertCrew" parameterType="com.cruise.project_cruise.dto.CrewDTO">
	insert into crew (crew_num, crew_name, crew_info, captain_email,
	crew_created, crew_paydate, crew_paymoney, crew_goal, crew_accountid, crew_bank)
	values (#{crew_num}, #{crew_name}, #{crew_info}, #{captain_email},
	sysdate, #{crew_paydate}, #{crew_paymoney}, #{crew_goal}, #{crew_accountid}, #{crew_bank})
</insert>

<!-- 모임 통장 전환 시 CREW_MEMBER 테이블에 insert -->
<insert id="insertCrewMember" parameterType="com.cruise.project_cruise.dto.CrewMemberDTO">
	insert into crew_member (crew_num, cmem_email, captain_YN,
	join_date, total_pay, must_paycount, real_paycount, cmem_num)
	values (#{crew_num}, #{cmem_email}, 'Y',
	sysdate, 0, 0, 0, #{cmem_num})
</insert>

<!-- 기존 계좌 선택 셀렉트 박스 -->
<select id="getMyAccount" parameterType="String"
		resultType="com.cruise.project_cruise.dto.MyAccountDTO">
	select myaccount_bank, myaccount_anum from my_account
	where email = #{email} order by myaccount_date
</select>

<!-- 일단 주석 처리 -->
<!--<select id="getBankName" parameterType="String" resultType="String">-->
<!--	select myaccount_bank from my_account where myaccount_anum = #{myaccount_anum}-->
<!--</select>-->

<!-- CREW_MEMBER 테이블에 들어갈 cmem_num -->
<select id="maxCmemNum" resultType="int">
	select nvl(max(cmem_num),0) from crew_member
</select>

</mapper>