<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>앙큼불여우단</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="crewmain.css"/>
    <script src="https://kit.fontawesome.com/ccb8b5d85b.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">여기 헤더</div>

    <div class="background">
        <div class="wave"><div class="blue"></div></div>
    </div>

    <div class="all_container">
        <div class="alert_bar_con">
            <div class="bar_title">9월 25일의 소식</div>
            <div class="alert_bar">
                <div class="image-container">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Clapping%20Hands.png" alt="Clapping Hands" />
                </div>
                <div class="animated_msg">
                    <div class="line"><b>[새 멤버 가입]</b> 새로운 선원 김은지님을 환영해주세요! </div>
                    <div class="line"><b>[새 멤버 가입]</b> 새로운 선원 서미진님을 환영해주세요! </div>
                    <div class="line"><b>[크루 일정 알림]</b> 일정 [윤하 생일..]이 6일 남았습니다. </div>
                    <div class="line"><b>[납입일]</b> 오늘은 납입일 입니다. </div>
                    <div class="line"><b>[새 멤버 가입]</b> 새로운 선원 한두혁님을 환영해주세요! </div>
                </div>
            </div>
        </div>


        <div class="bankbook_top">
            <div class="crewname">앙큼불여우단</div>
            <div class="crewexit1"><a href="">크루 관리</a></div>
            <div class="crewexit2"><a href="">크루 탈퇴</a></div>
            <div class="dotline1"></div>
            <div class="accnum_sub">계좌번호</div>
            <div class="account_num">신한 110-511-818677</div>
            <div class="mark">
                <div class="title">도장 또는 서명</div>
                <div class="content">
                    <img src="./image/mark.png">
                </div>
            </div>
            <div class="captain_sub">선장</div>
            <div class="captain">황윤하 님</div>
            <div class="created_sub">크루 개설일</div>
            <div class="created">2023년 9월 25일</div>
            <div class="info_sub">크루 소개</div>
            <div class="info">
                <div>
                    크루소개 크루소개 크루소개 크루소개 크루소개 크루소개 크루소개 크루소개
                </div>
            </div>
            <div class="dotline2"></div>
            <div class="goal_sub">목표금액</div>
            <div class="achieve">
                <div class="achieve_money">900,000</div>
                <div class="goal_money">원 / 1,800,000원</div>
            </div>
            <div class="per">
                <div class="achieve_per" style="width: 50%;">
                    <div class="ani"></div>
                </div>
            </div>
            <div class="percent">
                50<div>%</div>
            </div>
        </div>
        <div class="bankbook_bottom">
            <div class="top">
<!--                <div class="crewname">앙큼불여우단 계좌내역조회</div>-->
                <div class="crewname">앙큼불여우단 회비내역조회</div>
<!--                <button class="tap"> 회비내역 조회</button>-->
                <button id="tap"> 계좌내역 조회</button>
            </div>
            <div class="dotline"></div>
            <div id="fee_history">
                <div class="line0"></div>
                <div class="title">
                    <select>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                    </select>
                    월의 회비 내역
                </div>
                <div class="line1"></div>
                <div class="history">
<!--            만약 관리자라면, 회비 독촉링크로 이동        -->
                    <a href="">
                        <div class="unpaid_record">
                            <div class="name">김은지</div>
                            <div class="money">0원</div>
                        </div>
                    </a>
                    <div class="record">
                        <div class="name">황윤하</div>
                        <div class="money">20,000원</div>
                    </div>
                    <div class="record">
                        <div class="name">한두혁</div>
                        <div class="money">20,000원</div>
                    </div>
                    <div class="record">
                        <div class="name">서미진</div>
                        <div class="money">20,000원</div>
                    </div>
                    <div class="record">
                        <div class="name">이미연</div>
                        <div class="money">20,000원</div>
                    </div>
                </div>
                <div class="line2"></div>
                <div class="summary">
                    <div class="sum_people">
                        5명 중 <b>4명</b>이 납부하였습니다.
                    </div>
                    <div class="sum_money">
                        총 <b>80,000원</b> 납부되었습니다.
                    </div>
                </div>
                <div class="line3"></div>
            </div>
<!--        <div id="account_history">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>거래일자</th>-->
<!--                    <th>구분</th>-->
<!--                    <th>내용</th>-->
<!--                    <th>입금액</th>-->
<!--                    <th>출금액</th>-->
<!--                    <th>잔액</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.25</td>-->
<!--                    <td>OP이체</td>-->
<!--                    <td>토스 김은지</td>-->
<!--                    <td></td>-->
<!--                    <td>57,530</td>-->
<!--                    <td>218</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.25</td>-->
<!--                    <td>타행FB</td>-->
<!--                    <td>김은지</td>-->
<!--                    <td>2,000</td>-->
<!--                    <td></td>-->
<!--                    <td>57,748</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.25</td>-->
<!--                    <td>타행MB</td>-->
<!--                    <td>김은지</td>-->
<!--                    <td>5,248</td>-->
<!--                    <td></td>-->
<!--                    <td>55,748</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.24</td>-->
<!--                    <td>타행PC</td>-->
<!--                    <td>쿠팡</td>-->
<!--                    <td>60,500</td>-->
<!--                    <td></td>-->
<!--                    <td>60,500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.22</td>-->
<!--                    <td>OP이체</td>-->
<!--                    <td>토뱅 김은지</td>-->
<!--                    <td></td>-->
<!--                    <td>5941</td>-->
<!--                    <td>0</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.21</td>-->
<!--                    <td>FB이체</td>-->
<!--                    <td>쿠팡</td>-->
<!--                    <td></td>-->
<!--                    <td>100,000</td>-->
<!--                    <td>5,941</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.21</td>-->
<!--                    <td>타행FB</td>-->
<!--                    <td>김은지</td>-->
<!--                    <td>100,000</td>-->
<!--                    <td></td>-->
<!--                    <td>105,941</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.21</td>-->
<!--                    <td>FB통신</td>-->
<!--                    <td>KT2242531409</td>-->
<!--                    <td></td>-->
<!--                    <td>9,900</td>-->
<!--                    <td>5,941</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>23.09.21</td>-->
<!--                    <td>OP이체</td>-->
<!--                    <td>토스 김은지</td>-->
<!--                    <td></td>-->
<!--                    <td>12,000</td>-->
<!--                    <td>15,841</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
        </div>
        <div class="cal_receipt">
            <div class="title">크루 일정</div>
            <div class="line1"></div>
            <div class="content">
                여기 달력 넣을거야
            </div>
            <div class="line2"></div>
            <div class="paper"></div>
        </div>
        <div class="money_receipt">
            <div class="title">회비 납입하기</div>
            <div class="line1"></div>
            <div class="content">
                <div class="name"> 김은지 선원님! </div>
                <div class="wrap">
                    <div> 선원님의 의무납입횟수는 <b>5회</b> 입니다.</div>
                    <div> 선원님은 현재 <b>4회</b> 납입하였습니다.</div>
                </div>
                <div class="out_money">
                    <div id="up">▲</div>
                    <div class="wrap"><div id="num"> 1 </div> 회 납입하기</div>
                    <div id="down">▼</div>
                </div>
                <div class="select_wrap">
                    <select id="selectAccount">
                        <option selected disabled> <p> 계좌 선택하기</p> </option>
                        <option>[ 신한 쏠입출금통장 ] 신한 110518404677</option>
                        <option>[ 하나 네이버페이통장 ] 하나 44091059901207</option>
                        <option>[ 카카오 입출금통장 ] 카카오 3333012081898</option>
                    </select>
                    <img src="./image/free-icon-down-arrow.png" class="select_arrow_img"
                         id="selectAccount_arrow">
                </div>
                <div class="account_result">
                    <div class="result"> 아래 계좌에서 <b>20,000원</b>을 이체합니다. </div>
                    <div class="account">
                        <b>신한은행</b> 110518404677
                    </div>
                </div>
                <button>납입하기</button>
            </div>
            <div class="line2"></div>
        </div>
    </div>
</body>
</html>