<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우와~</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="crewmain.css"/>
    <script src="https://kit.fontawesome.com/ccb8b5d85b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="all_container">
        <div class="header">
            여기 헤더 들어갈 자리 <br>
            여기 헤더 들어갈 자리 <br>
            여기 헤더 들어갈 자리 <br>
        </div>
        <div class="crew">
            <div class="box">
                <div class="infobox">
                    <div class="top">
                        <div class="subject">부산여행가자</div>
                        <div class="quit"> 크루 탈퇴 </div>
                    </div>
                    <div class="account">신한은행 111-111-11111-1</div>
                    <div class="info">부산 가보자고~</div>
                </div>


                <div class="achieve">
                    <div class="money">
                        <div class="achieveMoney">900,000</div>
                        <div class="goal">원 / 1,800,000원</div>
                    </div>
                    <div class="percent">
                        <div class="percentBox">
                            <div class="achieveBox" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="percentNum">50%</div>
                </div>

            </div>
        </div>
        <div class="summary">
            <div class="box">
                <div class="item">
                    <div class="title">
                        <div class="subject"> 크루 알림 </div>
                        <div class="more">자세히보기 ▶</div>
                    </div>
                    <div class="contents">
                        <div class="content">
                            <div class="title">
                                <div class="subject">새 멤버 알림</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                새로운 선원 <b>황윤하</b>님을 환영해주세요
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">새 멤버 알림</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                새로운 선원 <b>황윤하</b>님을 환영해주세요
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">새 멤버 알림</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                새로운 선원 <b>황윤하</b>님을 환영해주세요
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">새 멤버 알림</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                새로운 선원 <b>황윤하</b>님을 환영해주세요
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <div class="subject"> 크루게시판 </div>
                        <div class="more">자세히보기 ▶</div>
                    </div>
                    <div class="contents">
                        <div class="content">
                            <div class="title">
                                <div class="subject">글제목</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                작성자
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">나 오늘 가입했다</div>
                                <div class="date">23.09.29</div>
                            </div>
                            <div class="text">
                                황윤하
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">오늘 다들 입금해</div>
                                <div class="date">23.09.08</div>
                            </div>
                            <div class="text">
                                서미진
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div class="subject">내가 첫글이야</div>
                                <div class="date">23.09.01</div>
                            </div>
                            <div class="text">
                                이미연
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <div class="subject"> 9월 22일의 일정 </div>
                        <div class="more">자세히보기 ▶</div>
                    </div>
                    <div class="contents" style="margin-bottom: 15px">
                        <div class="schedule">
                            <div class="subject">한두혁 예비군</div>
                            <div class="timeloca">
                                <div>
                                    <i class="fa-regular fa-clock fa-sm" style="color: #000000;"></i> &nbsp; PM 13:00
                                </div>
                                <div>
                                    <i class="fa-solid fa-location-dot fa-sm" style="color: #000000;"></i> &nbsp; 예비군
                                </div>
                            </div>
                            <div class="memo">
                                일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모
                                일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모 일정에 대한 메모
                                일정에 대한 메모 ...
                            </div>
                        </div>
                    </div>

                        <button> 거래내역 조회 </button>
                        <button> 회비조회 / 납입 </button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>