<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>크루즈 :: [[${dto.getCrew_name}]] 크루</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width, initial-scale=1">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/crewDetail/crewmain.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewDetail/crewExit.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewDetail/calendarModal.css"/>
<!--    <link rel="stylesheet" type="text/css" href="./crewmain.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="./crewExit.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="./calendarModal.css"/>-->
    <script src="https://kit.fontawesome.com/ccb8b5d85b.js" crossorigin="anonymous"></script>
    <!-- 제이쿼리 cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- ----------------- -->
    <!-- 풀캘린더 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script th:inline="javascript">
        <!-- 풀캘린더 스크립트 -->
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            $('#detail_href').on('click', function () {

                $(function () {
                    var crewNumTh = /*[[${crewNum}]]*/
                    var request = $.ajax({
                        url: "/crew/setting/loadCrewSchedule",
                        method: "POST",
                        data: {
                            crewNum: crewNumTh
                        }
                    })

                    request.done(function (data) {
                        var calendarEl = document.getElementById('calendar');
                        // 렌더링
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: { // 툴바 설정부분.
                                left: 'dayGridMonth,listMonth',
                                center: 'title',
                                right: 'prev,next today'
                            },
                            height: 525,
                            // 한글달력 일자에 '일' 부분 빼기
                            dayCellContent: function (info) {
                                var number = document.createElement("a");
                                number.classList.add("fc-daygrid-day-number");
                                number.innerHTML = info.dayNumberText.replace("일", '');
                                if (info.view.type === "dayGridMonth") {
                                    return {
                                        html: number.outerHTML
                                    };
                                }
                                return {
                                    domNodes: []
                                };
                            },
                            views: {
                                dayGridMonth: {
                                    type: 'dayGrid',
                                    duration: {months: 1},
                                    monthMode: true,
                                    fixedWeekCount: false, // 다음달의 첫 주가 마지막줄에 추가되는 것을 없애기 위함
                                }
                            },
                            // initialDate: '2023-01-12', // 디폴트 데이트. 창을 처음 켰을 때 포커싱할 날짜를 설정한다. 이 설정을 없애면 오늘 날짜로 포커싱된다.
                            navLinks: true, // can click day/week names to navigate views - 요일이나 날짜 클릭시, 일이나 주 단위 보여주는 화면으로 넘어간다.
                            businessHours: true, // display business hours
                            editable: false, // 드래그해서 수정이 가능한지에 대한 여부. 길게 확장도 가능하다.
                            selectable: true, // more 표시 전 최대 이밴트 갯수. true는 셀 높이에 의해 결정된다.
                            locale: "ko", // 이 설정을 추가하면 한글로 출력이 된다.
                            dayMaxEvents: true, // 칸보다 더 많은 이벤트가 있을시 more 버튼 제공
                            events: data // 이 부분에 데이터가 들어옴.
                        });

                        calendar.render();

                        /* 날짜 검색용 */
                        $('#searchDate').on('change', function () {
                            calendar.gotoDate($(this).val());
                            btnNameCustom();
                        })

                        var monthViewBtn = document.querySelectorAll('button[title="month view"]');
                        var listViewBtn = document.querySelectorAll('button[title="list view"]');
                        var PrevMonthBtn = document.querySelectorAll('button[title="Previous month"]');
                        var NextMonthBtn = document.querySelectorAll('button[title="Next month"]');
                        var ThisMonthBtn = document.querySelectorAll('button[title="This month"]');
                        var calendarTagA = calendarEl.querySelectorAll('a');

                        var clickEvent = new MouseEvent("click", {
                            bubbles: true,
                            cancelable: true,
                            view: window
                        });

                        if ($('#modalBg').hasClass('hiddenModalBg')) {
                            $('#modalBg').removeClass('hiddenModalBg');

                            if($('#calendarModal').hasClass('calendarHidden')){
                                $('#calendarModal').removeClass('calendarHidden');
                            }

                            // 왜인지 모르겠는데 처음으로 Modal을 켜면 달력이 깨진채로 나와서...
                            // month 버튼을 눌러주니 제자리를 찾아가길래, modal이 띄워지면 month버튼이 같이 눌러지도록 설정해주었다.

                            monthViewBtn[0].dispatchEvent(clickEvent);

                            // 버튼 커스텀하기
                            // 1. Modal이 띄워졌을 때
                            btnNameCustom();
                            // 2. 달력보기, 리스트보기를 눌렀을 때
                            // 달력 버튼들 누르니까 기존 text가 다시 추가되길래.. 방지용
                            btnNameCustomAddEvent(monthViewBtn[0]);
                            btnNameCustomAddEvent(listViewBtn[0]);
                            btnNameCustomAddEvent(PrevMonthBtn[0]);
                            btnNameCustomAddEvent(NextMonthBtn[0]);
                            btnNameCustomAddEvent(ThisMonthBtn[0]);
                            calendarTagA.forEach(function () {
                                btnNameCustomAddEvent(this);
                            })
                        }

                        function btnNameCustom() {
                            monthViewBtn[0].textContent = '달력보기';
                            listViewBtn[0].textContent = '리스트보기';
                            ThisMonthBtn[0].textContent = '오늘';
                        }

                        function btnNameCustomAddEvent(item) {
                            item.addEventListener('click', function () {
                                btnNameCustom()
                            })
                        }
                    })
                })
            })
        })
    /*]]>*/
    </script>
    <style>

        #crewCalendar {
            background-color: white;
            border-radius: 10px;
            margin: 10px 20px;
            padding: 20px 0 0 0;
            font-family: 'NanumSquare', Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            height: 540px;
        }

        #calendar {
            max-width: 930px;
            /* height: 490px; CSS에서 이렇게 설정하면 안되나봐... 스크립트 단에서 설정해줘야 하는듯 */
            padding: 0;
            margin: 0 auto;
        }

        .crewCalendarContainer {
            position: relative;
        }

        .fc-event, .fc-event-title-container {
            height: 20px;
            padding-top: 1px;
            align-items: center;
            font-size: 10pt;
        }
    </style>
    <style id="alertAnimationStyle"></style>
    <title></title>
</head>
<body>
    <!-- 필요한 데이터 -->
    <input type="hidden" id="crewAccount" th:value="${dto.crew_accountid}">
    <input type="hidden" id="crewNameStr" th:value="${dto.crew_name}">
    <input type="hidden" id="crewNum" th:value="${dto.crew_num}">
    <input type="hidden" id="userIsCaptain" th:value="${isCaptain}">
    <input type="hidden" id="userName" th:value="${crewUserInfo.USER_NAME}">
    <input type="hidden" id="userEmail" th:value="${crewUserInfo.USER_EMAIL}">
    <input type="hidden" id="userNum" th:value="${crewUserInfo.MEM_NUM}">

    <div class="header"><nav th:replace="nav_footer/nav_footer :: header"></nav></div>


    <div class="all_container">
        <div class="alert_bar_con">
            <div class="bar_top">
                <div class="bar_title">
                    <div id="todayDiv">현재 날짜</div>&nbsp;소식
                </div>
                <div th:if="${restDay==0}"><b> 오늘은 납입일 입니다. </b></div>
                <div th:if="${restDay!=0}"> 납입일까지 <b>[[${restDay}]]일</b> 남았습니다. </div>
            </div>
            <div class="alert_bar" onmouseover="alertBarHover()" onmouseout="alertBarUnhover()">
                <div th:if="${crewAllNewsList==null}"> 크루 소식이 없습니다. </div>
                <div th:if="${crewAllNewsList!=null}" id="animated_msg" class="visible_bar">
                    <div class="line">
                        <div class="one_alert" th:each="al, alStat : ${crewAllNewsList}">
                            <b>[ [[${al.calert_assort}]] ]</b> [[${al.calert_content}]] - [[${#strings.setSplit(al.calert_alertdate,' ')[0]}]]
                        </div>
                    </div>
                </div>
                <script>
                    const one_alerts = document.querySelectorAll(".one_alert");
                    var one_alert = document.querySelector('.one_alert');
                    var oneAlertLength = document.querySelectorAll('.one_alert').length;
                    var oneAlertWidth = one_alert.offsetWidth;

                    if((oneAlertLength * oneAlertWidth)<=930) {
                        oneAlertWidth = 930;
                    }
                    var px = (oneAlertLength * oneAlertWidth) + 100;

                    var alertAnimationStyle = document.getElementById('alertAnimationStyle');

                    var keyframes =
                        `@keyframes anim {
                            0%{
                                transform:translateX(`+ 1030 +`px);

                            }
                            100%{
                                transform:translateX(-`+ px +`px);
                            }
                        }`
                    alertAnimationStyle.innerHTML = keyframes;

                    one_alerts.forEach((one_alert) => {
                        one_alert.style.animation = `anim `+(9*oneAlertLength)+`s linear infinite`;
                    });
                </script>
                <!-- 마우스 가져대대면 보이는 알림창 부분-->
                <div id="msg" class="hidden">
                    <div class="new_memAlert">
                        <div class="ma_title"> 새 멤버 가입 </div>
                        <div class="new_mems" th:if="${crewNewMemAlertList!=null}" th:each="mem, memStat : ${crewNewMemAlertList}">
                            [[${mem.calert_content}]] ( [[${#strings.setSplit(mem.calert_alertdate,' ')[0]}]] )
                        </div>
                    </div>
                    <div class="crew_scheAlert">
                        <div class="cs_title"> 크루 소식</div>
                        <div th:if="${crewNewsAlertList!=null}" th:each="news, newsStat : ${crewNewsAlertList}">
                            <b>[ [[${news.calert_assort}]] ]</b> [[${news.calert_content}]] ( [[${#strings.setSplit(news.calert_alertdate,' ')[0]}]] )
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bankbook_top">
            <div class="crewname">
                <div th:text="${dto.crew_name}">크루이름입니다</div>
                <button class="gotoBoardBtn" type="button"
                    th:onclick="location='/board/list?crewNum=[[${dto.crew_num}]]'">소통게시판</button>
            </div>
                <!-- FIXME crewNum을 넘겨주기 -->
            <div th:if="${isCaptain=='true'}" class="crewmanage"><a th:href="@{|/crew/setting?crewNum=${crewNum}|}">크루 관리</a></div>
            <div th:if="${isCaptain=='false'}" class="crewmanage">&nbsp;</div>
            <div id="crewinvite">
                <div id="sessionGroup" th:text="${dto.getCrew_name()}"></div>
                <div id="sessionNum" th:text="${crewNum}" ></div>
                <a onclick="sendLink()">크루 초대</a></div>
            <div id="crewexit"><a th:onclick="crewExitClick([[${isCaptain}]])">크루 탈퇴</a></div>
            <div class="dotline1"></div>
            <div class="accnum_sub">계좌번호</div>
            <div class="account_num" th:text="|${dto.crew_bank} ${dto.crew_accountid}|">신한 110 511 000000</div>
            <div class="mark">
                <div class="title">도장 또는 서명</div>
                <div class="content">
                    <img src="/images/crewDetail/mark.png">
                </div>
            </div>
            <div class="captain_sub">선장</div>
            <div class="captain" th:text="|${captainName} 님|">황윤하 님</div>
            <div class="created_sub">크루 개설일</div>
            <div class="created" th:text="|${createdDate[0]}년 ${createdDate[1]}월 ${createdDate[2]}일|">2023년 9월 25일</div>
            <div class="info_sub">크루 소개</div>
            <div class="info">
                <div th:text="${dto.crew_info}">
                    크루소개
                </div>
            </div>
            <div class="dotline2"></div>
            <div class="goal_sub">모인금액</div>
            <div class="achieve">
                <div class="achieve_money" th:text="${crewAccountBalance}">900,000</div>
                <div th:if="${crewGoal=='0'}" class="goal_money">원</div>
                <div th:if="${crewGoal!='0'}" class="goal_money">원 / [[${crewGoal}]] 원</div>
            </div>
            <div th:if="${crewGoal!='0'}" class="per">
                <div class="achieve_per" th:style="'width: ' + ${achievePer} + '%'">
                    <div class="ani"></div>
                </div>
            </div>
            <div th:if="${crewGoal!='0'}" class="percent">
                [[${achievePer}]]<div>%</div>
            </div>
        </div>
        <div class="bankbook_bottom">
            <div class="top">
                <div id="crewname">[[${dto.crew_name}]] 거래내역 조회</div>
                <button id="tap" th:onclick="toggleBtnOnClick([[${dto.crew_name}]])"> 회비내역 조회</button>
            </div>
            <div class="dotline"></div>
            <!-- 회비내역 조회 DIV -->
            <div id="fee_history" style="display: none">
                <div class="line0"></div>
                <div class="title">
                    <select class="month" id="payViewMonth">
                        <!-- FIXME 월수만큼 불러오기 -->
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            /* 크루 월별회비조회 select부분 월 불러오기*/

                            // 최근 5개월 회비내역 까지만 불러오기
                            var nowFullDate = new Date();
                            var nowFullYear = nowFullDate.getFullYear();
                            var nowMonth = nowFullDate.getMonth() + 1;
                            var fullDates = [];

                            var crewCreated = [[${dto.crew_created}]]
                            var crewCreatedYear = crewCreated.substring(0,5);
                            crewCreatedYear = parseInt(crewCreatedYear);
                            var crewCreatedMonth = crewCreated.substring(5,7);
                            crewCreatedMonth = parseInt(crewCreatedMonth);

                            if(nowFullYear-crewCreatedYear===0 && nowMonth-crewCreatedMonth<4) {
                                // 만약 만들어진지 5개월 미만의 크루이면

                                for(var i=0; i<=nowMonth-crewCreatedMonth; i++) {
                                    var cloneDate = new Date(nowFullDate);
                                    cloneDate.setDate(1); // 오늘 날짜가 31일이면 날짜 세팅에 있어서 오류가 뜬다.
                                    cloneDate.setMonth(cloneDate.getMonth()-i);

                                    if(cloneDate.getMonth()===-1) {
                                        cloneDate.setFullYear(cloneDate.getFullYear()-1);
                                        cloneDate.setMonth(11);
                                    }
                                    console.log("5개월 미만 회비내역조회 : " + cloneDate)
                                    fullDates.push(cloneDate);
                                }
                            } else {
                                // 5개월 이상의 크루이면
                                for(var i=0; i<5; i++) {
                                    var cloneDate = new Date(nowFullDate);
                                    cloneDate.setDate(1);
                                    cloneDate.setMonth(cloneDate.getMonth()-i);

                                    if(cloneDate.getMonth()===-1) {
                                        cloneDate.setFullYear(cloneDate.getFullYear()-1);
                                        cloneDate.setMonth(11);
                                    }
                                    console.log("5개월 이상 회비내역조회 : " + cloneDate)
                                    fullDates.push(cloneDate);
                                }
                            }

                            var forStat = 0;

                            fullDates.forEach(function(dateForMonth) {
                                document.write('<option value="' + forStat + '">' + (dateForMonth.getMonth() +1) + '</option>');
                                forStat++;
                            })

                            /*]]>*/
                        </script>
                    </select>
                    월의 회비 내역
                </div>
                <div class="line1"></div>
                <div class="history" id="memberPayViewBox"> 여기 내역이 작성됩니다. </div>
                <div class="line2"></div>
                <div class="summary">
                    <div class="sum_people">
                        [[${memberCount}]]명 중 <b id="payTotalCount">4명</b>이 납부하였습니다.
                    </div>
                    <div class="sum_money">
                        총 <b id="payTotalSum">80,000원</b> 납부되었습니다.
                    </div>
                </div>
                <div class="line3"></div>
            </div>
            <!-- 거래내역 조회 DIV -->
            <div id="account_history">
                <table>
                    <thead>
                        <tr>
                            <th>거래일자</th>
                            <th>구분</th>
                            <th>내용</th>
                            <th>입금액</th>
                            <th>출금액</th>
                            <th>잔액</th>
                        </tr>
                    </thead>
                    <tbody id="accountHistoryTbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cal_receipt">
            <div class="detail_href"><a id="detail_href">자세히보기 ▶</a></div>
            <div class="title">오늘의 일정</div>
            <div class="line1"></div>
            <div class="content">
                <div th:if="${crewScheTodayList!=null}" th:each="sche, scheStat : ${crewScheTodayList}" class="one_sche">
                    <div class="sche_content">
                        <div th:style="'background-color: ' + ${sche.sche_assort} + ';'" class="sche_color"></div>
                        <div class="today_title">[[${sche.sche_title}]]</div>
                    </div>
                    <div th:if="${sche.sche_start} == ${sche.sche_end}" class="sche-date">
                        [[${sche.sche_start}]]
                    </div>
                    <div th:if="${sche.sche_start} != ${sche.sche_end}" class="sche-date">
                        <div>
                            <div>[[${sche.sche_start}]]</div>
                            <div>~ [[${sche.sche_end}]] </div>
                        </div>
                    </div>
                </div>
                <div th:if="${crewScheTodayList==null}" class="dont_have_schedule">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Dotted%20Line%20Face.png" alt="Dotted Line Face" width="100" height="100" />
                    <div style="text-align: center; font-weight: bold; margin-top: 20px"> 오늘의 일정이 없습니다. </div>
                </div>
            </div>
            <div class="line2"></div>
            <div class="paper"></div>
        </div>
        <div class="money_receipt">
            <div class="title">회비 납입하기</div>
            <div class="line1"></div>
            <div class="content">
                <div class="wrap">
                    <div> <b th:text="${crewUserInfo.USER_NAME}">이름</b> 선원님의 의무납입횟수는 <b><p id="mustpaycount" th:text="${userMustPayCount}">5</p>회</b> 입니다.</div>
                    <div> <b th:text="${crewUserInfo.USER_NAME}">이름</b> 선원님은 현재 <b><p id="realpaycount" th:text="${userRealPayCount}">4</p>회</b> 납입하였습니다.</div>
                </div>
                <div class="thinDashline"></div>
                <div class="out_money">
                    <div id="up" th:onclick="clickUpArrow([[${dto.crew_paymoney}]])">▲</div>
                    <div class="wrap"><input type="text" id="num" disabled/> 회 납입하기</div>
                    <div id="down" th:onclick="clickDownArrow([[${dto.crew_paymoney}]])">▼</div>
                </div>
                <div class="select_wrap">
                    <select id="selectAccount" onchange="selectAccountOnChange()">
                        <option selected disabled> --- 계좌 선택하기 --- </option>
                        <option th:each="account, accountStat:${userAccountList}"
                                th:value="|${account.myaccount_bank} ${account.myaccount_anum}|">[ [[${account.myaccount_name}]] ] [[${account.myaccount_bank}]] [[${account.myaccount_anum}]]</option>
                    </select>
                    <img src="/images/crewDetail/free-icon-down-arrow.png" class="select_arrow_img"
                         id="selectAccount_arrow">
                </div>
                <div class="thinDashline"></div>
                <div class="account_result">
                    <div class="result"> 아래 계좌에서 <b><p id="payMoney">0</p>원</b>을 이체합니다. </div>
                    <div class="account">
                        <b id="bank">계좌를 선택해주세요.</b> <p id="account"></p>
                    </div>
                </div>
                <button type="button" id="paymentFeeBtn">납입하기</button>
            </div>
            <div class="line2"></div>
        </div>
    </div>
    <div id="modalBg" class="hiddenModalBg">
    <div id="exitModal" class="exitHidden">
        <div id="cannotExit" class="exitHidden">
            <div class="closeX" onclick="crewExitCloseXClick()">×</div>
            <div class="exitTitle">
                선장은 탈퇴할 수 없습니다.
            </div>
            <div class="btnWrapper">
                <button id="exitWarningOK" onclick="exitWarningOKClick()">확인</button>
            </div>
        </div>
        <div id="choiceYN" class="exitHidden">
            <div class="closeX" onclick="crewExitCloseXClick()">×</div>
            <div class="exitTitle">
                [ [[${dto.crew_name}]] ] 크루에서 정말 탈퇴하시겠습니까?
            </div>
            <div class="warning">
                <b> [ 안내사항 ] </b> <br><br>
                작성하신 게시글과 댓글은 삭제되지 않고 크루에 계속해서 보존됩니다.
                재가입을 하더라도 탈퇴 이전의 게시글과 댓글은 수정/삭제할 수 없으므로
                삭제를 원하는 게시물 또는 댓글이 있다면 탈퇴 전 반드시 삭제해주시기 바랍니다.
                또한, 탈퇴를 결정한 뒤에는 결정을 취소할 수 없으니 신중히 결정해주세요.
            </div>
            <div class="btnWrapper">
                <button id="exitYes" onclick="exitYesClick()">예</button>
                <button id="exitNo" onclick="exitNoClick()">아니오</button>
            </div>
        </div>
        <div id="exitYesResult" class="exitHidden">
            <div class="exitResultTitle">탈퇴가 완료되었습니다.</div>
            <div class="exitResultInfo">[ [[${dto.crew_name}]] ] 크루와의 항해를 종료합니다. </div>
            <button class="exitOK" onclick="exitYesOkClick()">확인</button>
        </div>
        <div id="exitNoResult" class="exitHidden">
            <div class="exitResultTitle">탈퇴를 취소합니다.</div>
            <div class="exitResultInfo">[ [[${dto.crew_name}]] ] 크루와의 항해가 계속됩니다 </div>
            <button class="exitOK" onclick="exitNoOkClick()">확인</button>
        </div>
    </div>
    <div id="calendarModal" class="calendarHidden">
        <div class="calModalTop">
            <div class="title">[[${dto.crew_name}]] 일정 조회</div>
            <div id="closeXBtn"> × </div>
        </div>
        <hr>
        <div id="crewCalendar">
            <div class="crewCalendarContainer">
<!--                <button id="addScheBtn" type="button">Add</button> 일정 관리 창에서만 쓸 버튼! -->
                <div id='calendar'></div>
                <div class='searchDateCont'>
                    <input type="date" id="searchDate">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="background">
        <div class="wave"><div class="blue"></div></div>
    </div>

    <th:block th:replace="nav_footer/nav_footer :: footer"></th:block>
    <th:block th:replace="nav_footer/nav_footer :: head"></th:block>

</body>


<script type="text/javascript" src="/js/crewDetail/crewmain.js"></script>
<script type="text/javascript" src="/js/crewDetail/crewCalendar.js"></script>
<script type="text/javascript" src="/js/crewDetail/memberPayView.js"></script>
<script type="text/javascript" src="/js/crewDetail/TransactionDetailView.js"></script>
<!-- 카톡 크루 초대하기 -->
<script id="javascript-sdk" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script th:src="@{/js/kakaoLink/kakaoLink.js}"></script>
<script type="text/javascript" src="/js/kakaoLink/kakaoLink.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /* 여기 20000원을 DB에서 불러와서 바꿔줄 것.
     * 1회차 납입액 X 기본적으로 불러와지는 납입해야할 횟수를 곱해서
     * 이 HTML이 처음로딩 되었을 때 payMoney에 불러오는 용도 */
    num = document.getElementById('num');
    payMoneyInt = /*[[${dto.crew_paymoney}]]*/;
    payMoney.textContent = String((payMoneyInt * num.value).toLocaleString("ko-KR"));
    setMemNames(/*[[${memberList}]]*/)
    setMemPayMoney(/*[[${memberList}]]*/,fullDates);
    /*]]>*/
</script>
</html>