<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width, initial-scale=1">
    <title>크루즈 :: [[${dto.getCrew_name}]] 크루 관리</title>
        <!--    FIXME 크루이름을 불러와서 넣을 수 있도록 하기 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/crewSchedule.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/crewInfoUpdate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/crewDelete.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/memberPayView.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/memberBan.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/memberDivN.css"/>
    <link rel="stylesheet" type="text/css" href="/css/crewSetting/crewSetting.css"/>
    <script src="https://kit.fontawesome.com/ccb8b5d85b.js" crossorigin="anonymous"></script>
    <!-- 제이쿼리 cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 풀캘린더 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <!-- 카카오톡 CDN -->
    <script id="javascript-sdk" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- ----------------- -->
    <script th:inline="javascript">
        <!-- 풀캘린더 스크립트 -->
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            calendarLoad(/*[[${crewNum}]]*/);
        });
        /*]]>*/
    </script>
</head>
<body>
    <input type="hidden" id="crewNumHidden" th:value="${crewNum}">
    <input type="hidden" id="crewNameHidden" th:value="${dto.crew_name}">
    <input type="hidden" id="crewAccountHidden" th:value="${dto.crew_accountid}">

    <div class="header"><th:block th:replace="nav_footer/nav_footer :: header"></th:block></div>

    <div class="background">
        <div class="wave"><div id="blue" class="hidden"></div></div>
    </div>

    <div class="visibleContainer">
        <div class="minSizeContainer">
            <div class="crewTitle">[[${dto.getCrew_name}]] 크루 관리</div>
                <div class="menuContainer">
                    <div class="menuCard" onclick="selectCrewSetting()">
                        <div class="menuImgContainer">
                            <i class="fa-solid fa-people-roof fa-5x" style="color: rgb(105, 89, 78);"></i>
                        </div>
                        <div class="menuTitle">크루관리</div>
                        <div class="menuSummary">
                            크루 일정 관리<br>
                            크루 정보 수정<br>
                            항해 중단하기
                        </div>
                    </div>
                    <div class="menuCard" onclick="selectMemberSetting()">
                        <div class="menuImgContainer">
                            <i class="fa-solid fa-sailboat fa-5x" style="color: rgb(105, 89, 78);"></i>
                        </div>
                        <div class="menuTitle">선원관리</div>
                        <div class="menuSummary">
                            월별 회비 조회<br>
                            선원 관리하기<br>
                            잔액 1/N 하기
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="turnBack">
        <a th:href="@{|/crew?crewNum=${crewNum}|}"> ▶ 크루로 돌아가기 </a>
    </div>
    <div id="settingDetailContainer" class="hidden">
        <div id="scrollPoint"></div>
        <div class="topContainer">
            <div id="crewTap" class="hidden">
                <div class="tap select" onclick="setCrewTapClick('scheduleSet')">크루 일정 관리</div>
                <div class="tap" onclick="setCrewTapClick('informationSet')">크루 정보 수정</div>
                <div class="tap" onclick="setCrewTapClick('crewDelete')">항해 중단하기</div>
            </div>
            <div id="memberTap" class="hidden">
                <div class="tap select" onclick="setMemTapClick('memberPayView')">월별 회비 조회</div>
                <div class="tap" onclick="setMemTapClick('memberBan')">선원 관리하기</div>
                <div class="tap" onclick="setMemTapClick('memberDivN')">잔액 1/N 하기</div>
            </div>
            <div id="up"> 위로 ▲ </div>
        </div>

        <div id="crewSettingBox" class="hidden">
            <div id="crewSettingTitle">크루 일정관리</div>
            <div id="crewSettingContent">
                <div id="scheduleSet" class="visibleSettings">
                    <div class="crewCalendarContainer">
                        <div id='calendar'></div>
                        <div class='searchDateCont'>
                            <input type="date" id="searchDate">
                        </div>
                    </div>
                    <div id="scheModalBg" class="hiddenModal">
                        <div id="addScheModal" class="hiddenModal">

                            <form name="scheForm" method="post">
                                <div class="scheModalTopCont">
                                    <div id="addScheTitle">일정 추가하기</div>
                                    <div id="addScheModalcloseX">×</div>
                                </div>
                                <hr>
                                <div class="addScheInputCont">
                                    <div class="rowCont">
                                        <div id="selectedColorCont">
                                            <div id="selectedColor" class="redSche"></div>
                                            <input type="hidden" id="scheAssort" name="sche_assort" value="redSche">
                                        </div>
                                        <div id="colorSelectorContainer" class="hiddenSpeechBubble">
                                            <div class="speechBubble"></div>
                                            <div id="redSche" class="assortColors redSche selectedColor"></div>
                                            <div id="greenSche" class="assortColors greenSche"></div>
                                            <div id="yellowSche" class="assortColors yellowSche"></div>
                                            <div id="blueSche" class="assortColors blueSche"></div>
                                            <div id="graySche" class="assortColors graySche"></div>
                                        </div>
                                        <input type="text" id="scheTitle" name="sche_title" placeholder="제목">
                                    </div>
                                    <div class="rowCont">
                                        <div style="display: flex; align-items: center">
                                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Travel%20and%20places/Alarm%20Clock.png"
                                                 alt="Alarm Clock" width="40" height="40" />
                                            &nbsp; &nbsp;하루종일
                                        </div>
                                        <div>
                                            <input type="checkbox" name="sche_alldayTF" id="allDayChk" value="true">
                                        </div>
                                    </div>
                                    <div class="rowCont">
                                        <div class="start">
                                            <input type="date" id="startDate">
                                            <input type="time" id="startTime" value="08:00:00">
                                            <input type="hidden" id="scheStart" name="sche_start" value="">
                                        </div>
                                        <div> → </div>
                                        <div class="end">
                                            <input type="date" id="endDate">
                                            <input type="time" id="endTime" value="09:00:00">
                                            <input type="hidden" id="scheEnd" name="sche_end" value="">
                                        </div>
                                    </div>
                                    <div class="buttonCont">
                                        <button type="button" class="hiddenBtn" id="addScheOK" th:onclick="addScheOKBtnClick([[${crewNum}]])">추가하기</button>
                                        <button type="button" class="hiddenBtn" id="updateScheOK">수정하기</button>
                                        <button type="button" class="hiddenBtn" id="delSche">삭제하기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="delScheModal_YN" class="hiddenModal">
                            <div class="delYNModalCont">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Dotted%20Line%20Face.png"
                                     alt="Dotted Line Face" width="150" height="150" />
                                <div id="deleteMsg"></div>
                                <div class="buttonCont">
                                    <button type="button" id="delScheOK">확인</button>
                                    <button type="button" id="delScheCancel">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- green 크루 정보 수정 -->
                <div id="informationSet" class="hidden">
                    <div class="information">
                        <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Writing%20Hand.png"
                             alt="Writing Hand" width="100" height="100" />
                        <div class="crewTitle">[[${dto.getCrew_name}]]</div>
                            <!-- FIXME 크루 이름 여기에 불러오기-->
                        <hr>
                        <div class="crewInfoSummary">
                            <div class="captainName">선장 [[${crewCaptain.getUser_name()}]]</div>
                            <div class="account">
                                <div class="accountBank">[[${dto.getCrew_bank()}]]</div>
                                <div class="accountNum">[[${dto.getCrew_accountid()}]]</div>
                            </div>
                            <div class="crewCreated">
                                <b th:text="${#strings.substringBefore(dto.crew_created, ' ')}"></b>
                                &nbsp; 부터 항해 시작</div>
                        <div class="crewSailing">항해&nbsp; <b>[[${crewSailingDayCount}]]</b>&nbsp;째</div>
                        </div>
                    </div>
                    <form name="crewInfoForm" method="post" action="">
                        <div class="content">
                            <div class="title">크루 소개</div>
                            <div class="info" id="countCrewInfoText">* 50자 까지만 작성 가능합니다.</div>
                            <textarea id="crewInfo" name="crew_info">[[${dto.getCrew_info()}]]</textarea>
                        </div>
                        <div class="content">
                            <div class="moneyContents">
                                <div class="moneyContent">
                                    <div class="title">납입 일자 및 납입 액수</div>
                                    <div class="inputContainer">
                                        매월 <input type="number" name="crew_paydate" id="payDate" th:value="${dto.getCrew_paydate()}"/> 일에
                                        <input type="text" name="crew_paymoney" id="payMoney" th:value="${dto.getCrew_paymoney()}">원씩 납입
                                    </div>
                                    <div class="warn" id="payMoneyWarn"></div>
                                    <div class="info">* 29, 30, 31일이 없는 달의 경우 매월 말일이 납입일로 설정됩니다.</div>
                                </div>
                                <div class="moneyContent">
                                    <div class="title">목표 금액</div>
                                    <div class="inputContainer">
                                        <input type="text" name="crew_goal" id="goalMoney" th:value="${dto.getCrew_goal()}">원
                                    </div>
                                    <div class="warn" id="goalMoneyWarn"></div>
                                </div>
                            </div>
                        </div>
                        <button id="updateBtn" type="button" th:onclick="crewUpdateBtnClick([[${crewNum}]])">수정하기</button>
                    </form>
                </div>
                <div id="crewDelete" class="hidden">
                    <div id="crewDeleteYNDiv" class="visibleDiv" >
                        <div class="title"> [ [[${dto.getCrew_name}]] ] 의 항해를 중단할까요? </div>
                        <div class="deleteWarning">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Warning.png"
                                 alt="Warning" width="40" height="40" /> <br><br>
                            항해 중단 결정 이후 3일 동안의 유예기간이 주어지며,
                            유예기간 동안에는 이 페이지를 통해 결정을 취소할 수 있습니다.<br>
                            유예기간 이후에는 항해 중단이 최종적으로 결정됩니다.
                            크루 데이터 및 크루 내의 모든 게시글과 댓글이 삭제되며, 이는 복구가 불가능합니다.
                        </div>
                        <div class="cannotDelete">
                            <div class="cannotDeleteTitle">[ 항해 중단이 불가능한 경우 ]</div>
                            <b>1. 크루 계좌의 잔액이 0원이 아닌 경우, 항해 중단이 불가능합니다.</b><br>
                            &nbsp;&nbsp;&nbsp;선원들과의 합의를 통해 계좌의 잔액이 남지 않도록 해주세요.<br>
                            &nbsp;&nbsp;&nbsp;크루 계좌의 남은 잔액을 선원들과의 합의 없이 개인적인 용도로 사용할 경우,
                               형사처벌의 대상이 될 수 있습니다.<br><br>

                            <b>2. 크루에 선장을 제외한 선원이 1명 이상 남아있는 경우, 항해 중단이 불가능합니다.</b><br>
                            &nbsp;&nbsp;&nbsp;선원들과의 합의를 통해 선장을 제외하고 남은 선원이 0명이 되도록 해주세요.<br>
                            &nbsp;&nbsp;&nbsp;악용 시 형사 처벌의 대상이 될 수 있음을 유의해주세요.<br>
                        </div>
                        <div>
                            <button id="deleteBtn" onclick="deleteBtnClick()"> 항해 중단하기 </button>
                        </div>
                    </div>
                    <div id="modalBackground" class="hiddenModal">
                        <div id="deleteYNModal" class="hiddenModal">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Warning.png"
                                 alt="Warning" width="40" height="40" />
                            <div id="deleteYNTitle">선원들과의 항해를 정말로 중단할까요?</div>
                            <div id="deleteYNMsg">크루 내의 데이터는 물론, 선원들과의 추억도 함께 사라집니다.</div>
                            <div class="deleteYNBtn">
                                <button onclick="modalWindowClose()">돌아가기</button>
                                <button id="deleteYesBtn" th:onclick="deleteYesBtnClick([[${crewAccountBalance}]], [[${#lists.size(memberList)}]])">정말로 그만하기</button>
                                            <!-- FIXME 계좌잔액, 남은선원수를 DB에서 불러와 넘겨주기-->
                            </div>
                        </div>
                        <div id="cannotDeleteModal" class="hiddenModal">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Warning.png"
                                 alt="Warning" width="40" height="40" />
                            <div id="deleteWarningTitle">대표계좌의 잔액이 0원이 아닙니다.</div>
                            <div id="deleteWarningMsg">대표계좌의 잔액을 0원으로 만들어주세요.</div>
                            <div class="cannotDeleteBtn">
                                <button onclick="modalWindowClose()">돌아가기</button>
                                <button id="memberDivNBtn" onclick="memberDivNBtnClick()">잔액 1/n하기</button>
                                <button id="gotoMemberBanBtn" onclick="gotoMemberBanBtnClick()">선원 강퇴하기</button>
                            </div>
                        </div>
                        <div id="crewDeleteCancelModal" class="hiddenModal">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Symbols/Warning.png"
                                 alt="Warning" width="40" height="40" />
                            <div id="cancelWarningTitle">항해를 다시 시작할까요?</div>
                            <div class="cancelDeleteBtn">
                                <button id="turnBackBtn" onclick="modalWindowClose()" >돌아가기</button>
                                <button id="turnBackCrewBtn" onclick="turnBackBtnClick()" class="hidden">확인</button>
                                <button id="cancelDeleteBtn" onclick="cancelDeleteBtnClick()">항해 다시 시작</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="memberSettingBox" class="hidden">
            <div id="memSettingTitle">월별 회비 조회</div>

            <div id="memSettingContent">

                <!-- 월별 회비조회 -->
                <div id="memberPayView" class="visibleSettings">
                    <div class="payReceipt">
                        <hr class="topBottomLine">
                        <div class="titleContainer">
                            <select class="month" id="payViewMonth" name="payViewMonth">
                                <!-- FIXME 월수만큼 불러오기 -->
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    /* 크루 월별회비조회 select부분 월 불러오기*/

                                    // 최근 5개월 회비내역 까지만 불러오기
                                    var nowFullDate = new Date();
                                    var nowFullYear = nowFullDate.getFullYear();
                                    var nowMonth = nowFullDate.getMonth() + 1;
                                    var fullDates = [];

                                    var crewCreated = [[${dto.crew_created}]]
                                    var crewCreatedYear = crewCreated.substring(0,5);
                                    crewCreatedYear = parseInt(crewCreatedYear);
                                    var crewCreatedMonth = crewCreated.substring(5,7);
                                    crewCreatedMonth = parseInt(crewCreatedMonth);

                                    if(nowFullYear-crewCreatedYear===0 && nowMonth-crewCreatedMonth<5) {
                                        // 만약 만들어진지 5개월 미만의 크루이면
                                        for(var i=0; i<=nowMonth-crewCreatedMonth; i++) {
                                            var cloneDate = new Date(nowFullDate);
                                            cloneDate.setDate(1);
                                            cloneDate.setMonth(cloneDate.getMonth()-i);

                                            if(cloneDate.getMonth()===-1) {
                                                cloneDate.setFullYear(cloneDate.getFullYear()-1);
                                                cloneDate.setMonth(11);
                                            }
                                            fullDates.push(cloneDate);
                                        }
                                    } else {
                                        // 5개월 이상의 크루이면
                                        for(var i=0; i<5; i++) {
                                            var cloneDate = new Date(nowFullDate);
                                            cloneDate.setDate(1);
                                            cloneDate.setMonth(cloneDate.getMonth()-i);

                                            if(cloneDate.getMonth()===-1) {
                                                cloneDate.setFullYear(cloneDate.getFullYear()-1);
                                                cloneDate.setMonth(11);
                                            }
                                            fullDates.push(cloneDate);
                                        }
                                    }

                                    var forStat = 0;

                                    fullDates.forEach(function(Date) {
                                        document.write('<option value="' + forStat + '">' + (Date.getMonth() +1) + '</option>');
                                        forStat++;
                                    })



                                    /*]]>*/
                                </script>


                            </select>
                            <div class="title">월 회비 조회</div>
                        </div>
                        <hr class="middleDotLine">
                        <div id="memberPayViewBox">여기 내역이 작성됩니다.</div>

                        <hr class="middleDotLine">
                        <div id="nonSelected" class="nonSelected">
                            <div class="wrap"> 총 <div class="payTotal"></div></div>
                        </div>
                        <div class="sendMsgContainer hiddenContainer">
                            <div class="msgReceiverContainer">
                                <div id="msgReceiverName">수신자이름</div>님 에게,
                                <div id="msgReceiverEmail" style="display: none;"></div>
                            </div>
                            <button id="sendKaKao" onclick="sendSettingBtnClick('kakao')">카카오톡 보내기</button>
                            <button id="sendAlert" onclick="sendSettingBtnClick('alert')">알림으로 보내기</button>
                        </div>
                        <hr class="topBottomLine">
                    </div>
                    <div class="rightContainer">
                        <hr class="topBottomLine">
                        <div id="defaultViewContainer">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Money%20with%20Wings.png"
                                 alt="Money with Wings" width="100" height="100" />
                            <div class="defaultMessage">
                                선원들의 납입현황을 확인해보세요!
                            </div>
                        </div>
                        <div id="kakaoTalkContainer" class="hiddenBox">
                            <div class="sendMsgTop">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Speech%20Balloon.png"
                                     alt="Speech Balloon" width="150" height="150" />
                                <div class="receiverContainer">
                                    <div id="talkReceiverName" class="receiverName">이름</div>님 에게 카카오톡 보내기
                                </div>
                            </div>
                            <div class="writeMsgContainer">
                                <b>카카오톡 메시지 입력하기</b>
                                <textarea id="kakaoTalkMsg" placeholder="메시지를 입력하세요."></textarea>
                            </div>
                            <button id="kakaoTalkSend">메시지 공유하기</button>
                        </div>
                        <div id="alertContainer" class="hiddenBox">
                            <div class="sendMsgTop">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Bell.png"
                                     alt="Bell" width="150" height="150" />
                                <div class="receiverContainer">
                                    <div id="alertReceiverName" class="receiverName">이름</div>님 에게 알림 보내기
                                    <div id="alertReceiverEmail" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="writeMsgContainer">
                                <b>알림 메시지 입력하기</b>
                                <textarea id="alertMsg" placeholder="메시지를 입력하세요."></textarea>
                            </div>
                            <button id="alertSend">알림 보내기</button>
                        </div>
                        <hr class="topBottomLine">
                    </div>
                </div>

                <!-- 선원 강퇴하기 -->
                <div id="memberBan" class="hidden">
                    <div class="memTableContainer">
                        <table class="memTableHead">
                            <tr>
                               <th>순번</th>
                               <th>구분</th>
                               <th>선원 이름</th>
                               <th>선원 이메일</th>
                               <th>크루가입일자</th>
                               <th>총납입액</th>
                               <th>납입의무횟수</th>
                               <th>미납횟수</th>
                               <th>관리</th>
                            </tr>
                        </table>
                        <div class="memTableBody">
                            <table th:if="${!#lists.isEmpty(memberList)}">
                                <tr th:each="mem, memStat:${memberList}">
                                    <td th:text="${memStat.count}"></td>
                                    <td th:if="${mem.CAPTAIN_YN=='Y'}">선장</td>
                                    <td th:if="${mem.CAPTAIN_YN=='N'}">선원</td>
                                    <td th:text="${mem.MEM_NAME}"></td>
                                    <td th:text="${mem.MEM_EMAIL}"></td>
                                    <td th:utext="${#dates.format(mem.JOIN_DATE,'yyyy-MM-dd')}"></td>
                                    <td th:text="|${mem.TOTAL_PAY}원|"></td>
                                    <td th:text="|${mem.MUST_PAYCOUNT}회|"></td>
                                    <td th:text="|${(mem.MUST_PAYCOUNT-mem.REAL_PAYCOUNT)}회|"></td>
                                    <td th:if="${mem.CAPTAIN_YN=='Y'}"></td>
                                    <td th:if="${mem.CAPTAIN_YN=='N'}">
                                        <button th:id="|memBanBtn${memStat.count}|" class='memBanBtn'
                                                th:onclick='memBanBtnClick([[${crewNum}]],[[${memStat.count}]],[[${mem.MEM_NAME}]],[[${mem.MEM_EMAIL}]])'>강퇴</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="memberBanModalBg" class="hiddenModal">
                        <div id="memberBanYNModal">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Waving%20Hand%20Light%20Skin%20Tone.png"
                                 alt="Waving Hand Light Skin Tone" width="100" height="100" />
                            <div class="memberBanYNModaltitle">
                                <div id="banMemNameYN">이름</div>님을 정말 내보낼까요?
                            </div>
                            <button id="banYes">네</button>
                            <button id="banNo">아니오</button>
                        </div>
                        <div id="memberBanCompleteModal" class="hiddenModal">
                            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Sad%20but%20Relieved%20Face.png"
                                 alt="Sad but Relieved Face" width="100" height="100" />
                            <div class="memberBanComplete">
                                    <div id="banMemNameCom">이름</div>님의 강퇴가 완료되었습니다.
                            </div>
                            <button id="backMemBanSettingBtn"> 확인 </button>
                        </div>
                    </div>
                </div>


                <!-- 잔액 1/N 하기 -->
                <form name="dividingBalanceForm">
                    <div id="memberDivN" class="hidden">
                        <div class="memberDivNTop">
                            <div><div id="crewName">[[${dto.getCrew_name}]]</div>의 납입금액은</div>
                            <div class="totalResult">총&nbsp;<div id="crewTotalMoney" th:text="|${crewAccountBalanceStr}원|">400,000원</div>&nbsp;입니다.</div>
                        </div>
                            <div class="memberDivideZone">
                                <table class="divTableHead">
                                    <tr>
                                        <th>순번</th>
                                        <th>구분</th>
                                        <th>선원 이름</th>
                                        <th>총 납입횟수</th>
                                        <th>분담 금액</th>
                                        <th>계좌선택</th>
                                    </tr>
                                </table>
                                <div class="divTableBody">
                                        <div id="memberListSize" style="display: none; height: 0">[[${#lists.size(memberList)}]]</div>
                                        <table>
                                            <tr th:each="mem,memStat : ${memberList}">
                                                <td th:text="${memStat.count}"></td>
                                                <td th:if="${mem.CAPTAIN_YN=='Y'}">선장</td>
                                                <td th:if="${mem.CAPTAIN_YN=='N'}">선원</td>
                                                <td th:id="|divMemName${memStat.count}|" th:text="${mem.MEM_NAME}"></td>
                                                <td th:text="${mem.REAL_PAYCOUNT}"></td>
                                                <td th:id="|amountPerPayment${memStat.count}|" th:text="|${#numbers.formatInteger((amountPerPayment*mem.REAL_PAYCOUNT), 1, 'COMMA')}원|">분담금액</td>
                                                <td>
                                                    <select th:name="|dividingAccount${memStat.count}|" th:id="|dividingAccount${memStat.count}|">
                                                        <option selected disabled> --- 계좌 선택하기 --- </option>
                                                        <option th:each="account : ${memberAccountMap[mem.MEM_EMAIL]}" th:value="|${account.myaccount_bank} ${account.myaccount_anum}|" th:text="|${account.myaccount_bank} ${account.myaccount_anum}|"></option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                </div>
                            </div>
                            <div class="divideBtnContainer">
                                <button id="divideNBtn" type="button"> 1/N하기 </button>
                            </div>

                        <div id="divideModalBg" class="hiddenModal">
                            <div id="divideConfirmModal" class="hiddenModal">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Palm%20Up%20Hand%20Light%20Skin%20Tone.png"
                                     alt="Palm Up Hand Light Skin Tone" width="100" height="100" />
                                <div class="divideConfirmTitle"> 다음과 같이 잔액을 나눕니다. </div>
                                <div class="divideConfirmZone">
                                    <div class="divideOneLine" th:each="mem,memStat : ${memberList}">
                                        <div>
                                            <div class="divideMemAccount" th:id="|dividingAccountOK${memStat.count}|">계좌번호 넣기</div>
                                            <div class="divideMemName" th:id="|divMemNameOK${memStat.count}|">(김은지)</div> 에게
                                            </div>
                                        <div>
                                            <div class="divideMemMoney" th:id="|amountPerPaymentOK${memStat.count}|">금액 넣기</div>입금
                                            <input type="hidden" th:name="|amountPerPaymentHidden${memStat.count}|" th:id="|amountPerPaymentHidden${memStat.count}|" th:value="${(amountPerPayment*mem.REAL_PAYCOUNT)}">
                                        </div>
                                    </div>
                                </div>
                                <div class="divideBtnContainer">
                                    <button id="divideYes" type="button">네</button>
                                    <button id="divideNo" type="button">아니오</button>
                                </div>
                            </div>
                            <div id="divideCompleteModal" class="hiddenModal">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Palm%20Up%20Hand%20Light%20Skin%20Tone.png"
                                     alt="Palm Up Hand Light Skin Tone" width="100" height="100" />
                                <div class="divideConfirmTitle"> 잔액 나누기가 완료되었습니다. </div>
                                <div class="divideBtnContainer">
                                    <button id="divideOKBtn" type="button">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <th:block th:replace="nav_footer/nav_footer :: head"></th:block>
</body>
    <script type="text/javascript" src="/js/crewSetting/crewSetting.js"></script>
    <script type="text/javascript" src="/js/crewSetting/crewSchedule.js"></script>
    <script type="text/javascript" src="/js/crewSetting/crewInfoUpdate.js"></script>
    <script type="text/javascript" src="/js/crewSetting/crewDelete.js"></script>
    <script type="text/javascript" src="/js/crewSetting/memberPayView.js"></script>
    <script type="text/javascript" src="/js/crewSetting/memberBan.js"></script>
    <script type="text/javascript" src="/js/crewSetting/memberDivN.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        setMemNames(/*[[${memberList}]]*/)
        setMemPayMoney(/*[[${memberList}]]*/,fullDates);
        /*]]>*/
    </script>

</html>