
.user-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user-cover1{
    /* border: 1px solid;  */
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: NanumSquareBold;
    padding: 40px 40px 0px 40px;
    font-size: 13pt;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13pt;
    font-family: NanumSquareExtraBold;
}

.user-name {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-email {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-tel {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-cover2 {
    /* border: 1px solid;  */
    display: flex;
    width: 80%;
    font-family: NanumSquareBold;
    padding: 0px 40px 10px 40px;
    font-size: 13pt;
    justify-content: space-between;
}

.addr-box1 {
    width: 80%; 
}

.addr-box2 {
    margin-left: 80px;
    width: 80%;
}

.user-addr1 {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-addr2 {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
   
}

.line2 {
    border: 2px solid #8b8b8b57;
    width: 87%;
    margin: 20px auto;
}


.user-cover3 {
    /* border: 1px solid; */
    width: 80%;
    font-family: NanumSquareBold;
    padding: 0px 40px 20px 40px;
    font-size: 13pt;
}

.password {
    margin-top: 10px;
    width: 87%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.passwordBtn{
    margin-left: 14px;
    padding: 7px 12px 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: NanumSquare;
}   

.passwordBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

.user-cover4 {
    /* border: 1px solid; */
    display: none;
    width: 80%;
    padding: 0px 40px 40px 40px;
    font-family: NanumSquareBold;
    font-size: 13pt;
    justify-content: space-between;
}

#hide{
    /* display: flex; */
}

.newPwd-box1 {
    width: 80%;
}

.newPwd-box2 {
    margin-left: 80px;
    width: 80%;
}

.newPwd {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.chk-newPwd {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}


.user-btn-box {
    /* border: 1px solid;  */

}

.updateBtn{
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    font-family: NanumSquare;
    font-size: 10pt;
    border: none;
    cursor: pointer;
}

.updateBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

