@charset "UTF-8";

body {
	margin: 0px;
	bottom: 0px;
	font-family: NanumSquare;
}

.navigator {
	height: 80px;
	background-color: rgba(255, 255, 255, 0.726);
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 25px;
	box-shadow: 0px 1px 20px lightgrey;
	position: relative;
    z-index: 2;
	/* 크루 상세페이지에서 알림창이 가려지길래 수정..!*/
}

.nav-item {
	padding: 28px 17px;
	font-weight: 700;
	font-size: 25px;
	background-color: transparent;
	border: none;
}

.logo_cruise {
	text-decoration: none;
	font-family: 'Black Han Sans', sans-serif !important;
	font-size: 40px;
	font-weight: 500;
	color: #0C0CCA;
}

.navigator_menu {
	display: flex;
	justify-content: center;
}

.navigator_menu_link {
	text-decoration: none;
	color: #0C0CCA;
}

/*
.navigator_menu_link:hover {
	color: #FFD966;
}
*/

.navigator .navigator_menu button {
	display: flex;
	margin-left: 10px;
	margin-bottom: 1px;
	cursor:pointer;
}

.voyage_button {
	margin-top: 1.5rem;
	padding: 5px 20px;
	color: #0C0CCA;
	border-color: #0C0CCA;
	border-radius: 10px;
	background-color: white;
	font-weight: bold;
	cursor:pointer;
}

.voyage_button:hover {
	transform: scale(1.07);
	border-color: #0C0CCA;
	background-color: #FFD966;
}
.button:visited{
	color: #FFD966;
}
.logout-icon{
	
	
}
footer{
	width: 100%;
}
.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	
}

.footer_container {
	max-width: 1170px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	height: 346px;
}

.last_line {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
}

/* menu-content,2로 나눔..! 수정-윤하 */
/* 미진언니..! 근데  min-width를 바꿨더니 비율에 따라 자꾸 모양이 달려져ㅜㅜ
근데 어캐 하는지 모르겠어..!! 일단 발표 화면 비율에 맞췄습니다...! */
.menu-content {
	display: none;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #FFD966;
	z-index: 2;
	font-size: 15px;
     width: 300px;
}

.menu-content2{
	text-align: center;
	display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #FFD966;
    z-index: 2;
    font-size: 15px;
    width: 160px;
}

.menu-content:after {
  position: absolute;
  bottom: 100%;
  left: 12%;
  margin-left: -10px;
  border: solid transparent;
  border-color: transparent;
  border-bottom-color: #FFD966;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}

.menu-content2:after {
  position: absolute;
  bottom: 100%;
  left: 23%;
  margin-left: -10px;
  border: solid transparent;
  border-color: transparent;
  border-bottom-color: #FFD966;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}

.menu-content a {
	padding: 12px 10px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	 color: inherit;
}

.menu-content2 a {
	padding: 12px 10px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	 color: inherit;

}

.alertDiv:hover {
	background-color: #FFF4A8;
	font-size: 16px;
	font-weight: 800;
	border-radius: 10px;
}

.menu-content2 a:hover {
	background-color: #FFF4A8;
	font-size: 16px;
	font-weight: 800;
}

.navButtonClick {
        display: flex;
        align-items: center;
        justify-content: center;
}

.clicked {
	color: #FFD966;
 }

 /* 윤하 수정 */
 .alertDiv{
    margin: 5px;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-family: 'NanumSquare';
 }

.userAlertGo{
    font-size: 11px;
}

.userAlertGo:hover{
    font-weight: 600;
    cursor: pointer;
}