body { /* 복사 금지 */-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
textarea {width: 100%; height: 100px; overflow: auto; background-color: white; resize: none;}
p {margin: 0;}

/* -- 계좌 등록 모달 css ----------------------------------------------------------------------------- */
/* 전반적인 모달 */

 .modal-div1, .modal-div2, .modal-div3 {
    display: none; /* 디폴트 none */
    position: fixed; /* 위치 고정 */
    z-index: 2; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);

}

.content {
    background-color: #ffffff; /* 모달창 배경 */
    /* margin: 5% auto; */
    padding: 20px 15px 20px 20px;
    width: 45%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
    font-family: NanumSquare;
    overflow: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.content::-webkit-scrollbar {
    width: 0;
}

.closeBtn1, .closeBtn2, .closeBtn3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn1:hover,.closeBtn1:focus,.closeBtn2:hover,.closeBtn2:focus,.closeBtn3:hover,.closeBtn3:focus {
    color: rgb(56, 44, 44);
    text-decoration: none;
    cursor: pointer;
}

.modal-cover {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 98%;
    height: auto; 
}

/* 모달1 내용 */

.modal-chk-box {
    /* border: 1px solid; */
    margin-top: 20px;
}

.agree-all-box {
    /* border: 1px solid; */
    margin-bottom: 15px;
}

.agree-select-box {
    margin-top: 20px;
}

.agree-text {
    font-size: 15pt;
    line-height: 35px;
    margin-bottom: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.agree-hide-box {
    display: none;
}

.nextBtn1, .nextBtn2, .addBtn {
    margin-top: 40px;
    padding: 20px 155px;
    font-size: 15pt;
    border: none;
    background-color: #bebebe;
    color: #ffffff;
    font-family: NanumSquareBold;
    border-radius: 13px;
}

/* 모달2 내용 */

.bank-box1, .bank-box2, .bank-box3 {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.bank-box2, .bank-box3 {
    margin-top: 20px;
}

.bankBtn:hover {
    cursor: pointer;
    /* border: 5px solid rgb(236, 100, 8); */
}

.click {
    border: 5px solid rgb(236, 100, 8);
}

.bankText {
    text-align: center;
    margin-top: 3px;
    font-family: NanumSquareBold;
}

/* 모달3 내용 */

.accountName-box {
    /* border: 1px solid; */
    width: 90%;
}

.account-text {
    font-size: 13pt;
    font-family: NanumSquareBold;
    color: #919090;
    margin-bottom: 10px;
    margin-top: 15px;
}

.resultDiv {/* 계좌 등록 입력창 알림 */
    margin-top: 5px;
    padding-left: 2px;
    color: red;
    font-size: 10pt;
    font-family: NanumSquare;
    font-weight: 600;
}

.account-input{
    padding: 10px;
    font-size: 13pt;
    font-family: NanumSquareBold;
    width: 95%;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    border: 2px solid #bebebe;
}

.accountNum-box{
    /* border: 1px solid; */
    width: 90%;
}

.accountPwd-box{
    /* border: 1px solid; */
    width: 90%;
}

.accountPwd-input {
    padding: 10px;
    font-size: 13pt;
    font-family: NanumSquareBold;
    width: 75%;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    border: 2px solid #bebebe;
}

.account-authBtn{
    margin-left: 10px;
    padding: 11px 15px;
    font-size: 11pt;
    font-family: NanumSquareBold;
    border-radius: 5px;
    border: 2px solid #bebebe;
    cursor: pointer;
}

.acount-authBtn:hover {
    border: 2px solid black;
}

/* 약관동의 체크박스 */

input[type="checkbox"]{
    display:none;
}
  
input[type="checkbox"] + label{
    cursor:pointer;
}

input[type="checkbox"] + label::before{ /* 클릭 전 */
    content:"";
    display:inline-block;
    width:13px;
    height:13px;
    border:2px solid #cecece;
    border-radius: 4px;
    vertical-align:middle;
}

input[type="checkbox"]:checked + label::before{ /* 클릭 후 */
    content:"";
    background-color:#ffffff;
    border-color:#cecece;
    background-image: url('/images/mypage/chk.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

/* -- 계좌 삭제 안내 모달 -------------------------------------------------------------------------------- */

.accountDelmodal-div {
    display: none; /* 디폴트 none */
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);
}

.accountDel-content {
    background-color: rgba(255,255,255,0.8); /* 모달창 배경 */
    margin: 15% auto; 
    padding: 40px 15px 40px 20px;
    width: 30%;
    height: auto; 
    border-radius: 10px;
    font-family: NanumSquare;
    overflow: auto;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.accountDelModal-closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.accountDelModal-closeBtn:hover {
    color: rgb(56, 44, 44);
    text-decoration: none;
    cursor: pointer;
}

.accountDel-box {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 98%;
    height: auto; 
    /* margin: 20px; */
}

.accountDel-title {
    font-size: 16pt;
    font-family: NanumSquareExtraBold;
    margin-bottom: 50px;
}

.yesBtn, .noBtn {
    font-family: NanumSquareBold;
    padding: 8px 30px 8px 30px;
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    margin-right: 24px;
}

.noBtn {
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}

.yesBtn:hover, .noBtn:hover {
    background-color: #0C0CCA;
    transition: 0.2s;
    color: white;
    cursor: pointer;
}

/* -- 계좌 상세 모달 ------------------------------------------------------------------------------------ */

/* 계좌 상세 모달창 */
.account-modal {
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(10px);
}

/* 계좌 상세 모달창 내용 */
.modal-content {
    background-color: #ffffff; /* 모달창 배경 */
    margin: 5% auto; 
    padding: 20px 15px 20px 20px;
    /* border: 1px solid #888; */
    width: 30%;
    height: 72%; 
    border-radius: 10px 10px 0px 0px;
    font-family: NanumSquare;
}

.modal-container {
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

.open-aname {
    /* background-color: #888; */
    font-family: NanumSquareExtraBold;
    font-size: 20pt;
    text-align: center;
}

.open-account{
    /* background-color: #ffd8d8; */
    font-family: NanumSquareBold;
    text-align: center;
}

.openuse-balance {
    /* background-color: #afff64; */
    font-family: NanumSquareBold;
    font-size: 25pt;
    margin-top: 25px;
    text-align: center;
}

.line {
    border: 2px dotted #0C0CCA;
}

.select-cover {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.openuse-input-search {
    /* border: 1px solid black; */
    width: 68%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    color: rgb(70, 70, 70);
}

.openuse-searchBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.openuse-box {
    /* border: 1px solid black; */
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

.openuse-box::-webkit-scrollbar {
    background-color: rgb(214, 214, 214);
    width: 15px;
}

.openuse-box::-webkit-scrollbar-thumb {
    background-color: #43439e;
}

.openuse-cover {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 10px;
}

.openuse-cover:last-child {
    border-bottom: none;
}

.openuse-cover:hover {
    background-color: rgb(221, 221, 221);
}

.openuse-date {

}

.dateDiv {
    width: 30%;
}

.contentDiv {
    width: 50%;
    text-align: center;
}

.moneyDiv {
    width: 20%;
    display: flex;
    justify-content: center;
}

.openuse-money {
    color: red;
}

.openuse-money2 {
    color: blue;
}


/* 닫기 버튼 */
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn:hover,.closeBtn:focus {
    color: rgb(56, 44, 44);
    text-decoration: none;
    cursor: pointer;
}