.webPwd-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-cover1{
    /* border: 1px solid;  */
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: NanumSquareBold;
    padding: 40px;
    font-size: 13pt;
    box-shadow: 0px 0px 10px 3px rgb(207, 207, 207);
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: NanumSquareExtraBold;
}

.message {
    font-size: 10pt;
    color: #8b8b8b;
    margin-top: 10px;
    margin-bottom: 15px;
}

.webPWd-input, .webPWd-chk-input {
    margin-top: 10px;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.webPWd-chk-input  {
    margin-top: 25px;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.webPwdBtn {
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: NanumSquareBold;
    width: 100%;
    margin-top: 10px;
    font-size: 13pt;
}

.webPwdBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

/* -- 비밀번호 변경 ------------------------------------------------------ */
.resultDiv {/* 계좌 등록 입력창 알림 */
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 2px;
    color: red;
    font-size: 9pt;
    font-family: NanumSquare;
    font-weight: 600;
}