/* -- 회원 탈퇴 모달 --------------------------------------------------------------------------- */

.userOutmodal-div {
    display: none; /* 디폴트 none */
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);
}

.userOutmodal-content {
    background-color: rgba(255,255,255,0.8); /* 모달창 배경 */
    margin: 10% auto; 
    padding: 20px 15px 20px 20px;
    width: 30%;
    height: auto; 
    border-radius: 10px;
    font-family: NanumSquare;
    overflow: auto;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.userOut-box {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 98%;
    height: auto; 
    /* margin: 20px; */
}

.userOut-title {
    font-size: 16pt;
    font-family: NanumSquareExtraBold;
    margin-bottom: 50px;
}

.userOut-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    color: #aaa;
    font-size: 10pt;
    margin-bottom: 40px;
    /* border-radius: 10px; */
}

.yBtn, .nBtn {
    font-family: NanumSquareBold;
    padding: 8px 30px 8px 30px;
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    margin-right: 24px;
}

.nBtn {
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}

.yBtn:hover, .nBtn:hover {
    background-color: #0C0CCA;
    transition: 0.2s;
    color: white;
    cursor: pointer;
}

/* 예,아니오 모달 */
.y-div, .n-div {
    display: none; /* 디폴트 none */
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);
}

.y-content, .n-content {
    background-color: rgba(255,255,255,0.8);
    margin: 15% auto; 
    /* margin-top: 20%; */
    padding: 20px 15px 20px 20px;
    width: 20%;
    height: auto; 
    border-radius: 10px;
    font-family: NanumSquare;
    /* overflow: auto; */
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.y-box, .n-box {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 98%;
    height: auto; 
    margin: 20px;
    padding: 30px;
}

.yes,.no {
    font-family: NanumSquareBold;
    padding: 8px 30px 8px 30px;
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
}

.yes:hover,.no:hover {
    background-color: #0C0CCA;
    transition: 0.2s;
    color: white;
    cursor: pointer;
}