
.user-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user-cover1{
    /* border: 1px solid;  */
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: NanumSquareBold;
    padding: 40px 40px 0px 40px;
    font-size: 13pt;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13pt;
    font-family: NanumSquareExtraBold;
}

.user-name {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-email {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-tel {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

<!-- 주소 부분 -->

.addr-box {
    display: flex;
    align-items: end;
}


.user-addr1 {
    margin-top: 10px;
    width: 72%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

.user-addr2 {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
   
}

.addrBtn {
    margin-left: 20px;
    padding: 0px 15px;
    font-family: NanumSquare;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.line2 {
    border: 2px solid #8b8b8b57;
    width: 87%;
    margin: 20px auto;
}

#changePwdBtn {

    background: white;
    border: none;
    font-family: 'NanumSquare';
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    color: #01049f;

}

/* -- 비밀번호 모달 ------------------------------------------------------ */
.userPwdmodal-div {
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);
}

.userPwd-content {
    background-color: rgba(255,255,255,0.8); /* 모달창 배경 */
    margin: 10% auto;
    padding: 40px 20px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    font-family: NanumSquare;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}


.user-cover3 {
    /* border: 1px solid; */
    width: 80%;
    font-family: NanumSquareBold;
    padding: 0px 0px 20px 80px;
    font-size: 13pt;
    margin-top: 50px;
}

.password {
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
    margin-bottom: 10px;
}

.passwordBtn{
    margin-left: 25px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: NanumSquare;
    font-weight: 600;
    background: white;
}   

.passwordBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

.pwdBtn{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    font-family: NanumSquare;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: white;
}

.pwdBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

.closeBtn{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn:hover {
    color: rgb(56, 44, 44);
    text-decoration: none;
    cursor: pointer;
}

/* - 새 비밀번호 부분 - */

.user-cover4 {
    /* border: 1px solid; */
    display: none;
    width: 80%;
    padding: 0px 0px 40px 80px;
    font-family: NanumSquareBold;
    font-size: 13pt;
    justify-content: space-between;
}

.newPwd-box1 {
    width: 80%;
}

.newPwd-box2 {
    margin-left: 80px;
    width: 80%;
}

.newPwd {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
    margin-bottom: 10px;
}

.chk-newPwd {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #8b8b8b;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
    margin-bottom: 10px;
}


.user-btn-box {
    /* border: 1px solid;  */

}

.updateBtn{
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    font-family: NanumSquare;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.updateBtn:hover {
    background-color: rgba(250, 211, 96, 0.726);
}

/* -- 비밀번호 변경 ------------------------------------------------------ */
.resultDiv {/* 계좌 등록 입력창 알림 */
    padding-left: 2px;
    color: red;
    font-size: 9pt;
    font-family: NanumSquare;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 모달 보임/안보임 클래스 */
.visible{
    display:block;
}

.hidden{
    display:none;
}

/* -- 회원정보 수정 모달 -------------------------------------------------------------------------------- */

.userUpdatemodal-div {
    display: none; /* 디폴트 none */
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 맨 앞 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 뒷 배경색 */
    backdrop-filter: blur(3px);
}

.userUpdate-content {
    background-color: rgba(255,255,255,0.8); /* 모달창 배경 */
    margin: 15% auto; 
    padding: 40px 15px 40px 20px;
    width: 30%;
    height: auto; 
    border-radius: 10px;
    font-family: NanumSquare;
    overflow: auto;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.userUpdate-box {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 98%;
    height: auto; 
    /* margin: 20px; */
}

.userUpdate-title {
    font-size: 16pt;
    font-family: NanumSquareExtraBold;
    margin-bottom: 50px;
}

.yesBtn, .noBtn {
    font-family: NanumSquareBold;
    padding: 8px 30px 8px 30px;
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    margin-right: 24px;
}

.noBtn {
    padding: 8px 20px 8px 20px;
    margin-right: 0px;
}

.yesBtn:hover, .noBtn:hover {
    background-color: #0C0CCA;
    transition: 0.2s;
    color: white;
    cursor: pointer;
}