table {
    border-top: 2px solid #444444;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

th, td {
    padding: 13px;
}

th {
    border-bottom: 1px solid #afafaf;
}

/* 게시글 */

.board-cover {
    width:70%;
    font-family: NanumSquareExtraBold;
    font-size: 11pt;
}

.board-div {
    background-color: white;
    padding: 10px;
    width: 97%;
    font-family: NanumSquare;
}

.no-board {
    text-align: center;
    padding: 50px 0px;
}

.td-article {
    /* border: 1px solid; */
    display: flex;
    /* border-bottom: 1px solid #afafaf; */
    font-size: 13px;
}

.board-num {
    /* border: 1px solid; */
    padding-left: 15px;
    padding-right: 20px;
    width: 40px;
    text-align: center;
}

.td-date {
    /* border: 1px solid; */
    width: 20%;
    text-align: center;
   /* border-bottom: 1px solid #afafaf; */
    font-size: 10px;
}

.td-hitcount {
    /* border: 1px solid; */
    width: 10%;
    text-align: center;
    /* border-bottom: 1px solid #afafaf; */
}

.td-comments {
    font-size: 13px;
}

.bottom-bar {
    padding: 13px 0px 0px 0px;
    font-family: NanumSquare;
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
}

.chk-text {
    padding-left: 10px;
}

.bottom-btn1 {
    background-color: #ededed;
    border: 1px solid gray;
    width: 100%;
}

.bottom-btn2 {
    margin-right: 5px;
    padding: 7px 15px;
    background-color: #ededed;
    border: none;
    border-radius: 6px;
    font-size: 9pt;
    cursor: pointer;
}

.bottom-btn:hover{
    background-color: rgba(250, 211, 96, 0.726);
}

/* 댓글 */

.comment-box {
    padding: 10px 0px;
    display: flex;
    font-family: NanumSquare;
}

.comment-content {
    padding-left: 20px;
}

.comment-subject {
    padding-left: 36px;
    font-size: 10pt;
    color: #afafaf;
}

/* 댓글부분 스크롤 */
.comment-table-div {
    overflow-y: auto;
    max-height: 300px;
}

.comment-table-div::-webkit-scrollbar {
    width: 10px;

}

.comment-table-div::-webkit-scrollbar-thumb {
    background: rgba(144,163,255,0.9); /* 스크롤바의 색상 */
    border-radius: 10px;
}

.comment-table-div::-webkit-scrollbar-track {
    background: white;  /*스크롤바 뒷 배경 색상*/
}

.comment-table-div::-webkit-scrollbar-button {

}


/* tab */

ul.tabs{
	margin: 0px;
	padding: 50px 0px 0px 50px;
	list-style: none;
}

ul.tabs li{
	background: none;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
    border-radius: 13px 13px 0px 0px;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px 0px 13px 13px;
}

.tab-content.current{
	display: inherit;
}

/* 체크박스 */

input[type="checkbox"]{
    display:none;
}
  
input[type="checkbox"] + label{
    cursor:pointer;
}

input[type="checkbox"] + label::before{ /* 클릭 전 */
    content:"";
    display:inline-block;
    width:13px;
    height:13px;
    border:2px solid #cecece;
    border-radius: 4px;
    vertical-align:middle;
}

input[type="checkbox"]:checked + label::before{ /* 클릭 후 */
    content:"";
    background-color:#ffffff;
    border-color:#cecece;
    background-image: url('/images/mypage/chk.png');
    background-repeat: no-repeat;
    background-position: 50%;
}