
.crew-scroll-box {
    position: relative;
}

.crew {
 
    /* background-color: red; */
    position: absolute;
    /* top: -108px; */
    right: -115px;
    bottom: 0;
}

.crew-scrollBtn {
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

.account-scroll-box {
    position: relative;
}

.account {
    position: absolute;
    right: -115px;
    bottom: 64px;
}

.account-scrollBtn {
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

.schdule {
  
}

/* 일정인데 아직 안해서 이름 없음 */
.aa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}