<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>크 루 즈</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/main.css"/>

    <script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.extensions.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.css"/>




</head>
<body>
<main id="fullpage">

    <section class="section" id="sect1">

        <div class="top">
            <h1>크 루 즈</h1>
            <strong style="font-size: 3rem;">크루즈에서 모임 통장을 시작하세요</strong>


            <div class="btn_box">
                <a href="/login">Log in</a>
                <a href="/signup">Sign up</a>
            </div>


        </div>


        <div class="bottom">
            <div class="inner">
                <p>
                    <br>
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Backhand%20Index%20Pointing%20Down.png" alt="Backhand Index Pointing Down" width="50" height="50" />
                </p>
                <strong style="font-size: 16px; font-weight: bold;" >scroll</strong>
            </div>
        </div>
    </section>
    <section class="section" id="sect2">
        <div class="center">
            <div class="inner">
                <div class="info">

                    <h3>"크루즈"</h3>
                    <div style="font-size: 25px;">
                        여러분의 지속적인 모임 활동을 응원하는<br> 모임통장 통합관리 서비스입니다<br>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section" id="sect3">
        <div class="center">
            <div class="inner">
                <div class="service">
                    <h2>Free Service</h2>
                    <div class="txt_box">
                        <strong>
                            크루즈에서는 여러분의 모임관리를 돕기위해 서비스를 무료로 제공합니다.
                        </strong>
                    </div>
                    <ul>
                        <li class="border_line">
                            <div class="icon_box major fa-solid fa-people-group fa-4x"></div>
                            <p>모임 통장 통합</p>
                        </li>
                        <li class="border_line border_line2">
                            <div class="icon_box major fa-regular fa-calendar-days fa-4x"></div>
                            <p>모임 일정 관리</p>
                        </li>
                        <li>
                            <div class="icon_box major fa-regular fa-clipboard fa-4x"></div>
                            <p>모임별 게시판</p>
                        </li>
                        <li class="border_line2">
                            <div class="icon_box major fa-solid fa-bell fa-4x"></div>
                            <p>모임 알림 서비스</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="sect4">
        <div class="inner">
            <div class="more">
                <h2>Lastly</h2>
                <div class="txt_box">
                    <video width="640" height="360"  class="video" autoplay muted controls loop>
                        <source src="images/cruise.mp4" type="video/mp4" />
                    </video>

                </div>
            </div>
        </div>
    </section>

    <footer class="section fp-auto-height" id="sect5">
        <div class="top_btn">
            <a href="#">Top</a>
        </div>
        <p>&copy; Cruise. All rights reserved </p>
    </footer>
</main>


<script>
    new fullpage('#fullpage', {
   //options here
   autoScrolling:true,
   scrollHorizontally: true,
    scrollOverflow: true
   });
   //top 버튼
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.top_btn').addEventListener('click', () => {
     fullpage_api.moveTo(1);
    });
   });
</script>
<script>

</script>

</body>



</html>