<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 화면</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/loginForm/loginForm.css}"/>
    <script src="https://kit.fontawesome.com/79ef7aaf2e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/loginForm/emailVerify.js}"></script>
    <script th:src="@{/js/loginForm/passwordToggle.js}"></script>

</head>
<body>


<main>

<div class="registration-container">
    <div class="registration-header">
        <h1>소셜 로그인</h1>
        <div class="social-icons">
            <a th:href="@{/oauth2/authorization/google}">
                <span class="lastLoginGoogle" style="display:none">최근 로그인</span>
                <img th:src="@{/images/google.jpeg}" alt="Google Logo" style="width: 80px; height: 80px; display:block;">

            </a>
            <a th:href="@{/oauth2/authorization/kakao}" >
                <span class="lastLoginKakao" style="display:none">최근 로그인</span>
                <img th:src="@{/images/kakao-사각아이콘.png}" alt="Kakao Logo" style="width: 80px; height: 80px; display:block;">
            </a>
            <a th:href="@{/oauth2/authorization/naver}">
                <span class="lastLoginNaver" style="display:none">최근 로그인</span>
                <img th:src="@{/images/naver-사각아이콘.png}" alt="Naver Logo" style="width: 80px; height: 80px; display:block;">
            </a>
    </div>


        <div id="or">
            <span class="or-line"></span> OR <span class="or-line"></span>
        </div>
    <span id="showHiddenDivButton"><h1>일반 로그인</h1></span>

    <div id="hiddenDiv" style="display: none;">
        <form id="signupForm" method="post" class="form-field" enctype="application/json">
            <div>
                <input id="emailInput" type="email" name="username" placeholder="이메일" required/>
                <span id="emailStatus"></span>
            </div>
            <div class="mainPassword">
                <input class="password" type="password" name="password" placeholder="비밀번호" required/>
                <div class="eyes">
                    <i class="fa-regular fa-eye-slash"></i>
                </div>
            </div>

            <button class="submit-button" type="button" onclick="submitForm()">로그인하기</button>
        </form>
    </div>
    <div>
        <div class="or-text">계정이 없으신가요? <a th:href="@{/signup}">회원가입을 해주세요!</a></div>
    </div>
</div>
</div>
</main>

</body>

<script>
    function submitForm() {

        const form = document.getElementById('signupForm');
        const formData = {
            email: form.elements['username'].value,
            password: form.elements['password'].value
        };

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/loginProcessing", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(formData));
        xhr.onload = function () {
            if (xhr.status === 200) {
            const accessToken = xhr.getResponseHeader('Authorization');
            const refreshToken = xhr.getResponseHeader('Authorization-Refresh');

            console.log(accessToken);
            console.log(refreshToken);

                localStorage.setItem('accessToken', accessToken); // 토큰을 로컬 스토리지에 저장합니다.


            const xhr2 = new XMLHttpRequest();
            xhr2.open("POST", "/mypage/mypage_all", true); // 루트 엔드포인트로 요청을 전송합니다.
            xhr2.setRequestHeader('Authorization', accessToken); // 토큰을 헤더에 추가합니다.
            xhr2.send();
            xhr2.onload = function() {
                const responseText = xhr2.responseText;

                   // document.open();
                   // document.write(responseText);
                   // document.close();
                   window.location.href = "/mypage/mypage_all";
            };
            } else {
        const errorDiv = form.querySelector('.error-message');
                if (!errorDiv) {
                    const errorDiv = document.createElement('div');
                    errorDiv.innerText = "비밀번호가 틀립니다.";
                    errorDiv.classList.add("error-message"); // 클래스를 추가합니다.
                    const submitButton = form.querySelector('.submit-button');
                    form.insertBefore(errorDiv, submitButton); // submitButton 이전에 오류 메시지를 추가합니다.
                }
            }
        };

    }
</script>


<script>

    function getCookie(name) {
           const value = `; ${document.cookie}`;
           console.log(value);
           const parts = value.split(`; ${name}=`);
           console.log(parts);
           if (parts.length === 2) return parts.pop().split(';').shift();
       }

       document.addEventListener('DOMContentLoaded',function(){

   const lastLoginMethod = getCookie('lastLoginMethod');

   if(lastLoginMethod === 'google'){
       document.querySelector('.lastLoginGoogle').style.display = 'block';
   }else if(lastLoginMethod=== 'kakao'){
       document.querySelector('.lastLoginKakao').style.display = 'block';
   }else if(lastLoginMethod=== 'naver'){
       document.querySelector('.lastLoginNaver').style.display = 'block';

   }

   });

</script>

</html>