<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signUpForm/signUpForm.css}"/>


    <script src="https://kit.fontawesome.com/79ef7aaf2e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <script th:src="@{/js/signUpForm/emailVerify.js}"></script>
    <script th:src="@{/js/signUpForm/passwordToggle.js}"></script>
    <script th:src="@{/js/signUpForm/postCode.js}"></script>
    <script>

    </script>


</head>
<body>

    <div class="registration-container">
        <div class="registration-header">
            <h1>소셜 회원가입</h1>
            <div class="social-icons">
                <a th:href="@{/oauth2/authorization/google}">
                    <img th:src="@{/images/google.jpeg}" alt="Google Logo" style="width: 80px; height: 80px; border-radius:5px;">
                </a>
                <a th:href="@{/oauth2/authorization/kakao}">
                <img th:src="@{/images/kakao-사각아이콘.png}" alt="Kakao Logo" style="width: 80px; height: 80px;">
                </a>
                <a th:href="@{/oauth2/authorization/naver}">
                <img th:src="@{/images/naver-사각아이콘.png}" alt="Naver Logo" style="width: 80px; height: 80px;">
                </a>
            </div>


        </div>


        <div id="or">
            <span class="or-line"></span> OR <span class="or-line"></span>
        </div>
        <span id="showHiddenDivButton"><h1>일반 회원가입</h1></span>

        <div id="hiddenDiv" style="display: none;">
           <form id="signupForm" action="/submitSignup" method="post" class="form-field">
               <div>
                   <input id="emailInput" type="email" name="username" placeholder="이메일" required/>
                   <span id="emailStatus"></span>
               </div>
               <div class="mainPassword">
                   <input class="password" type="password" name="password" placeholder="비밀번호" required/>
                   <div class="eyes">
                       <i class="fa-regular fa-eye-slash"></i>
                   </div>
               </div>
               <div>
                   <input type="text" name="name" placeholder="이름" required/>
               </div>
               <div>
                   <input type="tel" name="tel" placeholder="핸드폰번호" required/>
               </div>
               <div>
                   <input type="text" style="display:inline" placeholder="우편번호" id="addr1" readonly="readonly" name="zipcode">
                    <button type="button" class="btn btn-default zip-button" onclick="execPostCode();"><i class="fa fa-search"></i>우편번호 찾기</button>
               </div>
               <br/>
               <div>
                   <input type="text" name="address1" id="addr2" placeholder="주소" required readonly="readonly"/>
               </div>
               <div>
                   <input type="text" name="address2" id="addr3" placeholder="상세주소" required/>
               </div>
               <input type="hidden" name="provider" value="local"/>
               <input type="hidden" name="email_verified" value="1"/>
               <button class="submit-button" type="submit">가입하기</button>
           </form>
        </div>
        <div>
            <div class="or-text">계정이 있으신가요? <a th:href="@{/login}">로그인을 해주세요!</a></div>
        </div>
    </div>

</body>
</html>