@media (max-width: 1024px) {

    .crewInfoSummary .account, .crewInfoSummary .crewCreated, .crewInfoSummary .crewCreated {
        font-size: 10pt !important;
    }

    #informationSet .content .info {
        margin: 5px 0 5px 0!important;
        font-size: 9pt !important;
    }
}




#informationSet {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "information form";
}

#informationSet .information{
    grid-area: information;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.information img {
    margin-bottom: 5vh;
}

.information hr {
    width: 50px;
    rotate: -45deg;
    margin: 10vh auto 10vh auto;
}

.information .crewTitle {
    font-family: 'Cafe24Supermagic-Bold-v1.0', 'NanumSquare', 'sans-serif';
    font-size: 25pt;
    text-align: center;
    margin: 0;
}

.crewInfoSummary {
    width: 70%;
    text-align: left;
    padding-bottom: 15vh;
}

.crewInfoSummary .captainName {
    font-size: 15pt;
    font-family: 'NanumSquareExtraBold', 'sans-serif';
}

.crewInfoSummary .crewCreated {
    margin-top: 5px;
    font-size: 11pt;
    display: flex;
}

.crewInfoSummary .crewSailing {
    margin-top: 5px;
    font-size: 11pt;
    display: flex;
}

.crewInfoSummary .account {
    margin-top: 10px;
    font-size: 11pt;
    display: flex;
    justify-content: space-between;
}


#informationSet form {
    grid-area: form;
    padding-right: 5vw;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


#informationSet .content{
    display: inline-block;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    width: 100%;
}

#informationSet .content .title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

#informationSet .content .info {
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #ababab;
}

.warn {
    font-size: 10pt;
    margin-top: 10px;
    text-align: left;
    color: #ff0000;
    width: 270px;
}

#informationSet .content .inputContainer {
    display: flex;
    align-items: center;
}


#crewInfo {
    width: 100%;
    height: 150px;
    text-align: left;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    padding: 5px;
    resize: none;
}

#payDate {
    width: 40px;
    height: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 5px;
    text-align: right;
}

#payMoney {
    width: 50px;
    height: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 5px;
    text-align: right;
}

#goalMoney {
    width: 100px;
    height: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    text-align: right;
}

#informationSet .moneyContents {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px 0 0 0;
}

#informationSet .moneyContents .moneyContent .title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}






#updateBtn {
    font-family: 'NanumSquareExtraBold', 'sans-serif';
    font-size: 12pt;
    text-align: center;
    padding-top: 5px;
    align-self: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: #0C0CCA;
    color: white;
}

#updateBtn:hover {
    background-color: #FFD966;
    transition: 0.2s;
}

#updateBtn:active {
    background-color: #e1c059;
    transition: 0.2s;
}