@media (max-width: 1024px) {

    #memberPayView {
        min-width: unset !important;
        grid-template-columns: minmax(27px,0vw) minmax(430px,25vw) minmax(27px,2vw) minmax(300px,38vw) minmax(27px,0vw) !important;
    }

    .payReceipt, .rightContainer {
        min-width: unset;
    }
}


#memberPayView {
    min-width: 1080px;
    justify-content: center;
    grid-template-columns:
            minmax(37px,0vw) minmax(384px,25vw) minmax(37px,2vw) minmax(583px,38vw) minmax(37px,0vw);
            /*0vw 25vw 2vw 38vw 0vw;*/
    grid-template-areas:
    ". payReceipt . rightContainer .";
}

/* 선 */

.topBottomLine {
    margin: 2vh auto;
    width: 90%;
    border: 1px solid;
}

.middleDotLine {
    width: 85%;
    margin: 2vh auto;
    color: grey;
    border: 1px dashed;
}


/***************** 영수증 모양 ******************/


    /* 영수증 모양 */

    .payReceipt {
        grid-area: payReceipt;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        /* 세로 중앙정렬 */
        justify-content: space-between;
        min-width: 380px;
        height: 64vh;
        min-height: 452px;
        background-color: #f1f1f1;
        box-shadow: 4px 0 2px -2px rgba(0,0,0,0.2);
        row-gap: 0.7vh;
    }

    /* 영수증 내용 */



    .payReceipt .titleContainer {
        display: flex;
        flex-wrap: wrap;
        /*height: 50px;*/
        justify-content: center;
        align-items: center;
        position: relative;
        /*화살표 위치 절대고정 하기 위해서*/
    }


    .payReceipt .titleContainer .month {
        display: flex;
        font-family: 'NanumSquareExtraBold', 'sans-serif';
        font-size: 13pt;
        background-color: white;
        width: 50px;
        height: 40px;
        justify-content: center;
        text-align: center;
        margin-right: 5px;
    }

    .payReceipt .titleContainer .title {
        font-family: 'Cafe24Supermagic-Bold-v1.0', 'NanumSquare', 'sans-serif';
        font-size: 18pt;
    }


    /* 내용 나타나는 부분 */
    /* 멤버들의 납부 내역 */
    .payReceipt #memberPayViewBox {
        background-color: white;
        width: 80%;
        height: 23.5vh;
        padding: 3%;
        overflow-y: auto;
        /* 멤버수가 많아지면 스크롤이 생깁니다 */
    }

    .payReceipt #memberPayViewBox::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
        background-color: #d2d2e5;
    }

    .payReceipt #memberPayViewBox::-webkit-scrollbar-thumb {
        height: auto;
        background-color: #0C0CCA;
        border-radius: 10px;
    }

    .payReceipt #memberPayViewBox .oneLineContainer{
        display: flex;
        justify-content: space-between;
        padding: 2%;
    }

    /* 납부하지 않은 사람 표시 */
    .redName{
        font-weight: bold;
        color: red;
        cursor: pointer;
    }

    /* 납부하지 않은사람 - 마우스 대면 하이라이팅 */
    .highlighter {
        position: relative;
        cursor: pointer;
    }

    .highlighter:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 0;
        height: 25px;
        background-color: rgba(255, 207, 60, 0.33);
        z-index: 0;
    }

    .highlighter:hover:before {
        width: 100%;
        transition: all ease-out 0.5s;
    }

    /* 납부요청 메시지를 받는 사람*/

    .msgReceiverContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #msgReceiver {
        font-weight: bold;
    }

    .sendMsgContainer {
        margin: 0;
    }

    .sendMsgContainer button {
        width: 150px;
        margin: 1.2vh 5px 1vh 5px;
    }

    .hiddenContainer {
        display: none;
        height: 0;
    }

    .nonSelected {
        width: 100%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nonSelected .wrap{
        font-size: 15pt;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .payTotal {
        margin-left: 10px;
        font-weight: bold;
    }

    #sendKaKao, #sendAlert {
        margin-top:8px !important;
    }




/********************************************/

/***************** 오른쪽 부분 ******************/
    .rightContainer {
        /*background-color: #8d7e79;*/
        /* 영역 확인용 백그라운드 */
        grid-area: rightContainer;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        /* 세로방향 중앙 정렬 */
        align-items: center;
        /* 가로방향 중앙 정렬*/
        min-width: 580px;
        height: 64vh;
        min-height: 452px;
    }

    /* 아무것도 선택하지 않았을 때의 화면 */
    #defaultViewContainer .defaultMessage {
        margin-top: 10px;
        color: grey;
    }

    .rightContainer .hiddenBox {
        display: none;
        height: 0;
    }

    .rightContainer .visibleRight {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 54vh;
        flex-direction: column;
        justify-content: space-between;
    }


    /* 카카오톡 보내기 */

    #kakaoTalkContainer {
        row-gap: 2vh;
        align-items: center;
    }

    #alertContainer {
        row-gap: 2vh;
        align-items: center;
    }

    #kakaoTalkContainer img {
    }

    .receiverContainer {
        display: flex;
    }

    .receiverContainer .receiverName {
        font-weight: bold;
    }

    .writeMsgContainer {
        width: 100%;
        text-align: left;
        /*margin-top: 5vh;*/
    }
    .writeMsgContainer textarea {
        width: 100%;
        height: 10vh;
        resize: none;
        margin-top: 10px;
    }