@media (max-width: 1024px) {

    #memberBan {
         min-width: unset !important;
        grid-template-columns: minmax(37px,1fr) minmax(900px,10fr) minmax(37px,1fr) !important;
    }

    #memberBan .memTableContainer table {
        font-size: 11pt !important;
    }
}



#memberBan {
    min-width: 1080px;
    justify-content: center;
    text-align: center;
    grid-template-columns: minmax(37px,1fr) minmax(1000px,10fr) minmax(37px,1fr);
    grid-template-areas:
        ". memTable .";
}

#memberBan .memTableContainer {
    grid-area: memTable;
    height: 64vh;
}

/* 테이블 전체적인 설정 */
    #memberBan .memTableContainer table {
        width: 100%;
        text-align: center;
        border-collapse : collapse;
        /* 셀 간 간격을 없애준다. */
    }

    #memberBan .memTableContainer table tr {
        height: 7vh;
        text-align: center;
    }

    #memberBan .memTableBody table tr:hover {
        background-color: #ebebf3;
        font-weight: bold;
    }

    #memberBan .memTableContainer table tr td{
        text-align: center;
        margin: 0;
    }

    #memberBan .memTableContainer .memTableHead tr th{
        background-color: #dadae8;
    }

    #memberBan .memTableContainer .memTableHead tr th:last-child{
        background-color: #dadae8;
        /*padding-right: 10px;*/
    }

    .memBanBtn {
        width: 5vw !important;
        margin: 0 !important;
        font-family: NanumSquare, sans-serif;
        font-size: 12pt;
        height: auto;
        padding: 5px 4px 4px 4px;
        box-shadow: none;
    }


/* 표 간격 설정 */
    #memberBan .memTableContainer table tr td:first-child, #memberBan .memTableContainer table tr th:first-child {
        /* 순번 */
        width: 3vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(2), #memberBan .memTableContainer table tr th:nth-child(2) {
        /* 구분 */
        width: 3vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(3), #memberBan .memTableContainer table tr th:nth-child(3) {
        /* 선원이름 */
        width: 8vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(4), #memberBan .memTableContainer table tr th:nth-child(4) {
        /* 이메일 */
        width: 13vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(5), #memberBan .memTableContainer table tr th:nth-child(5) {
        /* 가입일자 */
        width: 8vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(6), #memberBan .memTableContainer table tr th:nth-child(6) {
        /* 총 납입액 */
        width: 6vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(6) {
        /* 총 납입액 */
        text-align: right;
    }

    #memberBan .memTableContainer table tr td:nth-child(7), #memberBan .memTableContainer table tr th:nth-child(7) {
        /* 납입의무횟수 */
        width: 6vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(8), #memberBan .memTableContainer table tr th:nth-child(8) {
        /* 미납횟수 */
        width: 5vw;
    }

    #memberBan .memTableContainer table tr td:nth-child(9), #memberBan .memTableContainer table tr th:nth-child(9) {
        /* 관리 */
        width: 7vw;
    }


/* 테이블 본문부분 설정 */
    .memTableBody {
        height: 56vh;
        overflow-y: auto;
        border-bottom: 1px solid #dadae8;
        margin-top: 1vh;
    }

    .memTableBody::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
        background-color: #d2d2e5;
    }

    .memTableBody::-webkit-scrollbar-thumb {
        height: auto;
        background-color: #0C0CCA;
        border-radius: 10px;
    }


/* 모달 */

    /* 모달 배경 */
    #memberBanModalBg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
    }

    #memberBanYNModal, #memberBanCompleteModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 10px;
        width: 400px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    }

    #memberBanYNModal img {
        margin: 15px 20px 20px 0;
    }

    #memberBanCompleteModal img {
        margin: 20px 0 15px 0;
    }

    .memberBanYNModaltitle, .memberBanComplete {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'NanumSquareExtraBold', 'sans-serif';
        font-size: 15pt;
    }

    #banYes {
        width: 100px;
        background-color: #0C0CCA;
        color: white;
        margin: 0 10px 0 0;
    }

    #banNo {
        width: 100px;
    }

