
body {
    background-color: #ffffff;
}

.practice {

}


/* 영수증 연습 */
    /* 네모 하나에 11px */
    /* 거기 맞춰서 top, bottom, body width 조절해주면 됨*/
.regTriangle {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
    transform: rotate(45deg);
    margin-left: 3px;
    box-shadow: 1px -1px 1px 0 rgba(0,0,0,0.2);
}

.payReceiptContainer {
    /*grid-area: payReceiptContainer;*/
    margin: 50px;
    width: 600px;
    height: 315px;
}

.payReceipt {
    position: relative;
}

.payReceipt .receiptTopBorder {
    display: flex;
    width: 330px;
    height: 12px;
    /*overflow: hidden;*/
    position: absolute;
    top: 0px;
    left: -2px;
}

.payReceipt .receiptBottomBorder {
    display: flex;
    width: 330px;
    position: absolute;
    top: 300px;
    left: -2px;
}

.receiptBody {
    width: 330px;
    height: 300px; /* height랑 bottom의 top이랑 px 맞춰주면 됨 */
    background-color: #f1f1f1;
    position: absolute;
    top: 4px;
    box-shadow: 1px 0 0 0 rgba(0,0,0,0.2);
    z-index: 1;
}