
        /* 모달 스타일 (CSS) */
         .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border: 2px solid #0C0CCA;
            width:400px;
        }

        .modal-header {
            margin-bottom: 10px;
        }

        .modal-header h2 {
            margin: 0;
            font-size: 24px;
            color: #0C0CCA;
        }

        .close {
            float: right;
            cursor: pointer;
        }

        .modal-footer {
            margin-top: 10px;
        }

        .modal-content button {
    margin: 5px;
    padding: 10px 20px; /* 버튼 내용과 모양을 조정할 수 있습니다. */
    border: none;
    cursor: pointer;
}

/* 수락 버튼의 배경색 */
        .modal-content button.accept {
            background-color: #4CAF50;
            color: white; /* 버튼 텍스트 색상 */
        }

        /* 거절 버튼의 배경색 */
        .modal-content button.reject {
            background-color: #f44336; /* 적당한 배경색을 여기에 지정하세요 */
            color: white;
        }

.modal{
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% { color: #0C0CCA; }
  50% { color: #FFD966; }
  100% { color: #0C0CCA; }
}