<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

	<th:block th:fragment="head">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f350c9c720.js" crossorigin="anonymous"></script>
		<script>
			function logout() {
                localStorage.removeItem('accessToken');
                window.location.href = '/logout';
            }
		</script>
		<script src="/js/nav_footer/nav.js"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/nav_footer/nav_footer.css}"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
</th:block>
</head>
<body>

 <th:block th:fragment="header">
	<nav class="navigator">
		<div>
			<a href="http://192.168.16.27:8082/" class="logo_cruise"><i class="fa-brands fa-docker"></i> 크루즈
			</a>
		</div>

		<div class="navigator_menu">
			<div>
				<button id="first_menuButton"
					class="fa-regular fa-bell navigator_menu_link nav-item navButtonClick"></button>
				<div id="first_menu" class="menu-content">

					<div id="alertDivId">
						<!-- 알림 내역 -->
<!--						<a href="#"> -->
<!--							<span style="font-weight: 600;">미납</span><br/><br/> -->
<!--							<span>[크루명] 새 공지가 등록되었습니다.</span> -->
<!--						</a> -->
					</div>

					<div style="float: right;">
						<a th:href="@{http://192.168.16.27:8082/mypage/mypage_myAlert}"><label class="userAlertGo">자세히보기 ></label></a>
					</div>
				</div>
			</div>

			<div >
				<button id="second_menuButton"
					class="fa-solid fa-bars navigator_menu_link nav-item navButtonClick" ></button>
				<div id="second_menu" class="menu-content2">
				
				
					<a th:href="@{http://192.168.16.27:8082/mypage/mypage_myInfo}">내 프로필</a>
					<a th:href="@{http://192.168.16.27:8082/mypage/mypage_board}">내 게시글</a>
					<a th:href="@{http://192.168.16.27:8082/mypage/mypage_webPassword}">이체 비밀번호 관리</a>
					<th:block th:unless="${#authorization.expression('isAuthenticated()')}">
						<a href="http://192.168.16.27:8082/login">로그인</a>
					</th:block>
					<th:block th:if="${#authorization.expression('isAuthenticated()')}">
					<a onclick="logout()" >로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
					</th:block>
				</div>
			</div>
			<div>
				<button class="voyage_button" type="button" onclick="location.href = 'http://192.168.16.27:8082/moim/passbook'">항해시작</button>
			</div>
		</div>

	</nav>

	 <div id="toast"></div>




 </th:block>


<th:block th:fragment="footer">
	<footer>
		<div class="footer" >
			<div class="footer_container">
				<div class="footer_menu">
					<p>
						<i class="fa-brands fa-docker"> 크루즈㈜ </i><br> <br> 대표이사
						홍길동 | 사업자등록번호 166-15-01234 | 서울특별시 강남구 테헤란로 1244층 (역삼동, 삼원타워) <br>
					</p>
					<p>
						<i class="fa-solid fa-phone fa-2xs"></i> 유선 상담 1998-0917 평일
						09:00~18:00 (은행 휴무일 제외)
					</p>
				</div>
				<div class="last_line">
					<b>© Cruise. All rights reserved</b>
				</div>
			</div>
		</div>

	</footer>



</th:block>

</body>

</html>