@CHARSET "UTF-8";

body {
	font-family: NanumSquare;
    margin: 0;
    padding: 0;
}

#bbs {
	width:700px;
	margin:30px auto;
	text-align:left;
}

#bbsArticle {
	width:700px;
	overflow: visible;

	text-align:left;
}

#bbsArticle_header {
	height:130px;
	margin-top:60px;
	border-bottom:2px solid black;
	text-align:left;
}
#bbsArticle_header a{
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	color: gray;
	margin-top: 10px;
}

#bbsArticle_content {
	overflow: visible;
	text-align:left;

	margin: 50px 20px;
}

.content-box{
    font-family: 'NanumSquare';
	padding-left: 20px;
	resize: none;
	background-color: #ffffff;
	border: 0px;
	line-height: 1.3;
	font-size: 17px;
}
.article_button {
	color: green;
	background-color:transparent;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	font-family: 'NanumSquare';
}
.article_button_flex{
	display:flex;
	justify-content: flex-end;
}
.article_button2{
	  margin-left: 5px;
	  color: white;
	  padding: 15px 25px;
	  display: inline-block;
	  border: 1px solid rgba(0, 0, 0, 0.21);
	  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	  border-radius: 4px;
	  background-color: #7498CA;
	  padding: 3px 10px;
	  font-size: 11px;
	  cursor: pointer;
}

.article_button2:hover{
	background-color: #6A8AB8;
}
.article_button2:active {
  top: 1px;
  position: relative;
}

#comment_box{
	margin-top: 10px;
	border: 1px solid #F7F7F7;
	background-color: #F7F7F7;
	width: 655px;
	padding: 10px 25px;
}

.commentInfo{
	display: flex;
	justify-content: space-between;
}
.commentContent{
	margin-top: 3px;
	margin-bottom: 3px;
}
.commentCreated{
	color: gray;
	font-size: 13px;
	margin-bottom: 5px;
}
.commentReply{
	cursor: pointer;
	font-size: 14px;
	border: 1px solid gray;
	padding: 3px 7px;
}
.comment-comment{
	border-top:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	padding:15px 30px;
	background-color: #E3E3E3;
}
.article_comment{
	padding-top: 10px; padding-bottom: 10px;
}
.comment_user_name{
	padding-top: 5px;
	font-weight: bold;
}
.article_toggle {
	background-color: transparent;
	align-items: center;
	font-size: 25px;
}

.article_toggle_menu {
	display: flex;
	justify-content: center;
}
.article_item {
	font-size: 15px;
	background-color: transparent;
	border: none;
}

.article_toggle_link {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.article_toggle_link:hover {
	color: #FFD966;
}

.toggle-content {
	display: none;
	position: absolute;
	background-color: white;
	width:40px;
	border-radius: 2px;
	border: 1px solid gray;
	z-index: 1;
	height: 60px;
	padding-left: 10px;
}
.commentLink{
	font-size: 15px;
	cursor: pointer;
}

.card-body{
	margin-top: 20px;
	margin-bottom: 20px;
}