@CHARSET "UTF-8";

* {
	margin:0px;
	padding:0px;
}

body {	
	font-family:NanumSquare;
}

a {
	cursor: hand;
	color: #000000;
	text-decoration: none;
	font-size: 10pt;
	line-height: 150%;
}

ul {
	list-style: none;
}

td {font-size: 10pt;}

.btn1 {
	font-size: 10pt;
	color:rgb(0,0,0); 
	background-color:rgb(245,245,245); 
	line-height:16px;
}

.btn2 {   
	color:#000000;
	font: normal 10pt 'NanumSquare','trebuchet ms',helvetica,sans-serif;
	background-color:#E4E4E4;
	border:1px solid;
	border-color: #696 #363 #363 #696;
	line-height:16px;
	padding:1px 6px 1px 6px;
}
