@charset "UTF-8";

body {
	font-family: NanumSquare;
}

#bbs {
	width:100%;;
	height: 80vh;
	text-align:left;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bbsUpdated {
	width:690px;
	overflow:hidden;
	border-top:2px solid black;
	border-bottom:1px solid #DBDBDB;
	text-align:left;
    font-family: NanumSquare;
}

.updated-bottomLine {
	height:35px;
	line-height:35px;
	border-bottom:1px solid #DBDBDB;
	clear:both;
	text-align:left;
	
}

#bbsUpdated dt {
	float:left;
	height:35px;
	width:150px;
	line-height:35px;
	text-align:center;
	background-color:#EEEEEE;
}
#bbsUpdated dd {
	float:left;
	height:35px;
	width:370px;
	line-height:35px;
	text-align:left;
	padding-left:10px;
}


#bbsUpdated_content {
	height:170px;
	line-height:170px;
	border-bottom:1px solid #DBDBDB;
	clear:both;
	text-align:left;
}

#bbsUpdated_content dt {
	float:left;
	height:170px;
	width:150px;
	text-align:center;
	background-color:#EEEEEE;
}
#bbsUpdated_content dd {
	float:left;
	height:170px;
	width:370px;
	line-height:170px;
	text-align:left;
	padding-left:10px;
}
.box-subject { 
	width:455px;
	border:1px solid; 
	height:15px; 
	margin-top:7px; 
	padding:2px;
	border-color:#666666; 
	background-color:#ffffff; 
	font-size:9pt;
}

.box-content {
    width:455px;
	border:1px solid; 
	height:150px; 
	margin-top:7px; 
	padding:2px;
	border-color:#666666; 
	background-color:#ffffff;
	font-family: NanumSquare;
	font-size:9pt;
	line-height: 1.3;
}


#bbsCreated_footer {
	width:690px;
	overflow: visible;
	clear:both;
	height:50px;
	text-align: center;
	line-height:50px;
	
}

.updated-button{
	cursor: pointer;
	font-size: 14px;
	border: 1px solid gray;
	padding: 1px 5px;
	background-color: transparent;
}

