<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈페이지~</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/homePage/homePage.js}"></script>



</head>

<body>
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <!-- If authenticated, display the "Logout" link -->
    <a  th:href="@{/logout}">로그아웃</a>
</th:block>
<!-- If not authenticated, display the "Login" and "Sign up" links -->
<th:block th:unless="${#authorization.expression('isAuthenticated()')}">
    <a th:href="@{/login}">로그인</a>
<a  th:href="@{/signup}">회원가입</a>
</th:block>

<p id="sessionGroup" th:if="${session.group != null}" th:text="${session.group}" style="display:none"></p>
<p id="sessionNum" th:if="${session.num != null}" th:text="${session.num}" style="display:none"></p>
<p id="sessionEmail" th:if="${session.email != null}" th:text="${session.email}" style="display:none"></p>

</body>
</html>
</body>